@import "../../../style/global";

.orders {
  min-height: rpx(300);
}

.tab-content {
  padding       : rpx(48) rpx(10) rpx(30) rpx(10);
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.load-state {
  text-align: center;
  font-size : rpx(12);
  color     : #999;
  margin-top: rpx(15);
}

.appointment {
  width        : 662rpx;
//   height       : 394rpx;
  background   : #FFFFFF;
  border-radius: 14rpx;
  margin-top   : 24rpx;
  padding      : 19rpx;

  .base-info {
    display       : flex;
    flex-direction: row;
    align-items   : center;

    .img {
      position        : relative;
      width           : 68rpx;
      height          : 68rpx;
      background-color: #F7F7F7;
      border-radius   : rpx(4);
      overflow        : hidden;
    }

    .name {
      font-size  : 32rpx;
      font-family: PingFang SC;
      font-weight: bold;
      color      : #333333;
      line-height: 28rpx;
      margin-left: 20rpx;
    }

    .status {
      font-size  : 28rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #FF4C4C;
      line-height: 36rpx;
      position   : absolute;
      right      : 60rpx;
    }

    .success {
      color: #0EC261 !important
    }
  }

  .service-item {
    margin-top : 41rpx;
    display    : flex;
    align-items: center;

    .label {
      font-size  : 24rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #999999;
      line-height: 40rpx;
    }

    .content {
      margin-left: 46rpx;
      font-size  : 24rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #333333;
      line-height: 40rpx;
    }
  }

  .time {
    margin-top : 41rpx;
    display    : flex;
    align-items: center;

    .label {
      font-size  : 24rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #999999;
      line-height: 40rpx;
    }

    .time-detail {
      margin-left: 46rpx;
      font-size  : 24rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #333333;
      line-height: 40rpx;
    }
  }

  .split-line {
    width     : 675rpx;
    height    : 1rpx;
    background: #F3F4F6;
    margin-top: 40rpx;
  }

  .btn-area {
    height     : 127rpx;
    display    : flex;
    align-items: center;

    .timer {
      font-size  : 20rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #CCCCCC;
      line-height: 40rpx;
    }

    .btn-group {
      display    : flex;
      align-items: center;
      position   : absolute;
      right      : 60rpx;

      .modify-btn {
        margin-left     : 29rpx;
        display         : flex;
        align-items     : center;
        justify-content : center;
        border-radius   : 50rpx;
        background-color: #0C5CA5;
        height          : 59rpx;
        width           : 170rpx;

        .btn-label {
          color    : #FFFFFF;
          font-size: 26rpx;
        }
      }

      .cancel-btn {
        margin-left     : 29rpx;
        display         : flex;
        align-items     : center;
        justify-content : center;
        border-radius   : 50rpx;
        border          : 1rpx #999999 solid;
        background-color: #FFFFFF;
        height          : 58rpx;
        width           : 170rpx;

        .btn-label {
          color    : #999999;
          font-size: 26rpx;
        }
      }
    }
  }
}