@import "../../style/global";

.fixed {
  height: rpx(45);
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: blue;
}

.refreshScroll {
  padding-top: rpx(45);
}

.item {
  height: rpx(200);
  background-color: gold;
  margin: rpx(10) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include text(15, red)
}