@import "../../style/global";
.section {
  display: flex;
  justify-content: center;
  height: rpx(44);
  background-color: #fff;
  border-top: #f5f5f5 rpx(1) solid;
  border-bottom: #f5f5f5 rpx(1) solid;
  .contain {
    position: relative;
    display: flex;
    margin: auto;
    text {
      line-height: rpx(44);
      font-size: rpx(14);
    }
    image {
      position: relative;
      margin-left: rpx(10);
      top: rpx(19);
      width: rpx(8);
      height: rpx(6);
    }
  }
}
.chooseSection {
  position: absolute;
  top: rpx(46);
  background-color: #fff;
  width: 100%;
  z-index: 10000;
  border-radius: 0 0 rpx(10) rpx(10);
  .itemSection {
    position: relative;
    height: rpx(44);
    line-height: rpx(44);
    padding: 0 rpx(24);
    display: flex;
    color: #626973;
    justify-content: space-between;
    .text {
      line-height: rpx(44);
      font-size: rpx(14);
    }
    image{
      position: relative;
      top: rpx(15);
      width: rpx(16);
      height: rpx(14);
    }
  }
  .active {
    background-color: #F6F9FF;
    color: #4184FB;
  }
}
.bjShadow {
  height: 100%;
  position: absolute;
  top: rpx(46);
  background-color: #f5f5f5;
  width: 100%;
  z-index: 9999;
  opacity: 0.5;
}