@import "../../../style/global";
page, block, view, scroll-view, swiper, movable-view, icon, text, progress, button, checkbox, form, input, label, picker, picker-view, radio, slider, switch, textarea, navigator, audio, image, video, map, canvas, contact-button, cover-image, cover-view {
  box-sizing: border-box;
}

page{
  height: 100%;
  font-size: 28rpx;
  color: #555;
  background: #efeff4;
  overflow-x: hidden;
}
page>.page {
  width: 750rpx;
  overflow-x: hidden;
}
.hidden {
  display: none !important;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}
.flex-y-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.flex-x-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info {
  width: 100%;
}

.white {
  color: #fff;
}

.black {
  color: #353535;
}

.big {
  font-size: 88rpx;
  display: inline-block;
}

.big-13 {
  font-size: 30rpx;
}

.big-14 {
  font-size: 32rpx;
}

.bottom {
  font-size: 24rpx;
  margin-left: 4rpx;
  display: inline-block;
}

.info-margin {
  margin: 20rpx 0;
}

.border-bottom {
  border-bottom: 1rpx #ccc solid;
  height: 100%;
}

.margin-top {
  margin-top: 20rpx;
}

.info .info-title {
  padding: 24rpx 24rpx;
  background-color: #ff4544;
  width: 100%;
}

.info .info-title .info-block {
  width: 50%;
}

.info .info-title .info-block .info-up {
  margin-top: 15rpx;
  padding-bottom: 10rpx;
}

.info .info-bottom {
  display: inline-table;
  width: 100%;
}

.info .info-block .info-btn {
  border: 1rpx #fff solid;
  border-radius: 10rpx;
  text-align: center;
  float: right;
  margin-top: 45rpx;
  padding: 6rpx;
}

.info .info-content {
  width: 100%;
}

.info .info-content .info-label {
  width: 100%;
  height: 96rpx;
  padding: 0 24rpx;
  background-color: #fff;
}

.info-content .info-label .info-left {
  width: 50%;
}

.info-content .info-label .info-right {
  width: 50%;
  text-align: right;
  color: #666666;
}

.info-footer {
  width: 100%;
  padding: 40rpx 24rpx 0 24rpx;
}

.info-footer .info-btn {
  width: 100%;
  background-color: #ff4544;
  height: 100rpx;
  border-radius: 10rpx;
  line-height: 100rpx;
  text-align: center;
}