@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";
.upload-img {
  padding-bottom: rpx(90);
  .upload-img-block {
    background-color: $white;
    padding: rpx(15);
    &.tips {
      margin-top: rpx(10);
    }
    &.config {
      padding-bottom: 0;
    }
    .text {
      @include text(14, $color-font-333);
      font-weight: bold;
    }
    .text-list {
      display: flex;
      align-items: flex-start;
      padding-top: rpx(7);
      .num {
        display: flex;
        align-items: center;
        justify-content: center;
        @include wh(13, 13);
        border-radius: 100%;
        background: #FFF4E9;
        border: 1px solid #FCDCC3;
        @include text(10, #E39254);
        margin-right: rpx(4);
        flex: rpx(13) 0 0;
      }
      .cont {
        @include text(12, $color-font-616);
        line-height: 1.5;
      }
    }
    .content {
      word-break: break-all;
      image{
        display: block;
        width: rpx(325);
      }
    }
  }

  .block-items {
    .block-item {
      line-height: rpx(50);
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include border-bottom();
      .label {
        @include text(14, $color-font-222);
        flex: rpx(100) 0 0;
        &.flex-start {
          align-self: flex-start;
        }
      }
      .value-wrap {
        height: rpx(50);
        line-height: rpx(50);
        display: flex;
        align-items: center;
        text-align: right;
      }
      .value {
        @include text(14, $color-font-333);
        text-align: right;
        flex: 1;
        input {
          width: 100%;
        }
      }

      .shop-lists {
        max-height: rpx(200);
        overflow-y: scroll;
        .shop-list {
          height: rpx(50);
          display: flex;
          align-items: center;
          @include border-bottom();
          &:first-child {
            @include border-top();
          }
        }
      }
      .close {
        @include text(14, #594215);
        font-weight: bold;
      }
    }
  }

  .img-lists-wrap {
    width: rpx(375);
    margin-top: rpx(10);
    .img-lists {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      .img-wrap {
        width: rpx(80);
        height: rpx(80);
        background: #FDF3F0;
        position: relative;
        border-radius: rpx(4);
        text-align: center;
        margin-top: rpx(10);
        margin-right: rpx(10);
        &.empty {
          border: none;
          background: $white;
        }
        &.upload-wrap {
          border: 1px dashed $border-color-D4D;
          background: $white;
        }
        .close {
          position: absolute;
          top: rpx(-9);
          right: rpx(-9);
          width: rpx(18);
          height: rpx(18);
        }
        .image {
          display: block;
          width: rpx(80);
          height: rpx(80);
          border-radius: rpx(4);
        }
        .upload {
          width: rpx(22);
          height: rpx(20);
          position: absolute;
          top: 47%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .limit {
          width: rpx(30);
          height: rpx(27);
          position: absolute;
          top: 82%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: rpx(12);
          color: #4A4A4A;
        }
      }
    }
  }

  .photo-btn-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: rpx(64);
    background-color: $white;
    border-top: rpx(1) solid $border-color-F0F;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rpx(15);
    box-sizing: border-box;
    .photo-btn {
      flex: 1;
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rpx(36);
        width: 100%;
        &:after {
          border: none;
        }
        &.fill {
          background-image: $gradient-active;
          border-radius: 0 rpx(100) rpx(100) 0;
          @include text(14, $white);
          &.un-tab {
            background-image: $gradient-active-un;
          }
        }
        &.border {
          background-color: $white;
          border-radius: rpx(100) 0 0 rpx(100);
          box-sizing: border-box;
          border: 1px solid #FDB3A7;
          border-right:none;
          @include text(14, $color-font-AB2);
        }
      }
    }
  }

}



