@import "../../style/global";

/*团购商品样式*/
.group-purchase-item {
  background: $white;
  border-radius: rpx(10);
  display: flex;
  padding: rpx(15);
  margin: rpx(15) rpx(15) 0;
  @include box-shadow-commodity();
  position: relative;
  .goods-img {
    width: rpx(90);
    height: rpx(90);
    border-radius: rpx(5);
    background-color: $white;
    margin-right: rpx(10);
    flex: rpx(90) 0 0;
  }
  .group-goods-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .title {
      width: rpx(215);
      @include limit-line(2);
      @include text(15, $color-font-222);
    }
    .sale-num {
      line-height: rpx(13);
      @include text(13, $color-font-8D9);
      .num {
        display: inline-block;
        padding: 0 rpx(5);
        color: $color-font-primary;
      }
    }
    .price-group {
      .now-price {
        display: inline-block;
        @include text(15, $color-font-222);
        margin-right: rpx(5);
        .num {
          @include text(18, $color-font-primary);
        }
        .text {
          @include text(10, $color-font-primary);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }
      .old-price {
        display: inline-block;
        @include text(12, $color-font-8D9);
        text-decoration: line-through;
      }
      .fs12 {
        font-size: rpx(12);
      }
    }
    .join-group {
      position: absolute;
      bottom: 0;
      right: 0;
      width: rpx(75);
      height: rpx(28);
      border-radius: rpx(20);
      display: flex;
      align-items: center;
      justify-content: center;
      @include text(14, $white);
      &.active {
        background-image: $gradient-active;
      }
      &.inactive {
        background-image: $gradient-checkbox-disabled;
      }
    }
  }
  &.mb0 {
    margin-bottom: 0;
  }
}