@import "../../style/global";

.pagination {
  height: 100%;
  box-sizing: border-box;
}
.empty-page {
  height: 100%;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.loading {
  padding: rpx(5) 0;
  width: 100%;
  height: rpx(40);
  box-sizing: border-box;
  image {
    width: rpx(30);
    height: rpx(30);
    display: block;
    margin: 0 auto;
  }
}
