@import "../../../style/global";

.integral-mall {
  position: relative;
  .img {
    width: 100%;
  }
  .btn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: rpx(20);
    @include wh(200, 38);
    background: #0FA0FF;
    box-shadow: 0 rpx(1) rpx(8) 0 rgba(0, 0, 0, 0.10);
    border-radius: rpx(100);
    @include text(14, $white);
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      display: none;
    }
  }
}

.member-code-wrap {
  background-color: $white;
  width: rpx(305);
  height: rpx(380);
  box-shadow: 0 0 rpx(15) 0 rgba(0, 0, 0, 0.10);
  border-radius: rpx(4);
  text-align: center;
  position: relative;
  .title {
    height: rpx(40);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: $gradient-member-card;
    @include text(16, $color-font-F6B);
    font-weight: bold;
    border-radius: rpx(4) rpx(4) 0 0;
  }
  .cont {
    .sub-title {
      margin: rpx(35) 0 rpx(10) 0;
      @include text(16, $color-font-222);
      font-weight: bold;
    }
    .card-num {
      @include text(14, $color-font-778);
    }
    .img {
      margin-top: rpx(35);
      @include wh(170, 170);
      background-color: red;
    }
  }
}