@import "../../../style/global";

.container {
  width: 100%;
  box-sizing: border-box;
}

.top {
  width: rpx(375);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: $white;
  .top-search-wrap {
    box-sizing: border-box;
    padding: rpx(14) rpx(15) rpx(12);
    .top-search {
      display: flex;
      margin-top: 0;
      width: rpx(345);
      height: rpx(38);
      background: $bgColor;
      border-radius: rpx(18);
      align-items: center;
      image {
        margin-left: rpx(12);
        margin-right: rpx(8);
        width: rpx(19);
        height: rpx(19);
      }
      .search {
        width: 80%;
        height: 100%;
        .input-placeholder {
          font-size: rpx(14);
        }
      }
      .input-style {
        color: #B4C2D4;
      }
    }
  }
  .top-select-wrapper {
    @include border-bottom($border-color-bottom);
    .top-select {
      margin: 0 rpx(20);
      padding: rpx(9) 0;
      width: rpx(335);
      height: rpx(25);
      @include border-top($border-color-bottom);
      @include flex-space-between();
      @include text(14, #212326);
      text-align: center;
      line-height: rpx(25);
      .industry-all, .floor-all {
        flex-grow: 1;
        font-size:rpx(12);
        &.active {
          color: $color-font-shop-select;
        }
      }
      .industry-all {
        @include border-right($border-color-bottom);
      }
      .location {
        flex-grow: 1;
        @include border-left($border-color-bottom);
      }
    }
  }
}

.selectListWrapper {
  position: fixed;
  top: rpx(104);
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  z-index: 99;
  .selectList {
    background-color: $white;
    max-height: rpx(246);
    overflow-y: scroll;
    .selectItem {
      padding: 0 rpx(15);
      height: rpx(44);
      @include flex-space-between();
      align-items: center;
      @include text(14, #626973);
      &.active {
        background-color: $color-font-select-bg;
        color: $color-font-shop-select;
      }
      .icon-right{
        font-size:rpx(17);
        font-weight: 500;
      }
    }
  }
}

.listWrapper {
  box-sizing: border-box;
  padding-top: rpx(107);
  width: 100%;
  height: 100vh;
  background-color: #f5f6f7;
  position: relative;
  .loading {
    height: rpx(20);
    text-align: center;
    .loadingImg {
      width: rpx(20);
      height: rpx(20);
    }
  }
  .emptyList {
    @include text(15, #333);
    line-height: rpx(40);
    text-align: center;
  }

}

.lists {
  padding-bottom: rpx(20);
  width: rpx(375) !important;
  // height: calc(100% - rpx(107));
  .list {
    .i-index-item-header {
      padding: rpx(10) 0 rpx(5) rpx(19);
      @include text(16, #626A73);
      line-height: rpx(22);
      font-weight: bold;
    }
    .item {
      margin: 0 rpx(15) rpx(17);
      padding: rpx(15);
      height: rpx(80);
      background-color: #fff;
      @include flex-space-between();
      border-radius: rpx(5);
      &:last-of-type {
        margin-bottom: 0;
      }
      .shopLogo {
        width: rpx(80);
        height: rpx(80);
        flex-shrink: 0;
      }
      .itemRight {
        flex-grow: 1;
        margin-left: rpx(15);
        display: inline-block;
        vert-align: top;
        .shopName {
          width: 100%;
          height: rpx(40);
          @include text(15, #333);
          font-weight: bold;
          line-height: rpx(20);
          @include limit-line(2);
        }
        .shopIndustry {
          margin-top: rpx(22);
          @include text(13, $color-font-8D9);
          line-height: 1;
          @include no-wrap();
        }
      }
      .tags {
        flex-shrink: 0;
        .tag {
          width: rpx(24);
          height: rpx(28);
          margin-right: rpx(6);
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.indexs {
  padding: rpx(37) 0;
  width: rpx(25);
  @include flex-space-between();
  flex-direction: column;
  @include text(12, #333);
  text-align: center;
  line-height: rpx(14);
  position: fixed;
  top: rpx(117);
  right: 0;
  .itemWrapper {
    flex-grow: 1;
    width: 100%;
    .item {
      display: inline-block;
      width: rpx(14);
      height: rpx(14);
      border-radius: 50%;
    }
    .active {
      background-color: #0F9FFF;
      color: #fff;
    }
  }
}
