@import "../../style/global";

page {
  height: 100%;
}

.list-wrapper {
  width: rpx(375);
  height: 100vh;
  box-sizing: border-box;
  padding-top: rpx(45);
  .list {
    box-sizing: border-box;
    padding: 0 rpx(10);
    background-color: $bgColor;
    height: 100%;
    .item {
      margin-top: rpx(10);
      border-radius: rpx(10);
      background-color: $white;
      padding: 0 rpx(15);
      position: relative;
      overflow: visible;
      .item-time {
        @include text(13, $color-font-616);
        line-height: rpx(32);
        height: rpx(37);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: dashed rpx(2) $border-color-F0F;
        padding-top: rpx(2);
        box-sizing: border-box;
        .status-text {
          @include text(13, $color-font-584);
          font-weight: bold;
          padding-top: rpx(2);
          &.success {
            color: $color-font-primary;
          }
          &.ing {
            color: $color-font-333;
          }
          &.fail {
            color: $color-font-F59;
          }
        }
      }
      .item-con {
        padding: rpx(11) 0;
        @include flex-space-between();
        .item-con-image {
          width: rpx(120);
          height: rpx(60);
          border-radius: rpx(5);
          flex: rpx(120) 0 0;
        }
        .item-con-right {
          margin-left: rpx(10);
          flex: 1;
          @include flex-space-between();
          flex-direction: column;
          @include text(15, $color-font-333);
          @include no-wrap();
          width: rpx(180);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}