@import '../../../style/global';

page {
  height: 100%;
  background: #ffffff;
}
.add-btn {
  @include wh(228, 40);
  @include text(16, #FFFFFF);
  margin-top: rpx(30);
  background-image: linear-gradient(51deg, #A32125 0%, #E31B1B 100%);
}