@import "../../style/global";

.blank_space {
  height: rpx(10);
}

.gm-form {
  @include text(14, $color-font-333);
  line-height: rpx(44);
  .form-title {
    padding: rpx(0) rpx(15);
  }
  .blank_space {
    height: rpx(10);
    background-color: #f6f7f8;
  }
  .form-item {
    display: flex;
    margin-left: rpx(15);
    background: $white;
    border-bottom: 1px solid $border-color-F0F;
    align-items: center;
    //padding-right: rpx(5);
    .form-item-title {
      width: rpx(100);
    }
    .form-item-label {
      padding-right: rpx(15);
      flex: 1;
      text-align: right;
      align-self: center;
    }
    .form-next-icon {
      padding-right: rpx(15);
      width: rpx(9);
      margin-left: rpx(8.8);
      image {
        display: inline-block;
        width: rpx(9);
        height: rpx(13);
        vertical-align: middle;
      }
    }
    .form-right-btn {
      padding-right: rpx(15);
      @include text(14, $color-font-code);
    }
    .default-input {
      width: 100%;
      @include text(13, $color-font-000);
    }
    &.code {
      justify-content: space-between;
      .code-btn {
        @include text(14, $color-font-code);
        @include code-btn();
        align-self: center;
      }
    }
    .tail {
      width: rpx(7);
      height: rpx(12);
      padding-right: rpx(5);
      image {
        display: block;
        width: rpx(7);
        height: rpx(13);
      }
    }
  }
  // 按钮
  .btn-wrap {
    //margin-top: rpx(50);
    //padding-bottom: rpx(30);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: rpx(7) rpx(15);
    background-color: #fff;
    box-shadow: 0 0 rpx(5) #ebeced;
    .sign-btn {
      @include wh(345, 36);
      border-radius: rpx(100);
      background: $gradient-active;
      @include text(16, $white);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      &:after {
        border: none;
      }
    }
  }
}

// 完善资料送积分弹窗
.dialog-wrap {
  width: rpx(375);
  height: rpx(441);
  border-radius: rpx(10);
  text-align: center;
  position: relative;
  .close {
    position: absolute;
    right: rpx(60);
    top: rpx(17);
    width: rpx(18);
    height: rpx(18);
    z-index: 11;
  }
  .img {
    display: block;
    width: rpx(375);
    height: rpx(432);
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .title-wrap {
    position: absolute;
    top: rpx(50);
    width: rpx(194);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    &-title {
      font-weight: bold;
      @include text(18, $color-font-333);
    }
    &-tip {
      @include text(14, $color-font-1A1);
      margin-top: rpx(145);
      .num {
        font-weight: bold;
        margin-left: rpx(3);
        margin-right: rpx(3);
        @include text(18, $color-font-primary);
      }
    }
    &-tip2 {
      margin-top: rpx(22);
      margin-bottom: rpx(7);
      @include text(12, $color-font-252);
    }
    &-cont {
      margin-bottom: rpx(20);
      @include text(12, $color-font-252);
      &-font {
        margin-right: rpx(3);
        font-weight: bold;
        @include text(20, #0086fb)
      }
    }
  }
  .upper-btn {
    left: 50%;
    bottom: rpx(80);
    position: absolute;
    transform: translateX(-50%);
    @include wh(228, 38);
    background-image: linear-gradient(-90deg, #FB5C41 0%, #FFAE79 100%);
    border-radius: rpx(100);
    @include text(15, $white);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lower-btn {
    width: rpx(228);
    margin-top: rpx(15);
    @include text(14, #ff4f2e);
    left: 50%;
    bottom: rpx(48);
    position: absolute;
    transform: translateX(-50%);
  }
}