@import "../../../style/global";
page, block, view, scroll-view, swiper, movable-view, icon, text, progress, button, checkbox, form, input, label, picker, picker-view, radio, slider, switch, textarea, navigator, audio, image, video, map, canvas, contact-button, cover-image, cover-view {
  box-sizing: border-box;
}
// .user {
//   font-size:rpx(12);
//   color: #585858;
//   padding-bottom:rpx(80);
//   .padding{
//     padding: 0 rpx(15);
//   }
// }
page{
  height: 100%;
  font-size: 28rpx;
  color: #555;
  background: #efeff4;
  overflow-x: hidden;
}
page>.page {
  width: 750rpx;
  overflow-x: hidden;
}
.hidden {
  display: none !important;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}
.flex-y-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.flex-x-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.i-qrcode {
  width: 100%;
  height: 100vh;
}

.i-qrcode .img {
  width: 100%;
  height: 1200rpx;
  margin: auto 0;
  background-size: 100% 100%;
}