@import "../../../style/global";
.container {
  .search {
    width: 100%;
    height: rpx(64);
    box-sizing: border-box;
    padding: rpx(16) rpx(15) rpx(12);
    background-color: $white;
    // position: fixed;
    top: rpx(40);
    z-index: 9;
    .searchIcon {
      width: rpx(20);
      height: rpx(20);
      position: absolute;
      top: rpx(23);
      left: rpx(24);
    }
    input {
      padding-left: rpx(38);
      width: rpx(345);
      height: rpx(36);
      box-sizing: border-box;
      background-color: $bgColor;
      line-height: rpx(36);
      @include text(12, $color-font-333);
      border-radius: rpx(36);
    }
    .placeholder {
      color: $color-font-placeholder;
    }
  }
  .coupon-lists {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: $bgColor;
    margin-bottom: rpx(60);
    .padding{
      padding:rpx(10);
    }
  }
}
.footer {
  position: fixed;
  bottom: 0;
  z-index: 9;
  box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background: $white;
  padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
  .foot-text{
    display: block;
    font-size: rpx(14);
    color: #fff;
    line-height: rpx(35);
    background: #0C5CA5;
    width: rpx(355);
    height: rpx(36);
    border-radius: rpx(18);
    text-align: center;
    margin: rpx(8);
  }
}