.zan-radio {
  display: block;
  padding: 0 10px;
  font-size: 14px;

  &__item {
    display: block;
    margin-top: 10px;
    height: 20px;

    &:last-child {
      margin-bottom: 10px;
    }
  }

  &__list-item {
    display: block;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #e5e5e5;
    .zan-radio__icon-wrap {
      float: right;
      margin-top: 3px;
    }
  }

  &__icon-wrap {
    position: relative;
    width: 14px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    color: #aaa;
    .zan-radio__origin {
      opacity: 0;
      width: 14px;
      height: 20px;
    }
    .zan-radio__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      border: 1px solid #dcdfe6;
      border-radius: 100%;
      width: 14px;
      height: 14px;
      background-color: #fff;
      cursor: pointer;
      box-sizing: border-box;

      .zan-radio__icon-inside {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
      }

      &.zan-radio--checked {
        border-color: #06bf04;
        background: #06bf04;
        .zan-radio__icon-inside {
          background-color: #fff;
        }
      }

      &.zan-radio--disabled {
        opacity: .6;
      }
    }
  }

  &__name {
    display: inline-block;
    margin-left: 10px;
  }
}
