@import "../../style/global";

.group-activity-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  .wrap{
    width: rpx(263);
    height: rpx(226);
    position: relative;
    border-radius: rpx(10);
    background: $white;
    padding: rpx(20);
    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      @include text(16, #292D40);
      border-bottom: 1px solid #DBDBDB;
      opacity: 1;
    }
    .group-list {
      height: 380rpx;
      overflow-y: auto;
      .group-person-list {
        margin-top: rpx(16);
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #DBDBDB;
        opacity: 1;
        width: 100%;
        padding-bottom: rpx(9);
        .head {
          width: rpx(38);
          height: rpx(38);
          background: rgba(0, 0, 0, 0);
          border: 1px solid #FFFFFF;
          opacity: 1;
          border-radius: rpx(30);
          background-color: bisque;
          .avatar {
            width: rpx(38);
            height: rpx(38);
            margin-right: rpx(9);
            border: rpx(1) solid #707070;
            border-radius: 50%;
          }
        }
        .name {
          width: 280rpx;
          margin-left: rpx(10);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          .user-name {
            font-size: rpx(12);
            font-family: PingFangSC-Regular;
            line-height: rpx(10);
            color: #343C40;
            opacity: 1;
          }
          .group-detail {
            margin-top: rpx(5);
            font-size: rpx(10);
            font-family: PingFangSC-Regular;
            line-height: rpx(10);
            color: #343C40;
            opacity: 1;
          }
        }
        .btn {
          margin-top: rpx(10);
          width: rpx(78);
          height: rpx(28);
          background: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
          box-shadow: 0rpx 4rpx 8rpx rgba(243, 79, 51, 0.25);
          opacity: 1;
          border-radius: rpx(14);
          display: flex;
          align-items: center;
          justify-content: center;
          .btn-text {
            font-size: rpx(12);
            line-height: rpx(12);
            color: #FFFFFF;
            opacity: 1;
          }
        }
      }
    }
  }
  .close {
    position: fixed;
    bottom: rpx(110);
    left: 50%;
    transform: translateX(-50%);
    .img {
      width: rpx(34);
      height: rpx(34);
    }
  }
}