@import '../../../style/global';

page {
  height: 100%;
}
.download-guide {
  padding: rpx(10);
  background-color: #FFFFFF;
  .copy-tip {
    @include text(12, #333333);
    padding-top: rpx(20);
    padding-left: rpx(3);
    padding-bottom: rpx(20);
  }
  .btn {
    @include wh(228, 40);
    border-radius: rpx(100);
    @include text(14, #FFFFFF);
    line-height: rpx(40);
    text-align: center;
    margin-bottom: rpx(30);
    box-shadow: 0 2px 6px 0 rgba(255,92,64,0.25);
    
    &:after {
      border: none;
    }
  }
  .flex {
    @include flex-space-between();
    margin-left: rpx(7);
    margin-right: rpx(7);
    margin-bottom: rpx(10);
    &-img {
      @include wh(165, 293);
      image {
        width: 100%;
        height: 100%;
      }
    }
  }
  .return {
    // background-image: linear-gradient(198deg, #808080 0%, #3B3B3B 100%);
    border-radius: rpx(100);
    margin-top: rpx(20);
    margin-bottom: rpx(30);   
    border: rpx(1) solid #FFA495;
    color: #FB5B41;
    background-color: #FFFFFF;
  }
  .click {
    background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
  }
}
