@import "../../style/global";
.actionSheet {
  background: transparent !important;
}

.checkboxWrapper {
  flex-shrink: 0;
  width: rpx(16);
  @include flex-center();
}

.wrap {
  max-height: rpx(493);
  background: #FFFFFF;
  border-radius: rpx(10) rpx(10) 0 0;

  &-header {
    display: flex;
    margin: 0 rpx(15);
    @include border-bottom(rgba(0,0,0,0.1));
    position: relative;
    height: rpx(100);
    box-sizing: border-box;
    .img-wrap {
      @include wh(110, 110);
      margin-right: rpx(10);
      image {
        display: block;
        border-radius: rpx(4);
        @include wh(110, 110);
        margin-right: rpx(10);
        position: relative;
        top: rpx(-25);
        background-color: #F2F2F2;
      }
    }

    .info {
      flex:1;
      .new-price {
        font-weight: 500;
        margin-top: rpx(12);
        .num {
          @include text(20, #292D40);
        }
        .text {
          @include text(10, #292D40);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }

      .sku-stock {
        @include text(12, #8D98A6);
        margin-top: rpx(10);
      }

      .sku-tip {
        margin-top:rpx(5);
        @include text(12, #343C40);
      }
    }

    .close {
      position: absolute;
      font-size:rpx(20);
      color: #79888F;
      top: rpx(10);
      right: 0;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rpx(58);
    box-shadow: 0 rpx(-1) rpx(5) 0 rgba(0, 0, 0, 0.05);
    .btn {
      @include wh(345, 38);
      background-image: $gradient-active;
      border-radius:rpx(30);
      @include text(15, #ffffff);
      text-align: center;
      line-height:rpx(38);
    }
  }

  &-body {
    padding: 0 rpx(15);
    max-height: rpx(325);
    overflow-y: scroll;
    .title {
      @include text(14, #333);
      font-weight: bold;
    }
    .wrapper{
      display: flex;
      @include flex-space-between();
      align-items: center;
      max-height: rpx(40);
      padding: rpx(15) 0;
      box-sizing: border-box;
      @include border-bottom(rgba(0,0,0,0.1));
      .radio {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: rpx(30);
        @include text(12, #333);
        &.disabled{
          color: #999;
        }
        .iconfont{
          font-size:rpx(20);
          vertical-align: middle;
        }
        .icon-success{
          color: #ADBBCC;
        }
        .icon-success_fill{
          color: #4787FB;
        }
        .radio-css{
          display: none;
        }
      }
    }
    .attribute-group{
      padding: rpx(15) 0;
      @include border-bottom(rgba(0,0,0,0.1));
      .attribute-group-list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .attribute-item{
          height:rpx(30);
          line-height:rpx(30);
          text-align: center;
          padding: 0 rpx(15);
          border:rpx(1) solid #ADBBCC;
          border-radius: rpx(2);
          margin-right:rpx(10);
          margin-top:rpx(10);
          font-size:rpx(12);
          color: #333;
          &.active{
            background-color: rgba(65, 132, 251, 0.05);
            color: #4184FB;
            border-color: #4184FB;
          }
        }
      }
    }
  }
}

.item-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top:rpx(15);
  padding-bottom:rpx(40);
  .text {
    @include text(14, $color-font-333);
  }
  .item-format-wrapper {
    @include flex-space-between();
    .item-format-btn {
      box-sizing: border-box;
      width: rpx(30);
      height: rpx(28);
      line-height:rpx(28);
      border: rpx(1) solid #B8C6D9;
      border-radius: rpx(0);
      padding:0;
      &:after{
        display: none;
      }
      &.minus {
        border-top-left-radius: rpx(2);
        border-bottom-left-radius: rpx(2);
      }
      &.plus {
        border-top-right-radius: rpx(2);
        border-bottom-right-radius: rpx(2);
      }
    }
    .item-format-text {
      display: inline-block;
      box-sizing: border-box;
      padding: 0 rpx(10);
      min-width: rpx(60);
      height: rpx(28);
      @include text(12, $color-font-666);
      line-height: rpx(28);
      text-align: center;
      border-top: rpx(1) solid #B8C6D9;
      border-bottom: rpx(1) solid #B8C6D9;
    }
  }
}



