@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";

.detail {
  padding-bottom: rpx(60);
}

.info {
  background-color: $white;
  .banner {
    height: rpx(178.5);
    .swiper-wrap {
      height: rpx(178.5);
      position: relative;
      .swiper-item {
        text-align: center;
        position: relative;
      }
      .slide-image-wrap {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @include wh(355, 178.5);
      }
      .slide-image {
        @include wh(355, 178.5);
        margin: 0 auto;
        border-radius: rpx(10);
      }
      .wx-swiper-dots.wx-swiper-dots-horizontal {
        margin-bottom: rpx(2);
        margin-left: rpx(130);
      }
      .wx-swiper-dot {
        width: rpx(4);
        display: inline-flex;
        height: rpx(4);
        margin-left: rpx(1);
        justify-content: space-between;
      }
      .wx-swiper-dot::before {
        content: '';
        flex-grow: 1;
        background: rgba(255, 255, 255, 0.5);
        border-radius: rpx(4)
      }
      .wx-swiper-dot-active {
        width: rpx(16);
        display: inline-flex;
        height: rpx(4);
        margin-left: rpx(5);
        justify-content: space-between;
      }
      .wx-swiper-dot-active::before {
        background: rgba(255, 255, 255, 1);
      }
    }
  }
  .info-detail {
    padding: rpx(20) rpx(15);
    .name {
      @include text(16, $color-font-333);
      font-weight: bold;
      @include limit-line(2);
      margin-bottom: rpx(20);
    }
    .detail-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .detail-inner {
      @include text(14, $color-font-333);
      flex: 1;
      .time {
        padding-bottom: rpx(10);
      }
      .time, .address {
        display: flex;
        align-items: center;
      }
    }
    .icon {
      margin-right: rpx(5);
      flex: rpx(15) 0 0;
    }

    .icon-time {
      @include wh(15, 15);
    }

    .icon-address {
      @include wh(14, 16);
    }

    .icon-phone {
      flex: rpx(45) 0 0;
      margin-left: rpx(10);
      @include wh(45, 45);
    }
  }
}

.title-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rpx(20) rpx(15) rpx(10);
  position: relative;
  line-height: rpx(18);
  &.margin-top {
    margin-top: rpx(-10);
  }
  .titles {
    @include text(18, $color-font-333);
    font-weight: bold;
  }
  .more {
    @include text(12, $color-font-666);
    padding: rpx(20) rpx(15) rpx(10) rpx(50);
    position: absolute;
    right: 0;
    top: 0;
  }
}

.mt0 {
  margin-top: 0 !important;
}

// 团购
.group {
  padding-bottom: rpx(5);
}

// 秒杀
.seckill {
  padding-bottom: rpx(5);
}

// 人气单品
.special {
  .special-lists {
    padding: 0 rpx(12) 0;
  }
  .list-wrapper {
    @include flex-space-between();
    flex-wrap: wrap;
  }
}

.comment-wrap {
  background-color: $white;
  margin-top: rpx(20);
  .comment-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include border-bottom(#D9D9D9, dashed);
    margin-left: rpx(15);
    padding: rpx(20) rpx(15) rpx(10) 0;
    .title {
      .main-title {
        font-weight: bold;
        @include text(18, $color-font-333);
      }
      .sub-title {
        margin-left: rpx(5);
        @include text(12, $color-font-222);
      }
    }
    .more {
      @include text(12, $color-font-666);
    }
  }
  .comment-lists {
    margin-left: rpx(15);
    .comment-list {
      display: flex;
      padding: rpx(16) rpx(15) 0 0;
      &:last-child {
        .info {
          &:after {
            display: none
          }
        }
      }
      .avatar {
        @include wh(36, 36);
        margin-right: rpx(10);
        flex: rpx(36) 0 0;
        border-radius: 100%;
      }
      .info {
        flex: 1;
        @include border-bottom(#EDEDED, dashed);
        padding-bottom: rpx(15);
        overflow: hidden;
        .name {
          @include text(15, $color-font-666);
          @include limit-line(1);
        }
        .time-start {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .time {
            @include text(12, $color-font-999);
          }
        }
        .img-lists {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .img-list {
            @include wh(80, 80);
            background-color: $bgColor-FDF;
            border-radius: rpx(4);
            margin: rpx(10) rpx(10) 0 0;
          }
          image {
            @include wh(80, 80);
          }
        }
        .comment-content {
          padding: rpx(15) 0 0;
          @include text(14, $color-font-333);
        }
        .reply-lists {
          background: $bgColor-9F7;
          border-radius: 4px;
          margin-top: rpx(10);
          padding: rpx(10) rpx(10) 0;
          .reply-list {
            padding-bottom: rpx(10);
            @include text(14, $color-font-333);
          }
          .reply-authors {
            .reply-author {
              @include text(14, $color-font-8B5);
            }
            .reply {
              @include text(14, $color-font-999);
              padding: 0 rpx(5);
            }
          }
        }
        .del-num {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: rpx(10);
          .num {
            @include text(14, $color-font-8B5);
          }
          .del {
            @include text(14, $color-font-FF6)
          }
        }
      }
      .delete {
        float: right;
        @include text(14, $color-font-FF6)
      }
    }
  }

  .comment-not {
    @include text(14, $color-font-616);
    display: flex;
    align-items: center;
    justify-content: center;
    height: rpx(55);
  }

  .look-more {
    @include text(12, $color-font-BD9);
    text-align: right;
    padding: 0 rpx(15) rpx(15) 0;
  }
}

.shop-detail {
  margin-top: rpx(10);
  background-color: $white;
  padding: 0 rpx(15);
  .title {
    @include text(18, $color-font-333);
    font-weight: bold;
    padding: rpx(20) 0 rpx(10) 0;
  }
  .cont {
    @include text(13, $color-font-616);
    padding-bottom: rpx(20);
    overflow: hidden;
    word-break: break-all;
    image {
      display: block;
      width: rpx(345);
      margin: 0 auto;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $white;
  height: rpx(50);
  box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
  .item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include text(12, $color-font-4D4);
    .icon {
      padding-bottom: rpx(3);
      @include wh(24, 22);
    }
  }
}