@import "../../../style/global";

.record-detail {
  background-color: $white;
  .wrap {
    margin: 0 rpx(20);
  }
  .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: rpx(19) 0 rpx(30);
    .icon-img {
      @include wh(44, 44);
      border-radius: 100%;
    }
    .text {
      @include text(15, $color-font-333);
      padding: rpx(10) 0 rpx(6);
    }
    .num {
      @include text(28, $color-font-222);
      font-weight: bold;
    }
  }
  .info {
    .info-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 2;
      .txt {
        @include text(14, $color-font-616);
      }
      .desc {
        @include text(14, $color-font-333);
      }
    }
  }
  .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rpx(48);
    @include border-top($border-color-F0F);
    @include text(15, $color-font-333);
    font-weight: bold;
  }
}

.confirm-btn {
  height: rpx(36);
  margin: 0 rpx(15) 0 rpx(15);
  line-height: rpx(36);
  background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
  // background-image: linear-gradient(51deg, #A32125 0%, #E31B1B 100%);
  border-radius: rpx(100);
  @include text(14, #FFFFFF);
  // font-weight: bold;
  margin-top: rpx(30);
  &:after {
    border: none;
  }
}