@import '../../../style/global';



page {
  height: 100%;
  background: #F0F3F7;
}
.form-box {
  background: #FFFFFF;
  .form-item {
    @include flex-space-between();
    align-items: center;
    @include border-bottom(#F0F0F0);
    line-height: rpx(50);
    padding-right: rpx(15);
    margin-left: rpx(15);
    .title, .cont {
      @include text(14, #333333);
      width: rpx(100);
    }
    .title-name {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .flex1 {
        flex: 1;
      }
    }
    .cont {
      flex: 1;
      text-align: right;
      .empty-cont {
        @include wh(18, 18);
        padding-left: rpx(10);
      }
    }
    .flex-end{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include text(12,#0c5ca5);
      image {
        @include wh(9.01, 14);
        margin-left: rpx(5);
      }
    }
    .required {
      @include text(12, #FF6378);
    }
    .place-class {
      @include text(14, #999999);
    }
  }
  .gray-block {
    height: rpx(10);
    background: #F0F3F7;
    width: 100%;
  }
  .switch-tab {
    // border: rpx(1) solid #FB5B41;
    // 定位为了白色滑块  动画
    // position: relative;
    @include wh(143, 30);
    @include text(14, #FFFFFF);
    @include flex-space-between();
    align-items: center;
    line-height: rpx(28);
    border-radius: rpx(19);
    color: #999999;
    // border: 1px solid #E74260;
    background-color: #e5e5e5;
    // background: $white;
    .tab {
      @include wh(79, 30);
      text-align: center;
      // 定位为了白色滑块  动画
      // position: absolute;
      // z-index: 2;
    }
    .tab:nth-of-type(2) {
      left: rpx(65);
    }
  }
  .active {
    background: #0c5ca5;
    color: $white;
    // background-image: linear-gradient(51deg, #A32125 0%, #E31B1B 100%);
    border-radius: rpx(19);
    // margin: rpx(3);
    box-shadow: 0 0 rpx(4) 0 rgba(169, 163, 252, 0.2);
  }
}
// .white-block {
//   @include wh(65, 28);
//   background: #FFFFFF;
//   border-radius: rpx(20);
//   margin: rpx(3);
//   // 定位为了白色滑块  动画
//   position: absolute;
//   z-index: 1;
//   left: rpx(1);
//   top: rpx(1);
// }

@keyframes slidRight {
  from {
    left: rpx(65);
  }
  to {
    left: rpx(1);
  }
}
@keyframes slideLeft {
  from {
    left: rpx(1);
  }
  to {
    left: rpx(65);
  }
}
.slidRight {
  animation: slidRight 0.2s 1 forwards;
}
.slideLeft {
  animation: slideLeft 0.2s 1 forwards;
}
.btn {
  height: rpx(36);
  margin: rpx(30) rpx(15) rpx(20) rpx(15);
  background: #B4C2D4;
  @include text(14, #fff);
  border-radius: rpx(20);
  line-height: rpx(36);
  &:after {
    border: none;
  }
}
.yellow {
  color: #FFFFFF;
  // background-image: linear-gradient(51deg, #A32125 0%, #E31B1B 100%);
  // background-image: linear-gradient(-85deg, #FDADA0 0%, #FEEEEC 100%);
  background-image: linear-gradient(270deg, #0c5ca5 0%, #0c5ca5 100%);
}
// 查询结果
.search-result {
  overflow-y: auto;
  max-height: rpx(236);
  line-height: normal;
  padding-left: rpx(105);
  padding-right: rpx(15);
  box-shadow: 0 rpx(5) rpx(10) 0 rgba(0,0,0,0.15);
  @include text(14, #333333);
  .company-item {
    padding-top: rpx(10);
    @include border-bottom(#F0F0F0);
    .tax-num {
      @include text(10, #999999);
      padding-top: rpx(5);
      padding-bottom: rpx(10);
    }
  }
  .close-btn {
    line-height: rpx(36);
    font-weight: bold;
    @include text(14, #594215);
    text-align: right;
    padding-right: rpx(15);
  }
}

.switch-wrap {
  .wx-switch-input {
    // zoom: .8;
    width: rpx(100) !important;
    height: rpx(34) !important;
  }
  /*白色样式（false的样式）*/
  // .wx-switch-input::before {
  //   width: rpx(58) !important;
  //   height: rpx(34) !important;
  // }
  /*绿色样式（true的样式）*/
  // .wx-switch-input::after {
  //   width: rpx(29) !important;
  //   height: rpx(34) !important;
  // }
}
button[disabled] {
  // background: #B4C2D4 !important;
  background-image: linear-gradient(-85deg, #0c5ca5 0%, #bac4fd 100%) !important;
  color: #fff !important;
}
.delete-head {
  @include text(14, #FF6378);
  display:block;
  width: 100%;
  text-align: center;
  line-height: rpx(20);
}



