@import '../../../style/global';

page {
  height: 100%;
  background:  #F0F3F7;
}

.lists {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
.show {
  display: block;
}
.record-item {
  margin: rpx(10);
  height: rpx(123);
  background: #FFFFFF;
  box-shadow: 0 0 rpx(10) rpx(5) rgba(0,0,0,0.03);
  border-radius: rpx(4);
  padding-left: rpx(15);
  .record-head {
    @include border-bottom(#DFDFDF, dashed);
    @include flex-space-between();
    @include text(14, #333333);
    padding-right: rpx(15);
    line-height: rpx(44);
    .time-img {
      @include wh(14, 14);
      margin-right: rpx(5);
    }  
    .record-state {
      @include text(12, #EB553D);
      &.ING {
        @include text(12,  #0C5CA5);
      }
      &.END {
        @include text(12,  #0EC261);
      }
      .more {
        @include wh(9.01, 9);
        margin-left: rpx(5);
      }
    }
  }
  .recode-cont {
    padding-right: rpx(15);
    @include text(14, #333333);
    .cont-orderNo {
      margin-top: rpx(15);
      margin-bottom: rpx(10);
    }
    .cont-price {
      @include flex-space-between();
      .price {
        @include text(18, #FB5353);
        font-weight: 600;
        .qian {
          font-size: rpx(12);
        }
      }
    }
  }
}
