@import "../../../style/global";
.form-group{
  margin-top:rpx(10);
  font-size:rpx(12);
  color: #292D40;
  line-height:1;
}
.form-cell{
  @include flex-space-between();
  align-items: center;
  padding: rpx(14) rpx(15);
  background-color: #fff;
  @include border-bottom();
  &:after{
    left:rpx(15);
  }
  &:last-child:after{
    display: none;
  }
  .label{
    width:rpx(80);
  }
  .value{
    flex:1;
    text-align: right;
  }
  .icon-enter{
    font-size:rpx(14);
    color: #8D98A6;
    font-weight:500;
  }
  .placeholder{
    color: #8D98A6;
  }
}
.form-field{
  padding: rpx(12) rpx(15);
  background-color: #fff;
  .field{
    margin-top:rpx(7);
    width:100%;
    min-height:rpx(60);
  }
}
.picture-list{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: rpx(10);
  .item{
    position: relative;
    @include wh(80, 80);
    background: #F0F0F0;
    border-radius: rpx(4);
    overflow: hidden;
    margin-right:rpx(5);
    .close{
      position: absolute;
      right: 0;
      top:0;
      z-index: 1;
    }
    .img{
      width:100%;
      height:100%;
    }
    &.uploader{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.fixed-bottom{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  z-index: 2;
  padding: rpx(7) rpx(15);
  background-color: #fff;
  .btn-apply{
    width: rpx(345);
    height: rpx(36);
    line-height:rpx(36);
    text-align: center;
    background: $gradient-active;
    box-shadow: 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
    border-radius: rpx(18);
    color: #ffffff;
    font-size:rpx(14);
  }
}