@import "../../style/global";

.dialog_mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.dialog_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  transform: translateY(150%);
  //transition: all 0.4s ease;
  z-index: 11;
}

.dialog_show .dialog_container {
  transform: translateY(0);
}

.dialog_show .dialog_mask {
  display: block;
}

//支付弹窗
.pay_modal {
  //height: rpx(407);
  background-image: linear-gradient(50deg, #E3C282 0%, #F7E1B6 100%);
  position: relative;
  padding-bottom: rpx(30);
  text-align: center;
  .text {
    font-size: rpx(14);
    color: #333333;
    padding: rpx(15) 0;
  }
  .amount{
    font-size: rpx(24);
    margin-bottom:rpx(15);
    .unit{
      font-size:rpx(14);
    }
  }
  .tips {
    font-size: rpx(14);
    color: #584114;
    padding-top: rpx(24);
    text-align: right;
    padding-right: rpx(28);
    position: absolute;
    right:rpx(28);
    top:rpx(146);
  }
  .close {
    position: absolute;
    top: rpx(10);
    right: rpx(15);
    .iconfont {
      font-size:rpx(20);
      color: #666;
    }
  }
}
