@import "../../style/global";

/* 左侧导航布局 start*/
/* 隐藏scroll-view滚动条*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
.category-list{
  width:100vw;
  height:100vh;
  background-color: #fff;
}

.top-search-wrap {
  width: 100%;
  height: rpx(50);
  padding: rpx(8) rpx(15);
  box-sizing: border-box;
  box-shadow: 0 rpx(2) rpx(5) rgba(0, 0, 0, 0.05);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  .cancel {
    @include text(12, #77808C);
  }
}

.top-search {
  width: rpx(345);
  height: rpx(34);
  background: #EFF3F8;
  border-radius: rpx(50);
  color: #999;
  display: flex;
  align-items: center;
  &.top-search-page {
    width: rpx(304);
  }
  image {
    margin-left: rpx(12);
    margin-right: rpx(8);
    width: rpx(19);
    height: rpx(19);
  }
  .search {
    width: 80%;
    height: 100%;
    .input-placeholder {
      font-size: rpx(12);
    }
  }
  .input-style {
    color: #B4C2D4;
  }
}

.tui-search-text {
  padding-left: rpx(10);
  @include text(12, #77808C);
}

.tab-view {
  width: rpx(88);
  position: fixed;
  left: 0;
  top: rpx(50);
  bottom: 0;
  z-index: 10;
  background: #EFF3F8;
}

.tab-bar-item {
  width: rpx(88);
  height: rpx(44);
  background: #F5F6F7;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rpx(12);
  font-weight: 400;
}

.active {
  position: relative;
  font-weight: 600;
  background: #FFFFFF;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width:rpx(4);
  height: rpx(16);
  background: linear-gradient(360deg, #FB5B41 0%, #FFAF7A 100%);
}

/* 右侧导航布局 end*/
.right-box {
  padding: rpx(35) 0 0 rpx(88);
  box-sizing: border-box;
}

.page-view {
  width: 100%;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: rpx(110);
  border-radius: rpx(6);
  overflow: hidden;
  transform: translateZ(0);
}

.swiper .wx-swiper-dot {
  width: rpx(4);
  height: rpx(4);
  display: inline-flex;
  background: none;
  justify-content: space-between;
}

.swiper .wx-swiper-dot::before {
  content: '';
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.8);
  border-radius: rpx(8);
  overflow: hidden;
}

.swiper .wx-swiper-dot-active::before {
  background: #fff;
}

.swiper .wx-swiper-dot.wx-swiper-dot-active {
  width: rpx(8);
}

.slide-image {
  width: 100%;
  height: rpx(110);
}

.class-box {
  padding-top: rpx(15);
}

.class-item {
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: rpx(16);
}

.class-name {
  width: 100%;
  height: rpx(44);
  margin-left: rpx(12);
  line-height: rpx(44);
  @include text(12, #444444);
  border-bottom: rpx(1) solid #F5F6F7;
}

.g-container {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.g-box {
  text-align: center;
  margin-top: rpx(10);
  margin-left: rpx(12);
}

.g-image {
  width: rpx(80);
  height: rpx(80);
}

.g-title {
  @include text(10, #222);
}

// 搜索
.search-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;

  .empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      display: block;
      @include wh(192, 129);
    }
    .tips {
      @include text(14, $color-font-616);
      margin-top: rpx(10);
      text-align: center;
    }
  }

  .search-lists {
    padding-top: rpx(52);
    height: 100%;
    .search-list {
      margin: 0 rpx(15);
      display: flex;
      align-items: center;
      height: rpx(40);
      border-bottom: rpx(1) solid #ededed;
      @include text(14, $color-font-616)
    }
  }
}