@import "../../style/global";
.container {
  width: 100%;
  display: flex;
  overflow: hidden;
  background: $bgColor;
  flex-direction: row;
}

.left_tabbar {
  width: rpx(104);
}

.right_content {
  width: rpx(375);
}

.left_tabbar_list {
  background: $white;
  text-align: center;
  box-shadow: 1px 0 0 0 $color-font-E6E;
}

.left_tabbar_item {
  @include text(15, $color-font-000);
  @include wh(76, 30);
  text-align: center;
  line-height: rpx(30);
  margin: rpx(15) auto;
  @include text-overflow;
}

.left_tabbar {
  .active {
    background: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
    box-shadow: 0px 2px 4px 0px rgba(243, 79, 51, 0.25);
    // background-image: $gradient-active;
    border-radius: rpx(100);
    font-weight: bold;
    @include text(15, $white);
  }
}

.list {
  width: rpx(300);
  margin: 0 auto;
  text-align: left;
  padding-top: rpx(14);
  display: flex;
  flex-direction: column;
  .pic {
    width: rpx(300);
    height: rpx(122);
    border-radius: rpx(5);
  }
  .tit {
    font-weight: bold;;
    line-height: rpx(21);
    @include text(15, $color-font-000);
    margin-top: rpx(10);
  }
  .address {
    line-height: rpx(20);
    @include text(13, $color-font-666);
    padding-bottom: rpx(4);
    word-break: break-all;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.currentCon {
  animation: active .5s;
}

/* 光标动画 */

@keyframes active {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
