@import "../../../style/global";
.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  color: #fff;
  background: white;
  z-index: 999;
}
.nav-bar {
  .address-img {
    width: rpx(13.5);
    height: rpx(16.5);
  }
  .organize-name {
    margin-left: 9rpx;
    margin-right: 15rpx;
    color: #333333;
    font-size: 27rpx;
    margin-top: 6rpx;
  }
  .right-arrow-img {
    width: 13rpx;
    height: 24rpx;
  }
}
