@import "../../style/global.scss";
.activity-list {
  background-color: $white;
  font-size:0;
  overflow: hidden;
  border-radius: rpx(5);
  .activity-img {
    width:100%;
  }
  .activity-detail {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height:1;
    padding: rpx(10) rpx(15) rpx(13) rpx(15);
    &.noPadding{
      padding-left:0;
      padding-right:0;
    }
    .info{
      flex:1;
    }
    .title {
      max-height: rpx(37);
      line-height:rpx(18);
      @include text(14, #292D40);
      @include limit-line(2);
    }
    .time{
      font-size:rpx(12);
      color: #8D98A6;
      margin: rpx(5) 0 rpx(10) 0;
    }
    .price{
      color: #4184FB;
      .num{
        font-size:rpx(16);
      }
      .unit{
        font-size:rpx(10);
      }
      .text {
        @include text(10, $color-font-222);
        &.pad {
          padding: 0 rpx(3);
        }
      }
    }
    .activity-join {
      @include wh(70, 24);
      background: #0C5CA5;
      box-shadow: 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
      border-radius: rpx(40);
      text-align: center;
      line-height:rpx(24);
      margin: 0 rpx(5);
      @include text(10, $white);
      &.null-join {
        color: $color-font-AB2;
        background-image: $gradient-disabled;
        box-shadow: 0 rpx(2) rpx(4) 0 rgba(255, 255, 255, 0);
      }
    }
  }
}