@import "../../style/global";

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  .star-item {
    @include wh(14, 14);
    margin-left: rpx(5);
    &:first-child {
      margin-left: 0;
    }
    .img {
      @include wh(14, 14);
    }
  }
}