@import "../../style/global";
.integral {
  .integral-wrap{
    height: 100vh;
  }
  .empty {
    background-color: $white;
    display: flex;
    justify-content: center;
    padding: rpx(20) 0;
    @include text(15, $color-font-8D9);
  }
  .grow-point {
    display: flex;
    padding-left: 20rpx;
    font-size: 28rpx;
    font-family: PingFang SC;
    color: #FFFFFF;
    padding-bottom: 10rpx;
  }
  .progress-wrap {
    display: flex;
    align-items: flex-start;
    height: 60rpx;
    padding-left: 20rpx;
    padding-right: 20rpx;
    margin-top: 10rpx;
    margin-bottom: 30rpx;
    .point-box {
      width: 25%;
      display: flex;
      align-items: flex-start;
      .point-wrap {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -6rpx;
        color: #FADD1B;
        .progress-point {
          height: 20rpx;
          border-radius: 50%;
          background-color: #FADD1B;
          width: 20rpx;
        }
      }
      .progress-detail {
        width: 100%;
      }
    }
  }
  .integral-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 200rpx;
    position: relative;
    .bg-img {
      position: absolute;
      width: 100%;
      height: 400rpx;
      display: block;
      left: 0;
      top: 0;
      z-index: -1;
    }
    .integral-block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .integral-info-block {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding-left: 20rpx;    
        &.line {
          position: relative;
          &:after {
            display: block;
            content: '';
            opacity: 0.32;
            border-left: 1px dashed $white;
            width: rpx(2);
            height: rpx(23);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
      .integral-info-number {
        font-weight: bold;
        @include text(30, $white);
      }
      .integral-info-tips {
        @include text(14, $white);
      }
    }
  }

  .integral-lists {
    //position: absolute;
    //top: rpx(173);
    //left: 0;
    //bottom: 0;
    //right: 0;
    border-radius: 30rpx;
    background-color: $white;
    .user-lists {
      background-color: $white;
      box-shadow: 0 0 10rpx 0 rgba(141,143,145,0.1);
      border-radius: 20rpx;
      .list {
        height: rpx(44);
        display: flex;
        align-items: center;
        &:last-child {
          .list-body {
            &:after {
              border: none;
            }
          }
        }
        .list-icon-wrap {
          width: rpx(35);
          flex: rpx(35) 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          image {
            width: rpx(16);
            height: rpx(16);
          }
        }
        .list-body {
          .card-title-item {
            width: 10rpx;
            height: 32rpx;
            background: #0C5CA5;
            border-radius: 6px;
            margin-right: 10rpx;
            margin-left: 20rpx;
          }
          height: rpx(44);
          flex: 1;
          display: flex;
          align-items: center;
          @include border-bottom(#F0F0F0);
          .list-hd {
            @include text(15, $color-font-000);
          }
          .list-bd {
            flex: 1;
            text-align: right;
            @include text(13, $color-font-666);
            padding-right: rpx(7);
          }
          .list-ft {
            width: rpx(9);
            height: rpx(13);
            margin-right: rpx(15);
            &.detail {
              width: rpx(10);
              height: rpx(7);
              image {
                display: block;
                width: rpx(10);
                height: rpx(7);
                &.icon-arrow-down {
                  transform: rotate(180deg);
                }
              }
            }
            image {
              display: block;
              width: rpx(9);
              height: rpx(13);
            }
          }
        }
        .integral-chooses {
          position: absolute;
          top: rpx(45);
          right: rpx(10);
          width: rpx(90);
          height: rpx(130);
          background-color: $white;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          z-index: 11;
          box-shadow: 0 rpx(3) rpx(12) 0 rgba(0, 0, 0, 0.12);
          border-radius: rpx(10);
          .choose {
            flex: 1;
            width: rpx(55);
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #F0F0F0;
            @include text(14, $color-font-616);
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }

    .integral-list-wrap {
      background-color: $white;
      padding: 0 rpx(20);
    }
    .integral-list {
      padding: rpx(14) 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include border-bottom(#F0F0F0);
      &.first {
        .title {
          @include text(15, $color-font-616);
        }
        .img {
          display: block;
          width: rpx(18);
          height: rpx(19);
          margin-right: rpx(15);
        }
      }
      .integral-detail {
        .name {
          @include text(15, $color-font-333);
        }
        .time {
          padding-top: rpx(10);
          @include text(13, $color-font-8D9);
        }
      }
      .integral-num {
        @include text(20, $color-font-333);
        padding-right: rpx(15);
      }
    }
  }
}