@import "../../style/global";

/* 支付密码框 */
.pay_number {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* 第一个格子输入框 */
.pay_number>view:first-child{
  border-left:none;
}

/* 支付密码框聚焦的时候 */

.get_focus {
  border-color: orange;
}

/* 单个格式样式 */
.password_dot {
  width: rpx(50);
  height: rpx(50);
  border-radius: 100%;
  background-color: $white;
  //flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: rpx(5);
  box-sizing: border-box;
}

/* 单个格式样式（聚焦的时候） */

.get_focus_dot {
  //flex: 1;
  //border-left: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rpx(50);
  height: rpx(50);
  border-radius: 100%;
  background-color: $white;
  margin-right: rpx(5);
  box-sizing: border-box;
}

/* 模拟光标 */

.cursor {
  width: 1px;
  height: 15px;
  background-color: orange;
  animation: focus 0.7s infinite;
}

/* 光标动画 */

@keyframes focus {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* 格式中的点 */

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}

/* 输入框 */
.input_container {
  height: 0;
  width: 0;
  min-height:0;
  position: relative;
  text-indent: -999em;
  left: -100%;
  margin: rpx(25) 0;
}

