@import "../../../style/global";
page, block, view, scroll-view, swiper, movable-view, icon, text, progress, button, checkbox, form, input, label, picker, picker-view, radio, slider, switch, textarea, navigator, audio, image, video, map, canvas, contact-button, cover-image, cover-view {
  box-sizing: border-box;
}
page{
  height: 100%;
  font-size: 28rpx;
  color: #555;
  background: #efeff4;
  overflow-x: hidden;
}
page>.page {
  width: 750rpx;
  overflow-x: hidden;
}
.hidden {
  display: none !important;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}
.flex-y-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.flex-x-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info {
  width: 100%;
}

.width {
  width: 20%;
  text-align: center;
}

.active {
  color: #ff4544;
  border-bottom: 4rpx #ff4544 solid;
}

.info .info-title {
  width: 100%;
  height: 100rpx;
  padding: 0 24rpx;
  border-bottom: 1rpx #ccc solid;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.info .info-title .info-text {
  height: 100rpx;
  line-height: 100rpx;
}

.info .info-content {
  width: 100%;
  padding: 0 24rpx;
  background-color: #fff;
}

.info .info-content .info-label {
  border-bottom: 1rpx #ccc solid;
  padding: 24rpx 0;
  width: 100%;
}

.info .info-content:last-child .info-label {
  border: none;
}

.info-content .info-label .info-left {
  width: 60%;
}

.info-content .info-label .info-left .info-up {
  color: #353535;
  margin-bottom: 20rpx;
}

.info-content .info-label .info-left .info-down {
  font-size: 24rpx;
  color: #666;
}

.info-content .info-label .info-right {
  width: 40%;
  text-align: right;
  line-height: 100rpx;
  color: #ff4544;
}

.info-no {
  width: 100%;
  height: 90rpx;
  line-height: 90rpx;
  text-align: center;
  padding: 10rpx;
  color: #666;
}