@import "../../style/global";

.i-as {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  background: $background-color-base;
  transform: translate3d(0, 100%, 0);
  transform-origin: center;
  transition: all $transition-time ease-in-out;
  z-index: $zindex-select;
  visibility: hidden;

  &-show {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: $zindex-select;
    transition: all $transition-time ease-in-out;
    opacity: 0;
    visibility: hidden;

    &-show {
      opacity: 1;
      visibility: visible;
    }
  }

  &-action-item {
    position: relative;
    &::after {
      @include hairline();
      border-bottom-width: 1px;
    }
  }

  &-header {
    background: #fff;
    text-align: center;
    position: relative;
    font-size: $size-font-small;
    color: $subsidiary-color;
    &::after {
      @include hairline();
      border-bottom-width: 1px;
    }
  }

  &-cancel {
    margin-top: 6px;
  }

  &-btn {
    &-loading {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 12px;
      height: 12px;
      background: transparent;
      border-radius: 50%;
      border: 2px solid #e5e5e5;
      border-color: #666 #e5e5e5 #e5e5e5 #e5e5e5;
      animation: btn-spin 0.6s linear;
      animation-iteration-count: infinite;
    }

    &-text {
      display: inline-block;
      vertical-align: middle;
    }

    &-icon {
      font-size: $size-font-base !important;
      margin-right: 4px;
    }
  }
}

@keyframes btn-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}