@import "../../style/global";
.nav-tab-wrap {
  height: 100%;
}
.nav-tab-panel {
  width: rpx(375);
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

/*活动样式*/
.activity-lists {
  height: 100%;
  padding: rpx(10);
}
