@import "../../style/global";

.member-rights {

  .rights-desc-wrap {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .rights-desc {
      width: 620rpx;
      height: 364rpx;
      background: #F7F7F7;
      border-radius: 14px;
      margin-bottom: 30rpx;
      .desc {
        padding: 30rpx
      }
    }
  }
  
  // 会员卡面列表
  .member-car-face {
    background-color: $white;
    padding-top: rpx(10);
    box-sizing: border-box;
    .member-swiper {
      height: rpx(235);
      swiper-item {
        .card-rights {
          display: flex;
          justify-content: center;
          @include text(15, $color-font-616);
          margin-top: rpx(3);
        }
      }
    }
    .card-image-wrap {
      position: relative;
      width: rpx(300);
      height: rpx(197);
      @include box-shadow-member-car();
      border-radius: rpx(16);
      margin: 0 auto;
    }
    .card-image {
      width: rpx(300);
      height: rpx(197);
      border-radius: rpx(16);
    }
  }

  // 会员权益列表
  .member-rights-lists {
    overflow: hidden;
    background-color: $white;
    margin-top: rpx(10);
    padding-top: rpx(20);
    .member-rights-list {
      float: left;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-bottom: rpx(20);
      .rights-icon {
        width: rpx(30);
        height: rpx(30);
        // border-radius: 100%;
        display: block;
      }
      .rights-text {
        @include text(13, $color-font-616);
        margin-top: rpx(6);
      }
    }
    .no-rights {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 rpx(20) 0;
      @include text(15, $color-font-616);
    }
  }
}

