@import "../../../style/global";
.fixed-bottom{
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  z-index: 10;
  padding: rpx(7) rpx(15);
  height: rpx(50);
  background: #FFFFFF;
  box-shadow: 0 rpx(-3) rpx(5) 0 rgba(0, 0, 0, 0.05);
  .btn-add{
    height: rpx(36);
    line-height:rpx(36);
    text-align: center;
    color: #fff;
    font-size:rpx(14);
    background: $gradient-active;
    box-shadow: 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
    border-radius: rpx(18);
  }
}

.addressList{
  padding:rpx(10);
  .address-item{
    background: #FFFFFF;
    box-shadow: 0 0 rpx(10) 0 rgba(228, 228, 230, 0.5);
    border-radius: rpx(8);
    padding: 0 rpx(15);
    margin-bottom:rpx(10);
    .address-user{
      @include flex-space-between();
      align-items: center;
      color: #292D40;
      font-size:rpx(12);
      padding: rpx(20) 0;
      line-height:1;
      @include border-bottom(#DFDFDF, dashed);
      .name{
        font-size:rpx(14);
      }
      .phone{
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .trigger{
        display: inline-block;
        width:rpx(15);
        height:rpx(15);
        margin-left:rpx(16);
        .icon-editor{
          font-size:rpx(18);
          color: #4184FB;
        }
      }
    }
    .address-detail{
      padding-top:rpx(9);
      padding-bottom:rpx(15);
      font-size:rpx(12);
      color: #67747A;
      line-height:rpx(18);
      @include limit-line(2);
      .badge{
        background-color: rgba(65, 132, 251, 0.1);
        color: #4184FB;
        font-size:rpx(10);
        border-radius: rpx(2);
        display: inline-block;
        width:rpx(30);
        height:rpx(14);
        line-height:rpx(14);
        margin-right:rpx(5);
        text-align: center;
      }
    }
  }
}
