@import "../../../style/global";

@mixin dashed() {
  display: block;
  content: "";
  top: rpx(18);
  position: absolute;
  width: 0;
  height: rpx(13);
  transform: scaleX(0.5);
  transform-origin: 0 0;
  border-left: rpx(1) dashed #999;
}

.container {
  width: 100%;
  height: 100%;
  padding-bottom:rpx(20);
  min-height: 100vh;
  box-sizing: border-box;
  background: $gradient-card;
  border-radius: rpx(10);
  .card {
    margin: rpx(24) rpx(10);
    min-height: rpx(450);
    box-sizing: border-box;
    background-color: $white;
    border-radius: rpx(10);
    @include box-shadow-card();
    .card-title {
      padding-left: rpx(13);
      height: rpx(40);
      background: $card-bg2;
      @include text(16, $white);
      line-height: rpx(40);
      font-weight: 400;
      border-top-left-radius: rpx(10);
      border-top-right-radius: rpx(10);
    }
    .card-qr-wrap {
      padding: rpx(23) 0;
    }

    .card-member-title {
      text-align: center;
      @include text(16, $color-font-333);
      line-height: rpx(22);
      font-weight: bold;
    }
    .QR {
      margin: 0 auto;
      width: rpx(220);
      height: rpx(220);
      display: block;
      background-color: $white;
    }
    .card-member-num, .card-member-number {
      text-align: center;
      @include text(14, $color-font-8D9);
      line-height: rpx(20);
    }
    .card-member-info {
      margin-top: rpx(26);
      @include text(14, $color-font-616);
      text-align: center;
      line-height: rpx(20);
      image {
        margin-top: rpx(3);
        margin-right: rpx(8);
        width: rpx(15);
        height: rpx(14);
        vertical-align: top;
      }
    }
    .card-pay-num {
      padding: rpx(20) 0;
      line-height: rpx(20);
      text-align: center;
      @include text(14, $color-font-8D9);
      &.show {
        @include text(14, $color-font-333);
      }
    }
    .card-member-num {
      padding: rpx(20) 0;
      line-height: rpx(20);
      text-align: center;
      @include text(14, $color-font-8D9);
      &.show {
        @include text(14, $color-font-333);
      }
    }
  }
  .card-pay-box {
    width: rpx(325);
    margin: rpx(25) auto 0;
    @include flex-space-between();
    text-align: center;
    .card-pay-box-item {
      flex-grow: 1;
      position: relative;
      &:nth-of-type(2):before {
        @include dashed();
        left: 0;
      }
      > view:first-of-type {
        @include text(14, $color-font-222);
        line-height: rpx(24);
      }
      > view:last-of-type {
        @include text(20, $color-font-222);
        font-weight: bold;
        line-height: rpx(28);
      }

    }

  }
  .switch {
    margin: rpx(45) 0 rpx(20);
    padding: 0 rpx(75);
    width: rpx(325);
    box-sizing: border-box;
    @include flex-space-between();
    .item {
      &.inactive {
        opacity: 0.6;
      }
      .item-image {
        margin: 0 auto rpx(4);
        width: rpx(24);
        height: rpx(24);
        display: block;
      }
      .item-text {
        font-size: rpx(12);
        color: #584114;
        line-height: rpx(17);
        font-weight: bold;
        text-align: center;
      }
    }
  }
  .barcode {
    //display: flex;
    //height: rpx(41);
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
    &.member {
      margin: rpx(8) auto;
    }
    &.pay {
      margin: rpx(38) auto 0;
    }
    canvas {
      width:rpx(355);
      height: rpx(80);
      background: $white;
    }
  }
}