@import "../../style/global";

.nav-tab-wrap {
  height: 100vh;
  box-sizing: border-box;
  background-color: $bgColor;
  .nav-tab-panel {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .nav-tab-content {
      height: 100%;
    }
  }
  .search {
    width: 100%;
    height: rpx(44);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    position: fixed;
    top: rpx(45);
    z-index: 9;
    .searchIcon {
      width: rpx(18);
      height: rpx(18);
      position: absolute;
      top: rpx(13);
      left: rpx(27);
    }
    input {
      padding-left: rpx(38);
      width: rpx(345);
      height: rpx(32);
      box-sizing: border-box;
      background-color: #EFF3F8;
      line-height: rpx(32);
      @include text(12, $color-font-333);
      border-radius: rpx(32);
    }
    .placeholder {
      color: $color-font-placeholder;
    }
  }
  // 兑券
  .coupon {

    .coupon-lists {
      box-sizing: border-box;
      padding-top: rpx(89);
      width: 100%;
      height: 100vh;
      background-color: $bgColor;
    }
  }

  // 兑换
  .point {
    .pagination {
      font-size: 0;
    }

    .sub-tabs {
      top: rpx(45);
      .flex-grow {
        @include text(13, $color-font-222);
        &.active {
          font-size: rpx(13) !important;
        }
      }
    }

    .tabs {
      width: 100%;
      height: rpx(40);
      display: flex;
      justify-content: space-around;
      line-height: rpx(40);
      position: fixed;
      top: rpx(45);
      .tab {
        flex-grow: 1;
        background-color: $white;
        text-align: center;
        @include text(13, $color-font-999);
        &.active {
          color: #FB5B41;
          position: relative;
        }
      }
    }

    .list {
      padding-top: rpx(85);
      height: 100%;
      box-sizing: border-box;
      .item {
        display: inline-block;
        margin-top: rpx(10);
        margin-left: rpx(15);
        padding-bottom: rpx(10);
        width: rpx(165);
        overflow: hidden;
        .image {
          width: 100%;
          height: rpx(165);
          margin-bottom: rpx(9);
          border-radius: rpx(10);
        }
        .itemBottom {
          padding-left: rpx(5);
        }
        .name {
          display: block;
          width: rpx(151);
          line-height: rpx(25);
          @include text(15, $color-font-333);
          @include limit-line(2);
          min-height: rpx(50);
        }
        .score {
          width: rpx(165);
          @include no-wrap();
          .num {
            @include text(18, $color-font-primary);
          }
          .text {
            @include text(12, $color-font-primary);
            &.pad {
              padding: 0 rpx(2);
            }
          }
        }
      }
    }
  }
}

