@import '../../../style/global';

page {
  height: 100%;
  background: #F0F3F7;
}
.pb_50 {
  padding-bottom: rpx(50);
}
.addBox {
  position: fixed;
  bottom: 0;
  box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0,0,0,0.05);
  // left: rpx(15);
  width: 100%;
  background-color: #FFFFFF;
  .add-btn {
    @include wh(345, 36);
    @include text(14, #FFFFFF);
    margin: auto;
    margin-top: rpx(10);
    margin-bottom: rpx(10);
    border-radius: rpx(18);
    background-image: linear-gradient(270deg, #0c5ca5 0%, #0c5ca5 100%);
    &:after {
      border: none;
    }
  }
}

.height-1 {
  height: rpx(0.5);
}

.head-item {
  // width: rpx(355);
  min-height: rpx(92);
  background: #FFFFFF;
  box-shadow: 0 0 rpx(10) rpx(5) rgba(0,0,0,0.03);
  border-radius: rpx(4);
  margin: rpx(10);
  padding-left: rpx(15);
  .invoice-head {
    @include border-bottom(#DFDFDF, dashed);
    @include text(15, #333333);
    line-height: normal;
    display: flex;
    .flex1 {
      flex: 1;
      padding-top: rpx(20);
      padding-bottom: rpx(20);
    }
    .edit-box {
      width: rpx(50);
      padding-top: rpx(20);    
      display: flex;
      justify-content: flex-end;  
    }
    .edit-img {
      @include wh(14, 15);
      margin-right: rpx(17);
      margin-top: rpx(2.5);
    }
    &-txt {
      font-size: rpx(14);
    }
    .default-block {
      @include wh(30,14);
      background: #FFF0F3;
      border-radius: rpx(2);
      @include text(10, #FB5B41);
      text-align: center;
      margin-left: rpx(2);
      display: inline-block;
      line-height:28rpx;
      vertical-align:middle;
    }
  }
  .invoice-type {
    line-height: rpx(36);
    @include text(12, #666666);
  }
}
// .hidden {
//   display: none;
// }
.show {
  display: block;
}