@import "../../../style/global";

checkbox.components-shoppingCart-shoppingCart--checkbox .wx-checkbox-input {
  border: 1px solid #ADBBCC;
  border-radius: 50%;
  @include wh(14, 14);
  box-sizing: border-box;
  vertical-align: text-top;
}

checkbox.components-shoppingCart-shoppingCart--checkbox.components-shoppingCart-shoppingCart--disabled .wx-checkbox-input,
checkbox.components-shoppingCart-shoppingCart--checkbox.components-shoppingCart-shoppingCart--disabled .wx-checkbox-input.wx-checkbox-input-checked {
  background-image: $gradient-checkbox-disabled;
  border: transparent;
}

checkbox.components-shoppingCart-shoppingCart--checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  border: none;
  background-image: $gradient-checkbox;
}

checkbox.components-shoppingCart-shoppingCart--checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  border-radius: 50%;
  @include wh(14, 14);
  line-height: rpx(14);
  text-align: center;
  @include text(14, $white);
  background: transparent;
}