@import "../../style/global";

.refund-detail {
  .refund-detail-inner {
    padding-top: rpx(10);
    .block {
      background-color: $white;
      margin: 0 rpx(10);
      border-radius: rpx(10);
      padding: 0 rpx(15);
    }
    .notice {
      .title {
        font-weight: bold;
        font-size: rpx(18);
        height: rpx(50);
        display: flex;
        align-items: center;
        &.success {
          color: $color-font-6AC;
        }
        &.applying {
          color: $color-font-222;
        }
        &.err {
          color: $color-font-FF6;
        }
      }
      .tips {
        @include text(14, $color-font-333);
        padding-bottom: rpx(15);
      }
    }
    .block-lists {
      padding: rpx(11) 0;
      .list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        line-height: 1.7;
        .name {
          @include text(14, $color-font-616);
          flex: rpx(72) 0 0;
        }
        .num {
          @include text(14, $color-font-333);
          flex: 1;
          text-align: right;
          &.info {
            .img-lists {
              padding-top: rpx(18);
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            .img-list {
              @include wh(78, 78);
              border-radius: rpx(4);
            }
            .img-empty {
              @include wh(78, 78);
              border-radius: rpx(4);
            }
          }
        }
      }
    }
    .state {
      margin-top: rpx(10);
      .title {
        @include text(12, $color-font-8D9);
        border-bottom: rpx(2) dashed $border-color-F0F;
        height: rpx(35);
        display: flex;
        align-items: center;
      }
    }
    .store {
      margin-top: rpx(10);
      @include text(14, $color-font-616);
      .title {
        @include text(12, $color-font-8D9);
        border-bottom: rpx(2) dashed $border-color-F0F;
        height: rpx(35);
        display: flex;
        align-items: center;
      }
      .block-lists {
        .list {
          .num {
            @include text(14, $color-font-616);
          }
        }
      }
    }

  }
}