@import "../../../style/global";

.container {
  min-height: 100vh;
  background: $gradient-card;
  padding: rpx(30) rpx(25) rpx(25);
  box-sizing: border-box;
  .card {
    width: 100%;
    background-color: $white;
    border-radius: rpx(10);
    margin-bottom: rpx(24);
    position: relative;
    @include box-shadow-card();
    .out {
      display: block;
      width: rpx(70);
      height: rpx(70);
      position: absolute;
      top: rpx(-0.5);
      right: rpx(-0.5);
      z-index: 10;
    }
    .card-title {
      padding: rpx(15) rpx(15) rpx(8);
      .card-title-avatar {
        width: rpx(40);
        height: rpx(40);
        border-radius: 50%;
      }
      .card-title-phone {
        margin-left: rpx(12);
        display: inline-block;
        vertical-align: top;
        @include text(15, $color-font-000);
        line-height: rpx(40);
      }
    }
    .count-down {
      @include wh(164, 20);
      background: #F1FBFF;
      border-radius: 10px;
      @include text(14, #1E89AC);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto rpx(10);
      font-weight: bold;
    }
    .card-name {
      padding: 0 rpx(18);
      line-height: rpx(25);
      text-align: center;
      @include text(18, $color-font-000);
    }
    .card-erweima {
      margin: rpx(20) auto rpx(12);
      width: rpx(177);
      height: rpx(177);
      display: block;
      background-color: $white;
    }
    .card-code {
      line-height: rpx(22);
      text-align: center;
      @include text(15, $color-font-000);
    }
    .park-bg {
      @include wh(166, 108);
      margin: rpx(30) auto 0;
      image {
        display: block;
        @include wh(166, 108);
      }
    }
    .card-address {
      margin: rpx(15) 0 rpx(20);
      @include text(14, $color-font-6f7);
      @include text(14, $color-font-333);
      text-align: center;
      &.padding {
        line-height: 2;
      }
    }
    .card-intro {
      margin-bottom: rpx(20);
      line-height: rpx(22);
      font-weight: bold;
      @include text(15, $color-font-card-intro);
      text-align: center;
      text-decoration: underline;
    }
  }

  .text-line-wrap {
    padding: rpx(20) 0;
    border-top: rpx(2) dashed $border-color-bottom;
  }

  .text-line {
    padding-left: rpx(50);
    @include text(14, $color-font-6f7);
    line-height: rpx(22);
  }
  .back-coupon {
    @include wh(180, 40);
    margin: 0 auto rpx(20);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #A3AFBF;
    @include text(16, $color-font-8D9);
    font-weight: bold;
    border-radius: rpx(100);
  }
}

