@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";
page {
  height: 100%;
}

.vote-details {
  padding-bottom: rpx(74);
  height: 100%;
  // 信息投票基本
  .vote-base-info {
    background-color: $white;
    padding: rpx(10) rpx(10) rpx(15);
    margin-bottom: rpx(10);
    .vote-img-wrap {
      width: rpx(355);
      height: rpx(177.5);
      border-radius: rpx(10);
      .vote-img-swiper {
        height: rpx(177.5);
        .img-swiper {
          text-align: center;
        }
        image {
          width: rpx(355);
          height: rpx(177.5);
          border-radius: rpx(10);
        }
      }
    }
    .title {
      @include text(15, $color-font-333);
      word-break: break-all;
      font-weight: bold;
      padding: rpx(15) rpx(30) rpx(15) 0;
    }
    .count {
      margin: 0 auto;
      width: rpx(345);
      border-radius: 0 0 rpx(10) rpx(10);
      .time {
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: bottom;
        height: rpx(36);
        background-image: $gradient-vote-bg;
        border-radius: rpx(10) rpx(10) 0 0;
        @include text(16, $color-font-333);
        text {
          @include text(12, $color-font-333);
        }
      }
      .count-lists {
        height: rpx(80);
        background-image: $vote-list-bgColor;
        display: flex;
        justify-content: space-between;
        .count-list {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .sub-title {
            @include text(12, $color-font-584);
          }
          .number {
            @include text(18, $color-font-000);
            font-weight: bold;
            margin-top: rpx(7.5);
          }
        }
      }
    }
  }

  // 投票活动说明
  .vote-desc {
    margin-top: rpx(10);
    padding: rpx(10) rpx(15);
    background-color: $white;
    .title {
      @include text(15, $color-font-333);
      font-weight: bold;
    }
    .cont {
      padding: rpx(10) 0 0;
      @include text(13, $color-font-616);
      letter-spacing: 1.5px;
      line-height: rpx(20);
      word-break: break-all;
    }
  }

  // 活动投票区
  .vote-area {
    height: rpx(40);
    padding: rpx(6) rpx(15) 0;
    display: flex;
    align-items: center;
    @include text(15, $color-font-333);
    font-weight: bold;
    box-sizing: border-box;
  }

  // tab&搜索区域
  .tab-wrap {
    background-color: $white;
    padding-bottom: rpx(15);
    .nav-tab {
      border-bottom: none;
      background-color: $white;
      padding: rpx(5) 0;
      position: relative;
      z-index: 1;
    }
    .flex-grow {
      font-size: rpx(15) !important;
      color: #4D3609 !important;
    }
    .active{
      font-size: rpx(15) !important;
      color: #333 !important;
    }
    .slider{
      background-color: $color-font-333;
    }
    .search-wrap {
      margin: rpx(10) auto 0;
      width: rpx(345);
      height: rpx(38);
      background: $vote-search-bgColor;
      display: flex;
      align-items: center;
      border-radius: rpx(38);
      font-size: rpx(14);
      .search-img {
        width: rpx(20);
        height: rpx(20);
        margin: 0 rpx(5) 0 rpx(8);
      }
      .search {
        width: 95%;
        .input-style {
          @include text(14, $color-font-616);
        }
      }
    }
  }

  // 投票列表
  .vote-lists-wrap {
    height: 100%;
  }
  .vote-lists {
    height: 100%;
    .vote-list {
      position: relative;
      margin: rpx(10) auto 0;
      display: flex;
      width: rpx(355);
      height: rpx(110);
      background: $white;
      box-shadow: 0 0 rpx(4) 0 rgba(0, 0, 0, 0.06);
      border-radius: rpx(10);
      .vote-img {
        width: rpx(90);
        height: rpx(90);
        flex: rpx(90) 0 0;
        margin: rpx(10);
        border-radius: rpx(4);
      }
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        .title {
          @include text(15, $color-font-333);
          @include limit-line(1);
          word-break: break-all;
          font-weight: bold;
          margin-top: rpx(14);
          margin-bottom: rpx(22);
        }
        .number, .score {
          @include text(14, $color-font-333);
          vertical-align: bottom;
          .num {
            @include text(16, $color-font-vote-num);
            font-weight: bold;
          }
          .txt {
            @include text(12, $color-font-vote-num);
          }
        }
        .number {
          padding-top: rpx(6);
        }
        .vote-to {
          position: absolute;
          right: rpx(15);
          bottom: rpx(15);
          width: rpx(92);
          height: rpx(28);
          font-size: rpx(14);
          border-radius: rpx(40);
          display: flex;
          align-items: center;
          justify-content: center;
          @include text(14, $white);
          &.active {
            background-image: $gradient-active;
          }
          &.disabled {
            background-image: $gradient-disabled;
          }
        }
      }
    }
  }

}

//footer
.vote-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: rpx(64);
  background-color: $white;
  border-top: rpx(1) solid $border-color-F0F;
  z-index: 1;
  .btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rpx(64);
    padding: 0 rpx(15);
  }

  .btn {
    display: flex;
    align-items: center;
  }
  button {
    border-radius: rpx(2);
    height: rpx(40);
    @include text(16, $white);
    &:after {
      border: none;
    }
    &.active {
      width: rpx(335);
      background-image: $gradient-active;
    }
    &.disabled {
      background: $gradient-disabled;
      width: rpx(335);
    }
  }
}

.share-btn {
  position: fixed;
  right: rpx(25);
  bottom: rpx(95);
  z-index: 8;
  @include wh(50, 50);
  border-radius: 100%;
}