/* pages/demo.wxss */

.block-box {
    background-color: #fff;
    padding: 24rpx 30rpx;
    margin-top: 20rpx;
    .title {
        display: flex;
        align-items: center;
        line-height: 34rpx;
        margin-bottom: 10rpx;
        .hei {
            font-size: 24rpx;
            color: #292D40;
            margin-right: 10rpx;
        }
        .red {
            font-size: 20rpx;
            color:#FF6378;
        }
        .yel {
            color: #FFB56C;
            font-size: 20rpx;
        }
    }
}
.text-area-box {
    textarea {
        width: 100%;
        height: 160rpx;
        line-height: 40rpx;
        font-size: 24rpx;
        color: #292D40;
    }
}

.img-up-box {

    .img-list-box {
        display: flex;
        padding-left: 170rpx;
        flex-wrap: wrap;
        .img-box {
            width: 160rpx;
            height: 160rpx;
            border-radius: 8rpx;
            margin: 20rpx 20rpx 0 0;
            position: relative;
            image{
                width: 100%;
                height: 100%;
            }
            .delete {
                position: absolute;
                width: 32rpx;
                right: 0;
                top: 0;
            }
        }
        .img-box:nth-child(1),
        .img-box:nth-child(2),
        .img-box:nth-child(3) {
            margin-top: 0;
        }
        .img-box:nth-child(3n){
            margin-right: 0;
        }
        .upimg-btn {
            background-color: rgba(0,0,0,.05);
            display: flex;
            align-items: center;
            justify-content: center;
            image {
                width: 44rpx;
            }
        }
    }
}
.info-box{
    margin-top: 20rpx;
    background-color: #fff;
    .li{
        display: flex;
        height: 100rpx;
        position: relative;
        padding: 0 30rpx;
        font-size: 24rpx;
        line-height: 100rpx;
        .left {
            padding-right: 30rpx;
            word-break: break-all;
            word-wrap: break-word;
            flex-shrink: 0;
        }
        .right {
            flex-grow: 1;
            input{
                width: 100%;
                text-align: right;
                height: 100rpx;
            }
        }
    }
    .li:nth-child(1)::after {
        content: "";
        position: absolute;
        width: 720rpx;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #f0f0f0;
    }
}


.bottom-btn {
    padding: 14rpx 30rpx;
    background-color: #fff;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.05);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    .btn {
        height: 72rpx;
        line-height: 72rpx;
        font-size: 28rpx;
        color: #fff;
        background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
        box-shadow: 0 2px 4px 0 rgba(243,79,51,0.25);
        border-radius: 36rpx;
        text-align: center;
    }
}