@import "../../style/global";

.rights-name {
  padding-top: rpx(10);
  .inner {
    background-color: $white;
    width: rpx(355);
    margin: 0 auto;
    border-radius: rpx(10);
    padding: rpx(15);
    box-sizing: border-box;
  }
  .title {
    height: rpx(50);
    display: flex;
    align-items: center;
    font-weight: bold;
    @include text(22, $color-font-000);
  }
  .block {
    padding: rpx(10) 0;
    .title-wrap {
      display: flex;
      align-items: center;
      .name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rpx(82);
        height: rpx(27);
        font-weight: bold;
        @include text(15, $white);
        border-radius: rpx(4) rpx(27) rpx(27) rpx(4);
        background-image: $gradient-active;
      }
    }
    .member {
      @include text(13, $color-font-333);
      margin-top: rpx(10);
      text {
        padding-right: rpx(20);
      }
    }
    .desc {
      padding: rpx(15) 0;
      word-break: break-all;
      .tips1 {
        @include text(13, $color-font-333);
        padding: rpx(20) 0;
      }
      image {
        width: rpx(325) !important;
        height: rpx(136);
        display: block;
        margin: 0 auto;
      }
      .tips2 {
        @include text(13, $color-font-333);
        padding-top: rpx(10);
      }
    }
  }
}