@import "../../style/global";

.author {
  width           : 100%;
  height          : 100%;
  background-color: $white;

  .author-inner {
    position      : absolute;
    z-index       : 1;
    left          : 0;
    top           : 0;
    width         : 100%;
    height        : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    text-align    : center;
  }

  .shop-detail .detail {
    width: 640rpx;
    height: auto;
    background-color: white;
    margin-top: 30rpx;
    color: #67747a;
    font-size: 24rpx;
    line-height: 40rpx;
    letter-spacing: 2.76rpx;
    margin-bottom: 30rpx;
    padding: 30rpx;
  }

  .author-btn {
    @include wh(320, 50);
    border-radius   : rpx(100);
    background-image: linear-gradient(-90deg, #0C5CA5 0%, #0C5CA5 100%);
    @include text(16, $white);
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 0 auto;
    position       : fixed;
    bottom         : 300rpx;

    &:after {
      border: none;
    }
  }

  .cancel {
    @include text(16, #0C5CA5);
    margin-top: rpx(20);
    position  : fixed;
    bottom    : 240rpx;
  }
}