@import "../../style/global";
.nav-tabs {
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: rpx(375);
  height: rpx(48);
  z-index: 100;
  box-sizing: border-box;
  &.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  &.changeOrganize {
    position: fixed;
    top: rpx(46);
    left: 0;
    z-index: 10;
  }
  .tab-item {
    position: relative;
    z-index:10;
    flex:1;
    text-align: center;
    @include text(14, $color-font-333);
    line-height: rpx(48);
    .tab-name{
      position: relative;
      z-index: 1;
    }
    &.active {
      color: #FB5B41;
      font-weight: 500;
      &:after{
        content: '';
        display: block;
        width: rpx(20);
        height: rpx(6);
        border-radius: rpx(1);
        position: absolute;
        left:50%;
        bottom: rpx(14);
        margin-left:rpx(-10);
        background-color: rgba(255, 216, 187, 0.7);
      }
    }
  }
}
