@import "../../style/global";

.lists {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .list {
    background-color: $white;
    width: 100%;
    margin-top: rpx(10);
    .theme-title {
      padding-top: rpx(12);
      width: 100%;
      height: rpx(40);
      text-align: center;
    }
    .img {
      width: 100%;
      height: rpx(186.5);
    }
  }
}