@import "../../style/global";

.coupon-list {
  background-color: #fff;
  border-radius: rpx(10);
  padding: rpx(10);
  margin-bottom:rpx(10);
  overflow: hidden;
  align-items: stretch;
  @include flex-space-between();
  @include box-shadow-coupon();
  .coupon-image {
    @include wh(80, 80);
    border-radius: rpx(4);
  }
  .cont {
    flex:1;
    padding: 0 rpx(10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .tit {
      @include text(14, #012433);
      @include limit-line(2);
      line-height:1.2;
    }
    .desc {
      @include text(12, #77818C);
      @include no-wrap();
      max-width: rpx(150);
      line-height: 1.5;
      margin-top:rpx(5);
      margin-bottom:rpx(10);
    }
    .price{
      color: #FB5B41;
      .amount{
        font-size: rpx(16);
      }
      .unit{
        font-size: rpx(10);
      }
    }
  }
  .operation{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: rpx(80);
    .limit {
      color: #77818C;
      font-size: 12px;
      .amount{
        color: #FB5B41;
      }
    }
    &:after,
    &:before{
      content: '';
      display: block;
      width: rpx(15);
      height: rpx(15);
      background-color: #f1f1f1;
      border-radius: 100%;
      position: absolute;
      left: rpx(-13);
    }
    &:after{
      top: rpx(-18);
    }
    &:before{
      bottom:rpx(-18);
    }
  }
  .get-coupon {
    width: rpx(64);
    height: rpx(24);
    background: #0C5CA5;
    // box-shadow: 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
    border-radius: rpx(39);
    font-size: rpx(10);
    margin-top:rpx(10);
    padding: 0;
    &:after {
      border: none;
    }
    &.inactive {
      color: $color-font-676;
      background-image: $gradient-disabled;
      box-shadow: 0 rpx(2) rpx(4) 0 rgba(158, 158, 158, 0.3);
    }
    .font_12 {
      font-size: rpx(12);
      padding-left: rpx(3.5);
      padding-right: rpx(2.5);
    }
    view{
      font-size: rpx(10);
      color: #fff;
      font-weight: 400;
    }
  }
}
.one{
  display: inline-block;
  font-size: rpx(10);
  color: #FB5B41;
}