@import "../../style/global";

.question-detail {
  height: 100%;
  padding-bottom: rpx(84);

  // 问卷基本信息
  .detail-base-info {
    background-color: $white;
    padding: rpx(13) rpx(10);

    .detail-img-wrap {
      @include wh(355, 177.5);
      border-radius: rpx(10);
      margin: rpx(2) 0 rpx(10);

      .image-pic {
        @include wh(355, 177.5);
        border-radius: rpx(10);
      }
    }

    .title {
      @include text(16, $color-font-333);
      @include flex-space-between();

      .txt {
        flex: 1;
        @include limit-line(2);
        padding-right: rpx(45);
        align-items: flex-start;
        font-weight: bold;
      }

      #goods-share {
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        width: rpx(20);
        height: rpx(20);
        background-color: transparent;
        align-self: center;

        &:after {
          border: none;
        }

        .goods-share {
          width: rpx(20);
          height: rpx(20);
          vertical-align: top;
        }
      }
    }

    .time {
      @include text(12, $color-font-999);
      padding: rpx(5) 0;
      margin-left: rpx(5);
    }

    .count-time {
      @include text(12, $color-font-333);

      .time {
        @include text(12, #8B572A);
        background-image: $gradient-count-time;
        border-radius: rpx(3);
        padding: rpx(3) rpx(5);
      }
    }
  }

  // 问卷说明
  .detail-desc {
    margin-top: rpx(10);
    background-color: $white;
    padding: 0 rpx(10) rpx(10);

    .title {
      @include text(15, $color-font-333);
      font-weight: bold;
      height: rpx(38);
      display: flex;
      align-items: center;
      word-break: break-all;
    }

    .cont {
      word-break: break-all;
      letter-spacing: rpx(1.5);
      line-height: 1.6;
      @include text(13, $color-font-616);
    }
  }

  // 问卷列表
  .question-lists {
    background-color: $white;
    margin-top: rpx(10);
    padding-bottom: rpx(10);

    .tit {
      @include text(15, $color-font-333);
      font-weight: bold;
      padding: rpx(10) 0 0 rpx(10);
    }

    .list {
      margin: 0 rpx(10);
      border-bottom: rpx(1) solid $border-color-F0F;

      &:last-child {
        border: none;
      }

      .titles {
        padding: rpx(15) 0;

        .require {
          width: rpx(15);
          margin-right: rpx(5);
          @include text(14, $color-font-F59);
        }

        .title {
          @include text(16, $color-font-000);
          word-break: break-all;
        }

        .tip {
          @include text(13, $color-font-999);
        }
      }

      .answer {
        .items {

          .radio,
          .checkbox {
            display: flex;
            align-items: center;
            @include text(14, $color-font-333);
            margin-bottom: rpx(10);

            &:last-child {
              margin-bottom: rpx(25);
            }

            &.hasImage {
              box-sizing: border-box;
              border: 1px solid #DBDBDB;
              border-radius: 4px;
              padding: rpx(10);

              .text {
                flex: 1;
                word-break: break-all;
              }

              .image {
                @include wh(80, 80);
                border-radius: rpx(4);
                flex: rpx(80) 0 0;
                margin-left: rpx(10);
              }
            }

            .text {
              word-break: break-all;
            }
          }

          .textarea {
            padding: rpx(10);
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #DCDFE6;
            border-radius: 4px;
            @include text(14, $color-font-333);

            &.disabled {
              background-color: #F5F7FA;
            }
          }

          .textarea-pla {
            @include text(14, #B4C2D4);
          }

          // radio
          .radio .wx-radio-input {
            border: 1px solid #CBCBCB;
            @include wh(16, 16);
            box-sizing: border-box;
            vertical-align: text-top;
          }

          .radio.disabled .wx-radio-input {
            background-image: linear-gradient(90deg, #F5F7FA 0%, #F5F7FA 100%);
          }

          .radio.disabled .wx-radio-input.wx-radio-input-checked {
            background-image: linear-gradient(227deg, #808080 0%, #3B3B3B 100%) !important;
            border: none !important;
          }

          .radio .wx-radio-input {
            &.wx-radio-input-checked {
              border: none !important;
              background-image: linear-gradient(227deg, #808080 0%, #3B3B3B 100%) !important;
            }

            &.wx-radio-input-checked {
              &:before {
                border-radius: 50%;
                @include wh(16, 16);
                line-height: rpx(16);
                text-align: center;
                @include text(16, $white);
                background: transparent;
              }
            }
          }

          // checkbox 样式
          .checkbox .wx-checkbox-input {
            border: 1px solid #CBCBCB;
            @include wh(16, 16);
            box-sizing: border-box;
            vertical-align: text-top;
          }

          .checkbox.disabled .wx-checkbox-input {
            background-image: linear-gradient(90deg, #F5F7FA 0%, #F5F7FA 100%);
            border: 1px solid #DCDFE6;
          }

          .checkbox.disabled .wx-checkbox-input.wx-checkbox-input-checked {
            background-image: $gradient-vote-checkbox;
            border: none;
          }

          .checkbox .wx-checkbox-input.wx-checkbox-input-checked {
            border: none;
            background-image: $gradient-vote-checkbox;
          }

          .checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
            border-radius: 50%;
            @include wh(16, 16);
            line-height: rpx(16);
            text-align: center;
            @include text(16, $white);
            background: transparent;
          }
        }
      }
    }
  }

  //footer
  .footer {
    position: fixed;
    bottom: 0;
    z-index: 9;
    box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    width: rpx(375);
    height: rpx(50);
    display: flex;
    justify-content: center;
    background: $white;

    .flex-1 {
      flex: 1;
    }

    .submit-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: $white;
      font-size: rpx(14);
      line-height: rpx(21);
      height: rpx(50);
      border-radius: 0;
      z-index: 9;
      // background-image: $gradient-active-un;
      background: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
      border: none;
      &::after {
        border-radius: 0;
      }
    }

    .image {
      background-image: $gradient-active;
    }
    .over{
      background: linear-gradient(274deg, #FDADA0 0%, #FEEEEC 100%);
      color: #AC6257;
    }
  }



}