@import "../../style/global";
// 绑定车辆
.bind-car-wrap {
  width: rpx(295);
  height: rpx(232);
  background: $white;
  box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.11);
  border-radius: rpx(10);
  position: relative;
  text-align: center;
  .close {
    position: absolute;
    right: rpx(15);
    top: rpx(15);
    width: rpx(18);
    height: rpx(18);
  }
  .title {
    font-weight: bold;
    @include text(18, $color-font-333);
    padding: rpx(28) 0 rpx(30);
  }
  .input-car-num {
    width: rpx(235);
    border-bottom: 1px solid $border-color-DBD;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: rpx(12) 0;
    .province-wrap {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      .province {
        width: rpx(25);
        height: rpx(25);
        line-height: rpx(25);
        @include text(15, $color-font-333);
      }
      .inputBox{
        border: 1px solid $border-color-DBD;
      }
      .inputBox1{
        border: 1px solid #16b779;
      }
    }
    .car-num-wap {
      flex: 1;
      .inputBoxCss{
        float: left;
        @include text(15, $color-font-999);
        width: rpx(25);
        height: rpx(25);
        line-height: rpx(25);
        margin-left: 2px;
      }
      .inputBox{
        border: 1px solid $border-color-DBD;
      }
      .inputBox1{
        border: 1px solid #16b779;
      }
    }
  }
  .err-tips {
    width: rpx(235);
    font-size: rpx(13);
    color: #E02D43;
    text-align: left;
    margin: rpx(6) auto 0;
  }
  .btn {
    position: absolute;
    bottom: rpx(27);
    left: 50%;
    transform: translateX(-50%);
    border-radius: rpx(100);
    height: rpx(40);
    width: rpx(228);
    @include text(16, $white);
    background-image: $gradient-active;
    &:after {
      border: none;
    }

  }
}