@import "../../style/global";
/*人气商品样式*/
.hot-commodity-item {
  width: rpx(172);
  border-radius: rpx(4);
  background: #FFFFFF;
  box-shadow: 0 rpx(2) rpx(5) 0 rgba(0, 0, 0, 0.05);
  margin-top: rpx(10);
  position: relative;
  .hot-presale-img{
    width: rpx(66);
    height: rpx(21);
    position: absolute;
    left: 0;
    top: rpx(5);
  }
  .hot-presale-text{
    position: absolute;
    left: rpx(18);
    top: rpx(11);
    font-size: rpx(9);
    line-height: rpx(9);
    color: #FFFFFF;
    font-family: PingFangSC-Medium;
  }
}
// 商品列表
.list-wrap{
  width: rpx(173);
  font-size:0;
  background: #FFFFFF;
  border-radius: rpx(4);
  .shop-img{
    width: rpx(173);
    height: rpx(173);
    border-top-left-radius: rpx(4);
    border-top-right-radius: rpx(4);
  }
  .list-info{
    padding: 0 rpx(10) rpx(10) rpx(10);
  }
  .list-text{
    margin: rpx(10) 0;
    font-size: rpx(12);
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #292D40;
    line-height: rpx(14);
    height: rpx(28);
    @include limit-line(2)
  }
  .list-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    font-size: rpx(14);
    color: #FB5B41;
    font-family: PingFangSC-Medium, PingFang SC;
    .nowPrice{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
      line-height: rpx(14);
    }
    .unit{
      font-size:rpx(10);
    }
    .list-price2{
      margin-top:rpx(2);
      font-size: rpx(12);
      color: #B4B9CF;
      text-decoration: line-through;
    }
    .list-img2{
      height: rpx(16);
      width: rpx(16);
    }
  }
}
