@import "../../../style/global";
.container {
  height: 100vh;
}

.top-fixed {
  position: fixed;
  left:0;
  top: 0;
  z-index: 10;
  height: rpx(93);
  width: 100%;
  background-color: #fff;
}

// 搜索
.top-search-wrap {
  width: 100%;
  height: rpx(50);
  padding: 0 rpx(15);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .top-search {
    display: flex;
    width: rpx(345);
    height: rpx(34);
    background: #F5F6F8;
    border-radius: rpx(50);
    color: #77808C;
    align-items: center;
    .search-img {
      margin-left: rpx(12);
      margin-right: rpx(8);
      width: rpx(19);
      height: rpx(19);
    }
    .search {
      width: 80%;
      height: 100%;
      font-size: rpx(12);
      .input-placeholder {
        font-size: rpx(12);
      }
    }
    .input-style {
      color: #B4C2D4;
    }
  }
}

// 排序
.sort-wrap {
  display: flex;
  align-items: center;
  background-color: $white;
  height: rpx(46);
  margin: rpx(0) rpx(10);
  border-bottom: rpx(1) solid #F0F0F0;
  .sort-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: rpx(46);
    position: relative;
    &.active {
      color: #FB5B41;
    }
    .text {
      @include text(15, #292D40);
    }
    .border-bottom {
      @include wh(20, 3);
      background: #FFF;
      border-radius: rpx(100);
      margin-top: rpx(3);
    }
    .order {
      position: absolute;
      @include wh(6, 10);
      top: 46%;
      transform: translateY(-50%);
      right: 30%;
    }
  }
}

.categroy {
  display: flex;
  height: rpx(46);
  align-items: center;
  width: 100%;
  .categroy-items {
    width: 100%;
    height: rpx(46);
    line-height: rpx(46);
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    margin: 0 rpx(10);
    .item {
      @include text(13, $color-font-222);
      height: rpx(26);
      display: inline-block;
      line-height: rpx(26);
      margin-right: rpx(15);
      color: #67747A;
      background: #F1F5F6;
      border-radius: rpx(13);
      border: rpx(1) solid #F1F5F6;
      padding: 0 rpx(15);
      &.active {
        color: #FB5B41;
        background: rgba(245, 169, 156, 0.32);
        border-color:#FB5B41;
      }
      &:last-child {
        margin-right: rpx(50);
      }
    }
  }
  .arrow-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: rpx(46);
    .pulldown-icon {
      width: rpx(10);
      height: rpx(10);
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.list-wrapper {
  padding: 0 rpx(10);
  @include flex-space-between();
  flex-wrap: wrap;
}

.hot-goods-lists {
  padding-top:rpx(93);
  box-sizing: border-box;
  background-color: $bgColor;
}

/*分类固定标签*/
.category-wrap {
  @include wh(62, 36);
  background: $white;
  box-shadow: 0 0 rpx(5) 0 rgba(0, 0, 0, 0.10);
  border-radius: 0 rpx(18) rpx(18) 0;
  position: fixed;
  top: rpx(10);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .category-img {
    @include wh(14, 14);
  }
  .category-text {
    @include text(12, #2D2D2D);
    margin-left: rpx(5);
  }
}

.category-container {
  background: $white;
  box-shadow: 0 rpx(8) rpx(10) 0 rgba(0, 0, 0, 0.30);
  width: rpx(116);
  height: 100vh;
  padding: rpx(28) 0 rpx(28) 0;
  .category-item {
    margin: rpx(20) 0;
    @include text(14, #616C7A);
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      border-left: rpx(4) solid #CA9F59;
      color: #584114;
    }
  }
}
.search-cancel {
  margin: rpx(10);
  width: rpx(50);
  color:#292D40;
  font-size:rpx(12)
}
.search-img2 {
  margin-left: rpx(12);
  margin-right: rpx(8);
  width: rpx(13.48);
  height: rpx(13.48);
}
.load-state{
  text-align: center;
  font-size: rpx(12);
  color: #999;
  margin-top:rpx(15);
  flex: 1;
}