@import "../../../style/global";

.container {
  background: linear-gradient(180deg, #FB5B41 rpx(60), #F0F3F7 rpx(165));
}
.top-fixed {
  position: fixed;
  left:0;
  top: 0;
  z-index: 10;
  width:100%;
  height: rpx(60);
  padding-top:rpx(10);
  background: #FB5B41;
  box-sizing: border-box;
}

.category {
  position: relative;
  width: 100%;
  height: rpx(60);
  .category-items {
    height: rpx(51);
    margin-right: rpx(10);
    padding-left:rpx(40);
    font-size: rpx(12);
    color: rgba(255,255,255,0.8);
    white-space: nowrap;
    .item {
      display: inline-block;
      width: rpx(77.5);
      margin-right: rpx(10);
      text-align: center;
      .time{
        font-size:rpx(16);
        font-weight:500;
        .counter{
          color: #ffffff;
        }
        .unit{
          font-size:rpx(10);
        }
      }
      .label{
        display: inline;
      }
      &.active{
        color: #ffffff;
        .label{
          padding: rpx(2) rpx(10);
          color: #FB5B41;
          background-color: #fff;
          border-radius:rpx(8);
        }
      }
      &:last-child {
        margin-right: rpx(50);
      }
    }
  }
  .category-pic{
    position: absolute;
    top:0;
    left:0;
    height:rpx(29);
    width:rpx(22);
    padding:rpx(10);
    z-index: 1;
    background: #FB5B41;
  }
}

.hot-goods-lists {
  padding: rpx(70) rpx(10);
}
.load-state{
  text-align: center;
  font-size: rpx(12);
  color: #999;
  margin-top:rpx(15);
}
