@import "../../../style/global";

.orders {
  min-height: rpx(300);
}

.tab-content {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.load-state {
  text-align: center;
  font-size : rpx(12);
  color     : #999;
  margin-top: rpx(15);
}

.base-info {
  display         : flex;
  align-items     : center;
  background-color: #FFFFFF;

  .img {
    position        : relative;
    width           : 770rpx;
    height          : 270rpx;
    background-color: #F7F7F7;
    border-radius   : rpx(4);
    overflow        : hidden;
  }

  .status {
    font-size  : 42rpx;
    font-family: PingFang SC;
    font-weight: bold;
    color      : #FFFFFF;
    position   : absolute;
    left       : 120rpx;
    top        : 50rpx;
  }

  .time-counter {
    position   : absolute;
    left       : 120rpx;
    font-size  : 32rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color      : #FFFFFF;
    display    : flex;
    align-items: center;
  }
}

.serivce {
  width           : 700rpx;
  border-radius   : rpx(4);
  display         : flex;
  flex-direction  : column;
  background-color: #FFFFFF;
  margin-top      : 10rpx;
  margin-bottom   : 10rpx;

  .label {
    display    : flex;
    align-items: center;
    margin-left: 30rpx;
    margin-top : 39rpx;

    .card-title-item {
      width        : 10rpx;
      height       : 32rpx;
      background   : #0C5CA5;
      border-radius: 6px;
      margin-right : 10rpx;
    }

    .content {
      margin-left: 13rpx;
      font-size  : 34rpx;
      font-family: PingFang SC;
      font-weight: bold;
      color      : #333333;
      line-height: 48rpx;
    }
  }

  .address {
    display    : flex;
    margin-left: 55rpx;
    margin-top : 35rpx;

    .address-label {
      font-size  : 26rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #999999;
      line-height: 48rpx;
      width      : 110rpx;
    }

    .address-content {
      margin-left: 52rpx;
      font-size  : 26rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #333333;
      line-height: 48rpx;
      width      : 460rpx;
    }
  }
}

// .btn-wrap {
//   width           : 100%;
//   height          : 209rpx;
//   background-color: #FFFFFF;
//   position        : fixed;
//   bottom          : 0;
//   display         : flex;
//   align-items     : center;
//   justify-content : center;

//   .book-btn {
//     width                    : 689rpx;
//     height                   : 106rpx;
//     display                  : flex;
//     align-items              : center;
//     justify-content          : center;
//     background-color         : #0C5CA5;
//     color                    : #FFFFFF;
//     border-top-left-radius   : 50rpx;
//     border-bottom-left-radius: 50rpx;
//     width                    : 363rpx;
//   }

//   .cancel-btn {
//     width                     : 689rpx;
//     height                    : 106rpx;
//     display                   : flex;
//     align-items               : center;
//     justify-content           : center;
//     background-color          : #FFE5E5E5;
//     color                     : #FF999999;
//     border-top-right-radius   : 50rpx;
//     border-bottom-right-radius: 50rpx;
//     width                     : 363rpx;
//   }
// }

.btn-wrap {
  width           : 100%;
  height          : 209rpx;
  background-color: #FFFFFF;
  position        : fixed;
  bottom          : 0;
  display         : flex;
  align-items     : center;
  justify-content : center;

  .cancel-btn {
    width           : 689rpx;
    height          : 106rpx;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: #0C5CA5;
    color           : #FFFFFF;
    border-radius   : 50rpx;
  }
}