@import "../../style/global";
.container {
  padding: 0 rpx(30) 0;
  width: 100%;
  box-sizing: border-box;
  background: $gradient-card;
  .container-inner {
    padding: rpx(25) 0 rpx(25);
  }
  // 卡片样式
  .card {
    width: rpx(315);
    box-sizing: border-box;
    background-color: $white;
    border-radius: rpx(10);
    @include box-shadow-park();
    overflow: hidden;
    position: relative;
    // 停车公告
    .rule {
      position: absolute;
      @include text(14, $color-font-parking-rule);
      font-weight: bold;
      top: rpx(30);
      right: rpx(25);
      z-index: 3;
    }
    .carNumber-wrap {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: rpx(45) 0 rpx(35);
      .carNumber {
        @include text(40, $color-font-222)
      }
      .car-txt {
        @include text(16, $color-font-333)
      }
    }
    .card-inner {
      .card-block {
        height: rpx(320);
        position: relative;
        .btn {
          border-radius: rpx(100);
          height: rpx(40);
          width: rpx(228);
          @include text(16, $white);
          position: absolute;
          bottom: rpx(40);
          left: 50%;
          transform: translateX(-50%);
          &:after {
            border: none;
          }
          &.active {
            background-image: $gradient-active;
          }
          &.disabled {
            background: $gradient-disabled;
          }
        }
      }

      .park {
        display: flex;
        flex-direction: column;
        .bindCarLists {
          padding: 0 rpx(28);
          font-size: rpx(15);
          color: #8D98A6;
          box-sizing: border-box;
          overflow: hidden;
          .bindCarList {
            width: 33.333%;
            text-align: center;
            float: left;
            border-left: 1px dashed #8D98A6;
            box-sizing: border-box;
            &:first-child {
              border: none;
            }
            &.active {
              @include text(15, $color-font-222);
            }
          }
          .add-car {
            float: right;
            &.reset {
              @include text(14, $color-font-reAdd-car);
            }
          }
        }
        .carLists-wrap {
          flex: 1;
          height: rpx(300);
          position: relative;
        }
        .carLists {
          flex: 1;
          height: rpx(317);
          .car-status {
            //记录车位
            .mark-park-wrap {
              position: absolute;
              top: rpx(48);
              left: rpx(85);
              width: rpx(83);
              height: rpx(45);
              .mark-park-img {
                display: block;
                width: rpx(83);
                height: rpx(45);
              }
              .mark-park-txt {
                font-size: rpx(13);
                color: #584114;
                text-decoration: underline;
                position: absolute;
                top: rpx(6);
                left: rpx(14);
              }
            }
            // 重新定位
            .reset-park {
              position: absolute;
              top: rpx(48);
              left: rpx(85);
              width: rpx(133);
              height: rpx(45);
              .mark-park-img {
                display: block;
                width: rpx(133);
                height: rpx(45);
              }
              .mark-park-txt {
                font-size: rpx(13);
                color: #584114;
                position: absolute;
                top: rpx(6);
                left: rpx(14);
              }
            }
            //停车区域
            .parkingArea {
              display: block;
              width: rpx(263);
              height: rpx(150);
              margin: rpx(30) auto 0;
              position:relative;
            }
            .failQuery{
              width:rpx(220);
              height:rpx(70);
              border:rpx(1) dashed #cda17a;
              position:absolute;
              top:33%;
              left:50%;
              transform: translate(-50%,-50%);
              text-align: left;
              padding:rpx(10);
              font-size: rpx(14);
              border-radius:rpx(5);
              color:#cda17a;
            }
            .time {
              width: rpx(263);
              display: flex;
              align-items: center;
              justify-content: center;
              height: rpx(60);
              line-height: 1.4;
              margin: 0 auto;
              @include text(13, $color-font-101);
              text {
                font-weight: bold;
                @include text(13, $color-font-0FA);
              }
            }
            .time_line {
              width: rpx(263);
              display: flex;
              align-items: center;
              justify-content: center;
              height: rpx(30);
              line-height: 1.4;
              margin: 0 auto;
              @include text(13, $color-font-101);
              text {
                font-weight: bold;
                @include text(13, $color-font-0FA);
              }
            }
            .time_line2 {
              width: rpx(263);
              display: flex;
              align-items: center;
              justify-content: center;
              height: rpx(20);
              line-height: 1.4;
              margin: 0 auto;
              @include text(13, $color-font-101);
              text {
                font-weight: bold;
                @include text(13, $color-font-0FA);
              }
            }
          }
        }
      }

      // 空车位
      .empty-park {
        text-align: center;
        .title {
          @include text(16, $color-font-333);
        }
        image {
          display: block;
          width: rpx(159);
          height: rpx(113);
          margin: rpx(68) auto 0;
        }
        .btn {
          position: absolute;
          bottom: rpx(36);
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    // 停车公告
    &.desc {
      text-align: center;
      padding-top: rpx(87);
      padding-bottom: rpx(40);
      min-height: rpx(466);
      .carImage {
        margin: 0 rpx(35);
        @include wh(136, 89)
      }
      .title {
        @include text(18, $color-font-222);
        font-weight: bold;
        padding-bottom: rpx(20);
        text-align: center;
      }
      .text {
        @include text(14, $color-font-333);
        line-height: rpx(20);
        word-break: break-all;
        max-height: rpx(200);
        overflow-y: scroll;
        text-align: left;
        padding: 0 rpx(25) 0;
        box-sizing: border-box;
      }
    }
  }
  // 底部入口样式
  .switch {
    padding: rpx(40) 0 rpx(23);
    width: rpx(295);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    //position: fixed;
    //bottom: 0;
    //left: 50%;
    //transform: translateX(-50%);
    .item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .item-image {
        margin: 0 auto rpx(10);
        width: rpx(30);
        height: rpx(30);
        display: block;
      }
      .item-text {
        @include text(14, $color-font-parking-switch);
        text-align: center;
      }
    }
  }
}


