@import "../../style/global";

.dialog-inner{
  width:rpx(299);
  min-height:rpx(377);
  background: #FFFFFF;
  box-shadow: 0 rpx(8) rpx(13) 0 rgba(0, 0, 0, 0.11);
  border-radius: rpx(10);
  .dialog-header{
    position: relative;
    text-align: center;
    padding-top:rpx(30);
    padding-bottom:rpx(20);
    font-weight:500;
    font-size:rpx(16);
    color: #292D40;
    .close{
      font-size:rpx(20);
      position: absolute;
      top:rpx(15);
      right:rpx(15);
      z-index: 1;
      color: #79888F;
    }
  }
  .dialog-content{
    width:100%;
    height:rpx(235);
    padding: 0 rpx(25);
    box-sizing: border-box;
    overflow-y: auto;
    .tips{
      color: #AC6257;
      font-size:rpx(12);
      line-height:rpx(16);
      text-align: center;
      margin-bottom:rpx(15);
    }
    .sku-item{
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      margin-bottom:rpx(15);
      font-size: rpx(12);
      .cover{
        position: relative;
        @include wh(70, 70);
        .STOCK_FAIL{
          position: absolute;
          top:50%;
          left:50%;
          z-index: 2;
          margin-top:rpx(-25);
          margin-left:rpx(-25);
          @include wh(50, 50);
          text-align: center;
          line-height:rpx(50);
          color: #fff;
          background-color: rgba(0,0,0,0.7);
          border-radius: 50%;
        }
        .img{
          width:100%;
          height:100%;
        }
      }
      .information{
        padding-left:rpx(10);
        flex:1;
        .title{
          color: #67747A;
          line-height: rpx(16);
          min-height: rpx(32);
          @include limit-line(2);
          margin-top:rpx(5);
        }
        .attr-wrap{
          height: rpx(16);
          margin-bottom:rpx(5);
          .attr{
            display: inline-block;
            line-height: rpx(16);
            background: #F5F6F7;
            border-radius: rpx(2);
            text-align: center;
            padding: 0 rpx(5);
            font-size:rpx(10);
            color: #8D98A6;
          }
        }
        .count-price{
          @include flex-space-between();
          align-items: center;
          color: #8D98A6;
          .price{
            font-size:rpx(14);
            .unit{
              font-size:rpx(10);
            }
          }
        }
      }
    }
  }
  .dialog-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: rpx(66);
    line-height:rpx(66);
    background: #FFFFFF;
    box-shadow: 0 rpx(8) rpx(13) 0 rgba(0, 0, 0, 0.11);
    border-radius: 0 0 rpx(10) rpx(10);
    .btn-close{
      width: rpx(150);
      height: rpx(36);
      line-height:rpx(36);
      border-radius: rpx(18);
      border: rpx(0.5) solid #FFAF7A;
      font-size:rpx(14);
      color: #FFAF7A;
      text-align: center;
    }
    .btn-group{
      display: flex;
      justify-content: center;
      align-items: center;
      .btn{
        width: rpx(127);
        height: rpx(36);
        line-height:rpx(36);
        font-size:rpx(14);
        text-align: center;
        &.btn-back{
          border-radius: rpx(100) 0 0 rpx(100);
          color: #FFAF7A;
          border: rpx(0.5) solid #FFAF7A;
        }
        &.btn-package-back{
          border-radius: rpx(18);
          color: #FFAF7A;
          border: rpx(0.5) solid #FFAF7A;
        }
        &.btn-back{
          border-radius: rpx(100) 0 0 rpx(100);
          color: #FFAF7A;
          border: rpx(0.5) solid #FFAF7A;
        }
        &.btn-remove{
          border-radius: 0 rpx(100) rpx(100) 0;
          background: $gradient-active;
          color: #fff;
        }
      }
    }
  }
}
