@import "../../../style/global";

.balance-detail {
  .empty {
    background-color: $bgColor;
  }
  .balance-lists {
    height: 100vh;
    .balance-list {
      position: relative;
      padding: rpx(15);
      border-bottom: #f5f5f5 rpx(1) solid;
      .organizeName {
        font-size: rpx(14);
        color: #212326;
        height: rpx(20);
        line-height: rpx(20);
        margin-bottom: rpx(10);
      }
      .consumeType {
        font-size: rpx(12);
        color: #8D98A6;
        height: rpx(16);
        line-height: rpx(16);
        margin-bottom: rpx(5);
      }
      .consumeTime {
        font-size: rpx(12);
        color: #8D98A6;
        height: rpx(16);
        line-height: rpx(16);
      }
      .consumePrice {
        position: absolute;
        right: rpx(15);
        top: rpx(38);
        font-size: rpx(16);
        color: #212326;
        height: rpx(20);
        line-height: rpx(20);
      }
    }
    .payMessage {
      margin: 0 rpx(10) rpx(10) rpx(10);
      padding: rpx(5) rpx(15) rpx(15) rpx(15);
      background: #FFFFFF;
      box-shadow: 0 0 rpx(10) 0 rgba(228,228,230,0.50);
      border-radius: rpx(10);
      .head {
        font-size: rpx(12);
        color: #67747A;
        height: rpx(26);
        line-height: rpx(26);
        border-bottom: #f5f5f5 rpx(1) solid;
      }
      .containBox {
        display: flex;
        justify-content: space-between;
        font-size: rpx(12);
        line-height: rpx(18);
        margin-top: rpx(10);
        .left {
          color: #343C40;
          width: 20%;
          text-align: left;
        }
        .right {
          color: #67747A;
          width: 70%;
          text-align: right;
        }
        .bold {
          font-weight: 500;
          color: #212326;
        }
      }
    }

    .goodMessage {
      margin: 0 rpx(10) rpx(10) rpx(10);
      padding: rpx(5) rpx(15) rpx(15) rpx(15);
      background: #FFFFFF;
      box-shadow: 0 0 rpx(10) 0 rgba(228,228,230,0.50);
      border-radius: rpx(10);
      .head {
        font-size: rpx(12);
        color: #67747A;
        height: rpx(26);
        line-height: rpx(26);
        border-bottom: #f5f5f5 rpx(1) solid;
      }
      .containBox {
        display: flex;
        justify-content: space-between;
        font-size: rpx(12);
        line-height: rpx(18);
        margin-top: rpx(10);
        .left {
          color: #343C40;
          width: 20%;
          text-align: left;
        }
        .right {
          color: #67747A;
          width: 70%;
          text-align: right;
        }
        .bold {
          font-weight: 500;
          color: #212326;
        }
      }
    }

  }
}