@import "../../style/global";
/*人气商品样式*/
.hot-commodity-item {
  width: rpx(172);
  border-radius: rpx(4);
  background: #FFFFFF;
  box-shadow: 0 rpx(1) rpx(2.5) 0 rgba(0,0,0,0.09);
  margin-top: rpx(10);
  &.margin0{
    margin-top: 0;
  }
  .goods-img {
    width: 100%;
    height: rpx(165);
    background-color: $white;
    border-radius: rpx(2);
  }
  .group-goods-detail {
    padding: 0 rpx(6) rpx(10);
    .title {
      padding: rpx(6) 0 rpx(1);
      width: rpx(145);
      line-height: rpx(20);
      min-height: rpx(40);
      @include limit-line(2);
      @include text(14, $color-font-333);
    }
    .price-group {
      .now-price {
        display: inline-block;
        @include text(15, $color-font-222);
        margin-right: rpx(5);
        .num {
          @include text(18, $color-font-primary);
        }
        .text {
          @include text(10, $color-font-primary);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }
      .old-price {
        display: inline-block;
        @include text(12, $color-font-8D9);
        text-decoration: line-through;
      }
      .fs12 {
        font-size: rpx(12);
      }
    }
  }
}