@import "../../style/global";

page {
  height: 100%;
}

.list-wrapper {
  height: 100vh;
  box-sizing: border-box;
  padding-top: rpx(45);
  // 券筛选
  .sub-tabs {
    //position: absolute;
    top: rpx(45);
    display: flex;
    align-items: center;
    height: rpx(40);
    background-color: $white;
    border-bottom: rpx(1) solid $border-color-F2F;
    width: 100%;
    .tab-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      @include text(13, $color-font-222);
      &.active {
        @include text(13, $color-tabBar-color);
      }
    }
  }
  .activity {
    .list {
      box-sizing: border-box;
      padding: rpx(10);
      padding-bottom: 0;
      height: 100%;
      .item {
        margin-bottom: rpx(10);
        border-radius: rpx(10);
        background-color: $white;
        padding: 0 rpx(15);
        .item-time {
          @include text(15, $color-font-333);
          @include limit-line(1);
          line-height: rpx(32);
        }
        .item-con {
          box-sizing: border-box;
          padding-bottom: rpx(11);
          border-bottom: dashed rpx(2) $border-color-F0F;
          @include flex-space-between();
          .item-con-image {
            width: rpx(135);
            height: rpx(90);
            border-radius: rpx(5);
            flex: rpx(135) 0 0;
          }
          .item-con-right {
            margin-left: rpx(10);
            flex: 1;
            @include flex-space-between();
            flex-direction: column;
            .time {
              @include text(12, $color-font-8D9);
            }
            .tags {
              padding: rpx(5) 0;
              .tag {
                @include active-tag();
              }
            }
          }
        }
        .item-bot {
          height: rpx(44);
          @include flex-space-between();
          align-items: center;
          .item-bot-value {
            @include text(15, $color-font-333);
          }
          .item-bot-state {
            width: rpx(70);
            height: rpx(28);
            background-image: $gradient-active;
            border-radius: rpx(28);
            text-align: center;
            line-height: rpx(28);
            @include text(14, $white);
            &.disabled {
              background-image: $gradient-disabled;
              @include text(14, $white);
            }
          }
        }
      }
    }
  }
  .vote {
    .list {
      box-sizing: border-box;
      padding: 0 rpx(10);
      background-color: $bgColor;
      height: 100%;
      .item {
        margin-top: rpx(10);
        border-radius: rpx(10);
        background-color: $white;
        padding: 0 rpx(15);
        position: relative;
        overflow: visible;
        .item-time {
          @include text(13, $color-font-616);
          line-height: rpx(32);
          height: rpx(37);
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: dashed rpx(2) $border-color-F0F;
          padding-top: rpx(2);
          box-sizing: border-box;
          .status-text {
            @include text(13, $color-font-584);
            font-weight: bold;
            padding-top: rpx(2);
            &.success {
              color: $color-font-584;
            }
            &.ing {
              color: $color-font-333;
            }
            &.fail {
              color: $color-font-F59;
            }
          }
        }
        .item-con {
          padding: rpx(11) 0;
          @include flex-space-between();
          .item-con-image {
            width: rpx(120);
            height: rpx(60);
            border-radius: rpx(5);
            flex: rpx(120) 0 0;
          }
          .item-con-right {
            margin-left: rpx(10);
            flex: 1;
            @include flex-space-between();
            flex-direction: column;
            @include text(15, $color-font-333);
            @include no-wrap();
            width: rpx(180);
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}