@import "../../style/global";

.tabBar{
  display: none;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  background-color: #fff;
  z-index: 100;
  padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
  box-shadow: 0 0 rpx(1) rgba(66, 66, 66, 0.1);
  .inner{
    @include flex-space-between();
    align-items: center;
    line-height:1;
    width:100%;
    height:rpx(50);
  }
  .tabBar_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    color: #575757;
    font-size: rpx(10);
    &.active{
      color: #FB5B41;
    }
    .tabBar_img{
      width: rpx(20);
      height: rpx(20);
      margin-bottom:rpx(3);
    }
  }
}
