:host {
  width: 100%;
}
.vehicle-panel {
  width: 100%;
  position: fixed;
  bottom: 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  z-index: 1000;
}
.vehicle-panel-row {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  //flex-wrap: wrap;
}
.vehicle-panel-row-last{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vehicle-panel-row-button {
  background-color: #fff;
  font-size:32rpx;
  color:#353535;
  height:84rpx;
  width:64rpx;
  line-height:84rpx;
  text-align:center;
  margin-left:10rpx;
  margin-top:10rpx;
  box-shadow: 0 1rpx 0 0 rgba(0,0,0,0.25);
  border-radius:10rpx;
  float: left;
  box-sizing: border-box;
  &.active{
    background-color: #ACB4BE;
    box-shadow:0 0 0 0 rgba(0,0,0,0.25);
    color:#fff;
  }
  &.ensure {
    background-color: #f60;
    box-shadow:0 0 0 0 rgba(0,0,0,0.25);
    color:#fff;
  }
  &.disabled{
    background-color: #ACB4BE;
    color: #999;
  }
  &.fr{
    float:right;
    margin-right:10rpx;
    width: 120rpx;
    text-algin:center;
  }
}
.vehicle-panel-row-button-number {
  background-color: #eee;
}
.vehicle-panel-row-button-last {
  width: 90rpx;
  height: 90rpx;
  line-height: 90rpx;
}
.vehicle-hover {
  background-color: #ccc;
}
.vehicle-panel-row-button-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vehicle-en-button-delete {
  width: 55rpx;
  height: 85rpx;
}
.vehicle-panel-ok {
  background-color: #0F4BA1;
  color: #fff;
  width: 150rpx;
  height: 80rpx;
}
