@import "../../../../style/global";
@mixin background-gradient() {
  background-image: $gradient-active;
  color: $white;
}

.container {
  padding-bottom: rpx(74);
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $bgColor;
  .coupon {
    padding-left: rpx(15);
    margin-top: rpx(10);
    background: $white;
    .coupon-info {
      @include flex-space-between();
      padding: rpx(9) rpx(15) rpx(9) 0;
      // @include border-bottom($border-color-F0F);
      .shopLogo {
        flex-shrink: 0;
        align-self: center;
        margin-right: rpx(10);
        width: rpx(70);
        height: rpx(70);
        border-radius: rpx(4);
      }
      > view {
        flex-grow: 1;
      }
      .coupon-info-name {
        padding: rpx(13) rpx(15) rpx(18) 0;
        @include text(16, $color-font-333);
        line-height: rpx(21);
      }
      .coupon-info-num {
        @include text(13, $color-font-primary);
        color: #4184FB;
      }
    }
    .coupon-time {
      padding-right: rpx(15);
      // height: rpx(44);
      line-height: rpx(44);
      @include flex-space-between();
      @include text(14, $color-font-333);
      @include border-top($border-color-F0F);
      .time-title {
        width: rpx(75);
        @include text(14, $color-font-333);
      }
      .time {
        font-size: rpx(12);
        color: #616C7A;
      }
    }
  }
  .textBlock {
    margin-top: rpx(10);
    padding: rpx(15) rpx(15) rpx(6);
    background-color: $white;
    .title {
      padding-bottom: rpx(9);
      @include text(15, $color-font-333);
      line-height: rpx(15);
      font-weight: bold;
    }
    .text {
      @include text(14, $color-font-616);
      line-height: rpx(20);
      word-break: break-all;
      letter-spacing: rpx(2);
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: $white;
    padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
    padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
    .flex-1 {
      flex: 1;
    }
    .submit-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: rpx(14);
      line-height: rpx(21);
      height: rpx(50);
      border-radius: 0;
      .new-price {
        .num {
          font-size: rpx(12);
        }
        .text {
          font-size: rpx(10);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }
      &::after {
        border-radius: 0;
      }
    }
    .wrap-color{
      color: $white;
      background: #0C5CA5;
    }
    .wrap-color-rob{
      color: $white;
      background: #0C5CA5;
    }
  }
}