@import "../../style/global";

.item {
  padding: rpx(15);
  margin: rpx(15) rpx(15) 0;
  box-sizing: border-box;
  width: rpx(345);
  height: rpx(120);
  background: $white;
  @include flex-space-between();
  @include box-shadow-commodity();
  border-radius: rpx(10);
  position: relative;
  .goods-img {
    flex-shrink: 0;
    width: rpx(90);
    height: rpx(90);
    border-radius: rpx(5);
  }
  .goods-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    padding-left: rpx(10);
    .goods-detail-name {
      width: rpx(210);
      @include text(15, $color-font-333);
      @include limit-line(2);
    }
    .footer-price {
      display: flex;
      align-items: center;
      &-now {
        margin-right: rpx(10);
        @include text(15, $color-font-000);
        line-height: rpx(15);
        .num {
          @include text(18, $color-font-primary);
        }
        .text {
          @include text(10, $color-font-primary);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }
      &-old {
        @include text(12, $color-font-8D9);
        text-decoration: line-through;
      }
      .fs12 {
        font-size: rpx(12);
      }
    }
    .goods-detail-progress {
      @include flex-space-between();
      @include text(13, $color-font-primary);
      line-height: rpx(13);
      .i-progress {
        flex-grow: 1;
      }
    }
    .goods-detail-footer {
      position: absolute;
      right: rpx(14);
      bottom: rpx(15);
      .footer-button {
        width: rpx(70);
        height: rpx(28);
        border-radius: rpx(14);
        line-height: rpx(28);
        text-align: center;
        background-image: $gradient-checkbox-disabled;
        overflow: hidden;
        @include text(14, $white);
        .text.active {
          width: 100%;
          height: 100%;
          display: block;
          background-image: $gradient-active;
        }
      }
    }
  }
  &.mb0 {
    margin-bottom: 0;
  }
}