@import "../../../style/global";
page, block, view, scroll-view, swiper, movable-view, icon, text, progress, button, checkbox, form, input, label, picker, picker-view, radio, slider, switch, textarea, navigator, audio, image, video, map, canvas, contact-button, cover-image, cover-view {
  box-sizing: border-box;
}

page{
  height: 100%;
  font-size: 28rpx;
  color: #555;
  background: #efeff4;
  overflow-x: hidden;
}
page>.page {
  width: 750rpx;
  overflow-x: hidden;
}
.hidden {
  display: none !important;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}
.flex-y-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.flex-x-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-bg {
  width: 100%;
  height: rpx(150);
  background-color: #f7f7f7;
  margin-bottom: rpx(10);
}

.info-bg .bg {
  width: 100%;
  height: rpx(150);
}

.step1 .info {
  width: 100%;
  background-color: #fff;
  border-bottom: rpx(0.5) #e3e3e3 solid;
  border-top: rpx(0.5) #e3e3e3 solid;
  padding: 0 rpx(12);
}

.info .info-label {
  width: 100%;
  height: rpx(50);
  border-bottom: rpx(0.5) #e3e3e3 solid;
  color: #353535;
}

.info .info-label:last-child {
  border-bottom: none;
}

.info .info-label .info-red {
  color: #ff4544;
}

.info .info-label .info-gray {
  color: #666;
}

.info .info-label.info-content {
  height: rpx(50);
}

.info-label .info-left {
  width: rpx(88);
}

.info-label .info-left.required::after {
  content: "*";
  color: #ff4544;
}

.info-label .info-agree {
  font-size: rpx(13);
}

.info-btn {
  box-sizing: border-box;
  padding: rpx(12);
  background-color: #f7f7f7;
  width: 100%;
}

.info-btn .info-btn-content {
  width: 100%;
  background-color: #ff4544;
  color: #fff;
  font-weight: bold;
  height: rpx(50);
  line-height: rpx(50);
}

.info-label .info-icon {
  width: rpx(30);
  height: rpx(30);
  margin-right: rpx(12);
}

.info .bold {
  font-weight: bold;
}

.info .info-label.info-height {
  height: auto;
}

.info .info-label .info-block {
  padding: rpx(12) 0;
}

.info-block .info-top {
  margin-bottom: rpx(8);
}

.info-block .info-bottom {
  font-size: rpx(12);
}

.step2 .info {
  padding: rpx(48) rpx(12);
  text-align: center;
}

.step2 .info .info-title {
  width: 100%;
  padding: rpx(20) 0;
}

.info-title .info-images {
  width: rpx(40);
  height: rpx(40);
}

.step2 .info-btn1 {
  box-sizing: border-box;
  margin-top: rpx(44);
  padding: 0 rpx(12);
  width: 100%;
}

.step2 .info-btn1 .btn {
  width: 100%;
  background-color: #ff4544;
  color: #fff;
  font-weight: bold;
  height: rpx(50);
  line-height: rpx(50);
  border-radius: rpx(5);
}

.agree-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.agree-body {
  height: rpx(360);
  overflow: auto;
  padding: rpx(5) rpx(10);
}

.agree-footer {
  width: 100%;
  height: rpx(50);
  color: #fff;
  background-color: #ff4544;
  border-radius: 0 0 rpx(10) rpx(10);
}
