@import "../../style/global";

.i-progress {
  width: 100%;
  position: relative;

  &-outer {
    margin-right: 0;
    padding-right: 0;
    box-sizing: border-box;
    position: relative;
  }

  &-inner {
    display: inline-block;
    width: 100%;
    height: rpx(16);
    background-image: $gradient-seckill-progress-outer;
    border-radius: rpx(2);
    position: relative;
  }

  &-bg {
    height: rpx(16);
    border-radius: rpx(2);
    background-image: $gradient-seckill-progress-inner;
    position: relative;
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: rpx(16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rpx(4);
    .num {
      @include text(10, $white);
      font-weight: bold;
    }
    .percent {
      @include text(10, $white);
      font-weight: bold;
    }
  }
}
  
