@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";

.activity-details {
  &.padding {
    padding-bottom: rpx(74);
  }

  //基本信息
  .activity-list {
    background-color: $white;
    padding: rpx(10) rpx(10) rpx(12);
    .activity-img-wrap {
      width: rpx(355);
      height: rpx(177.5);
      border-radius: rpx(10);
      margin-bottom: rpx(10);
      .activity-img {
        display: block;
        border-radius: rpx(10);
        width: rpx(355);
        height: rpx(177.5);
      }
    }

    .activity-detail {
      position: relative;
      .title {
        @include text(15, $color-font-333);
        @include flex-space-between();
        padding: rpx(8) 0 rpx(12);
        .txt {
          flex: 1;
          @include limit-line(2);
          word-break: break-all;
          align-items: flex-start;
        }
      }
      .tags {
        padding: rpx(5) 0;
        .tag {
          @include active-tag();
        }
      }
      .time {
        @include text(12, $color-font-999);
        margin: rpx(5) 0;
      }
      .price {
        @include text(14, $color-font-222);
        .text {
          @include text(10, $color-font-222);
          &.pad {
            padding: 0 rpx(3);
          }
        }
        .num {
          @include text(16, $color-font-222);
        }
      }
      .activity-join {
        position: absolute;
        bottom: 0;
        right: 0;
        width: rpx(70);
        height: rpx(28);
        background-image: $gradient-active;
        border-radius: rpx(40);
        display: flex;
        align-items: center;
        justify-content: center;
        @include text(14, $white);
        &.null-join {
          color: $color-font-AB2;
          background-image: $gradient-disabled;
        }
      }

      .limit {
        position: absolute;
        bottom: 0;
        right: 0;
        @include text(15, $color-font-333);
      }
    }

  }

  //时间地点
  .activity-info {
    background-color: $white;
    margin-top: rpx(10);
    .activity-info-block {
      padding: rpx(14) 0;
      display: flex;
      align-items: center;
      background-color: $white;
      margin-left: rpx(15);
      @include border-bottom($border-color-F0F);
      @include text(14, $color-font-333);
      &:last-child {
        &:after {
          border: none;
        }
      }
      .title {
        margin-right: rpx(5);
        width: rpx(65);
        align-self: flex-start;
      }
      .cont {
        flex: 1;
        padding-right: rpx(15);
      }
    }
  }

  //介绍
  .activity-desc {
    background-color: $white;
    margin-top: rpx(10);
    padding: 0 rpx(15);
    word-break: break-all;
    .title {
      display: flex;
      align-items: center;
      height: rpx(44);
      @include text(15, $color-font-333);
      font-weight: bold;
    }
    .desc {
      padding: rpx(20) 0;
      @include text(13, $color-font-616);
      image {
        display: block;
        width: rpx(345);
        height: rpx(176);
        border-radius: rpx(10);
        margin: 0 auto;
      }
      .text {
        @include text(13, $color-font-616);
        letter-spacing: rpx(1.5);
        line-height: rpx(20);
        padding: rpx(10) 0;
      }
    }
  }

  //须知
  .activity-notice {
    background-color: $white;
    margin-top: rpx(10);
    padding: 0 rpx(15);
    .title {
      padding-top: rpx(10);
      display: flex;
      align-items: center;
      @include text(15, $color-font-333);
      font-weight: bold;
    }
    .notice-list {
      @include text(12, $color-font-616);
      padding: rpx(6) 0 rpx(10);
      .list {
        padding: rpx(1) 0;
        word-break: break-all;
      }
    }
  }

}

//footer
.activity-footer {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
  .flex-1 {
    flex: 1;
  }
  .btn-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: $gradient-active;
    color: $white;
    &.inactive {
      color: #AC6257;
      background-image: $gradient-btn-disabled;
    }
    .price {
      font-size: rpx(14);
      .num {
        font-size: rpx(16);
      }
      .text {
        font-size: rpx(10);
        &.pad {
          padding: 0 rpx(2);
        }
      }
    }
    .state {
      font-size: rpx(14);
    }
  }
}