@import "../../style/global";

.nav-tab {
  background: #FFF4F2;
  display: flex;
  // position: fixed;
  margin: rpx(10) auto;
  // margin-top: rpx(10);
  top: 0;
  left: 0;
  width: 50%;
  height: rpx(45);
  z-index: 100;
  border: rpx(1) solid #FB5B41;
  height: rpx(30);
  border-radius: rpx(19);
  //border-bottom: rpx(1) solid $border-color-bottom;
  box-sizing: border-box;
  .flex-grow {
    flex-grow: 1;
    text-align: center;
    @include text(14, $color-font-222);
    line-height: rpx(33);
    color: #FB5B41;
    font-weight: 500;
    position: relative;
    top: rpx(-2);
    // left: rpx(-2);
    &.active {
      font-size: rpx(14);
      word-break: break-all;
      font-weight: 500;
      border: rpx(1) solid;
      width: rpx(55);
      height: rpx(30);
      border-radius: rpx(19);
      background: #FB5B41;
      .tabName {
        color: #fff;
      }
    }
  }
  .slider {
    width: rpx(40)!important;
    height: rpx(6);
    border-radius: rpx(3);
    position: absolute;
    bottom: rpx(14);
    background-color: #FFD8BB;
    opacity: .6;
    transition: all ease 0.4s;
  }
}