@import "../../style/global";

.container {
  min-height: 100vh;
  background: $gradient-card;
  padding: rpx(30) rpx(25) rpx(25);
  box-sizing: border-box;
  .card {
    width: 100%;
    background-color: $white;
    border-radius: rpx(10);
    margin-bottom: rpx(24);
    position: relative;
    @include box-shadow-card();
    .out {
      display: block;
      width: rpx(70);
      height: rpx(70);
      position: absolute;
      top: rpx(-1);
      right: 0;
      z-index: 10;
    }
    .card-title {
      display: flex;
      align-items: center;
      padding: rpx(15) rpx(15) rpx(8);
      .card-title-avatar {
        width: rpx(40);
        height: rpx(40);
        border-radius: 50%;
      }
      .card-title-phone {
        margin-left: rpx(12);
        display: inline-block;
        vertical-align: top;
        @include text(15, $color-font-000);
        line-height: rpx(40);
      }
    }
    .card-name {
      padding: 0 rpx(18);
      line-height: rpx(25);
      text-align: center;
      @include text(15, $color-font-000);
      text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: rpx(290);
      }
    }
    .card-erweima {
      margin: rpx(20) auto rpx(12);
      width: rpx(177);
      height: rpx(177);
      display: block;
      background-color: $white;
    }
    .card-code {
      line-height: rpx(22);
      text-align: center;
      @include text(15, $color-font-000);
    }
    .card-address, .card-time {
      margin: rpx(15) 0 rpx(20);
      @include text(14, $color-font-6f7);
      padding-left: rpx(50);
      @include text(14, $color-font-333);
      &.padding {
        line-height: 2;
      }
    }
    .card-intro {
      margin-bottom: rpx(20);
      line-height: rpx(22);
      font-weight: bold;
      @include text(15, $color-font-card-intro);
      text-align: center;
      text-decoration: underline;
    }
  }
  .text-line-wrap {
    padding: rpx(20) 0;
    border-top: rpx(2) dashed $border-color-bottom;
  }

  .text-line {
    display: flex;
    padding-left: rpx(50);
    @include text(14, $color-font-6f7);
    line-height: rpx(22);
  }
}

