@import "../../../style/global";
// 搜索
.top-search-wrap {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1;
  width: 100%;
  height: rpx(50);
  padding: 0 rpx(10);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .top-search {
    display: flex;
    width: 95%;
    height: rpx(36);
    background: #F5F6F8;
    border-radius: rpx(50);
    color: #292D40;
    align-items: center;
    .search-img {
      margin-left: rpx(12);
      margin-right: rpx(8);
      width: rpx(18);
      height: rpx(18);
    }
    .search-img2 {
      margin-left: rpx(12);
      margin-right: rpx(8);
      width: rpx(13.48);
      height: rpx(13.48);
    }
    .search {
      width: 80%;
      height: 100%;
      font-size: rpx(12);
      .input-placeholder {
        font-size: rpx(12);
      }
    }
    .input-style {
      color: #B4C2D4;
    }
  }
  .search-cancel {
    margin: rpx(10);
    width: rpx(50);
    color: #292D40;
    font-size: rpx(12)
  }
}

.padding{
  padding-top:rpx(50);
}
// 搜索遮罩层
.body-search-wrap {
  position: fixed;
  top:rpx(50);
  left:0;
  z-index: 333;
  width: 100%;
  height: rpx(370);
  overflow-y: auto;
  background: #fff;
  .body-search {
    margin: rpx(0) rpx(10) rpx(0) rpx(10);
    padding: rpx(10) rpx(0) rpx(15) rpx(0);
    border-bottom: rpx(1) solid #F0F0F0;
    .body-item {
      color: #292D40;
      font-size: rpx(14);
    }
  }
}

// 历史搜索
.histor-wrap {
  background: #ffffff;
  .histor-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #292D40;
    font-size: rpx(14);
    font-weight:500;
    padding: rpx(10);
    .icon-empty{
      font-weight:normal;
    }
  }
  .histor-img {
    height: rpx(14);
    width: rpx(13.5);
    float: right;
    position: relative;
    top: rpx(-25);
    right: rpx(15);
  }
  .histor-dev {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 rpx(10) rpx(10) rpx(10);
    .histor-item {
      display: inline-block;
      text-align: center;
      border-radius: rpx(13);
      background-color: #F1F5F6;
      font-size: rpx(12);
      margin-bottom:rpx(10);
      margin-right:rpx(10);
      text {
        display: inline-block;
        padding: rpx(7) rpx(15);
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #67747A;
        line-height: rpx(12);
      }
    }
  }
}
// 商铺列表
.shop-wrap {
  text-align: center;
  padding-bottom: rpx(10);
  background: white;
  .shop-top {
    padding-top: rpx(25);
  }
  .shop-img {
    margin-left: rpx(10);
    float: left;
    width: rpx(44);
    height: rpx(22);
  }
  .shop-text {
    color: #292D40;
    font-size: rpx(14);
    float: left;
    font-weight: 500;
  }
  .shop-button {
    float: right;
    color: #4184FB;
    border: 1px solid #4184FB;
    border-radius: rpx(20);
    width: rpx(64);
    height: rpx(28);
    display: inline-block;
    font-size: rpx(12);
    text-align: center;
    line-height: rpx(28);
    margin-bottom: rpx(10);
    margin-right: rpx(10);
  }
  .shop-img2 {
    width: rpx(355);
    height: rpx(175.5);
    border-radius: rpx(10);
  }
}
.product-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left:rpx(10);
  padding-right:rpx(10);
}
.load-state{
  text-align: center;
  font-size: rpx(12);
  color: #999;
  margin-top:rpx(15);
}