@import "../../style/global";

.home{
  padding:rpx(46) rpx(15) rpx(65) rpx(15);
  min-height:100vh;
  background-color: #fff;
}

.switcher{
  position: fixed;
  top:0;
  left: 0;
  right:0;
  z-index: 1;
  background-color: #fff;
  font-size:rpx(16);
  color: #282626;
  font-weight:500;
  line-height:1;
  padding: rpx(15) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon{
    width:rpx(13);
    height:rpx(16);
    margin-right:rpx(5);
  }
  .icon-enter{
    font-size:rpx(16);
    font-weight:bold;
  }
}

.row-item{
  margin-bottom:rpx(15);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  .column-item{
    flex:1;
    font-size:0;
    box-shadow: 0 rpx(4) rpx(8) 0 rgba(254, 187, 174, 0.25);
    border-radius: rpx(8);
    &:nth-child(2){
      margin-left:rpx(15);
    }
    .img{
      width:100%;
      height: 100%;
    }
  }
}

// 添加小程序提示栏
.add-mini {
  position: fixed;
  top: 0;
  right: rpx(15);
  width: rpx(180);
  height: rpx(22);
  line-height: rpx(22);
  background: rgba(243, 70, 101, 0.9);
  border-radius: rpx(16);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rpx(10);
  color: #FFFFFF;
  z-index: 11;
  .img1 {
    margin: 0 rpx(5);
    width: rpx(18);
    height: rpx(6);
  }
  .img2 {
    margin-left: rpx(3);
    width: rpx(12);
    height: rpx(12);
  }
}
