@import '../../../style/global';

page {
  height: 100%;
  background: #F0F3F7;
}

.tip-box {
  @include flex-space-between();
  padding: rpx(15) rpx(15) 0 rpx(10);
  .tip-msg {
    @include flex-space-between();
    // align-items: center;
    @include text(12, #343C40);
    image {
      @include wh(18, 18);
      margin-right: rpx(5);
    }
  }
}

.order-box {
  background: #fff;
  padding-left: rpx(15);
  padding-right: rpx(15);
  margin-top: rpx(10);
  margin-bottom: rpx(10);
  .order-item {
    @include flex-space-between();
    align-items: center;
    line-height: rpx(34);
    height: rpx(34);
    @include text(14, #333333);
  }
}