@import "../../style/global";

.member-card {
  .member-car-face {
    background-color: $white;
    padding-top: rpx(10);
    .card-imaga-wrap {
      position: relative;
      width: rpx(327);
      height: rpx(200);
      @include box-shadow-member-car();
      border-radius: rpx(16);
      margin: 0 auto;
    }
    .card-image {
      width: rpx(327);
      height: rpx(200);
      border-radius: rpx(16);
    }
    .icon-qrcode {
      display: block;
      width: rpx(22);
      height: rpx(22);
      position: absolute;
      top: rpx(22);
      right: rpx(22);
    }
    .card-number-wrap {
      position: absolute;
      left: rpx(14);
      bottom: rpx(14);
      display: flex;
      align-items: center;
      height: rpx(25);
      .card-number-tip {
        width: rpx(12);
        height: rpx(12);
        background: #6E5422;
        border-radius: rpx(4);
        margin-right: rpx(6);
      }
      .card-number-num {
        font-weight: bold;
        @include text(18, $white);
        text-shadow: 0 1px 2px rgba(98, 68, 18, 0.41);
      }
    }
    .card-number-wrap-wbc {
      position: absolute;
      right: rpx(14);
      bottom: rpx(4);
      display: flex;
      align-items: center;
      height: rpx(25);
      .card-number-tip {
        width: rpx(12);
        height: rpx(12);
        background: #6E5422;
        border-radius: rpx(4);
        margin-right: rpx(6);
      }
      .card-number-num {
        font-weight: 400;
        @include text(16, $gray);
        text-shadow: 0 1px 2px rgba(98, 68, 18, 0.41);
      }
    }
  }
  .member-info {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rpx(24) 0;
    .member-info-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: rpx(50);
      width: rpx(120);
      &.line {
        position: relative;
        &:after {
          display: block;
          content: '';
          opacity: 0.32;
          border-left: 1px dashed #584114;
          width: rpx(1);
          height: rpx(18);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          right: 0;
        }
      }
      .member-info-number {
        font-weight: bold;
        @include text(20, $color-font-000);
      }
      &.level {
        .member-info-number {
          font-size: rpx(16);
        }
      }
      .member-info-title {
        @include text(12, $color-font-666);
        margin-bottom: rpx(4);

      }
    }
  }

  .member-rights {
    background-color: $white;
    margin-top: rpx(10);
    .member-rights-title {
      padding: rpx(15) rpx(15) rpx(15) rpx(20);
      font-weight: bold;
      @include text(15, $color-font-333);
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;
      .icon-right-wrap {
        width: rpx(13);
        height: rpx(13);
      }
      .icon-right {
        display: block;
        width: rpx(9);
        height: rpx(13);
      }
    }
    .member-rights-lists {
      overflow: hidden;
      .member-rights-list {
        float: left;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: rpx(20);
        .rights-icon {
          width: rpx(28);
          height: rpx(28);
          border-radius: 100%;
          display: block;
        }
        .rights-text {
          @include text(13, $color-font-616);
          margin-top: rpx(6);
        }
      }
    }
  }
}
