@import "../../style/global";

.message {
  width: 100%;
  height: rpx(40);
  display: flex;
  align-items: center;
  justify-content: center;
  @include text(14, $white);
  position: fixed;
  bottom: rpx(50);
  background: $color-font-666;
}