@import "../../style/global";

page {
  height: 100%;
  background: #F0F3F7;
}
.bar-box {
  // margin-top: rpx(10);
  background: #fff;
  .bar {
    height: rpx(50);
    line-height: rpx(50);
    margin-left: rpx(15);
    padding-right: rpx(15);
    @include text(12, #292D40);
    @include border-bottom( #F0F0F0);
    @include flex-space-between();
    align-items: center;
    .img {
      @include wh(7, 9)
    }
  }
}
