@import "../../style/global";
//  首页弹窗 营销
.dialog-wrap-marketing {
    width: rpx(375);
    height: rpx(400);
    border-radius: rpx(10);
    display: flex;
    justify-content: center;
    align-items: center;
    .windowBox {
      width: rpx(313);
      height: 730rpx;
      position: relative;
      .windowClose {
        position: absolute;
        top: rpx(15);
        right: rpx(18);
        background: rgba(0, 0, 0, 0.7);
        border-radius: rpx(10);
        font-size: rpx(10);
        color: $white;
        padding: rpx(4);
      }
      .windowImg {
        width: rpx(313);
        height: rpx(346);
      }
  
      .produceImg {
        position: absolute;
        top: rpx(168);
        left: rpx(67);
        width: rpx(60);
        height: rpx(60);
      }
      .w75 {
        width: rpx(75);
        height: rpx(50);
      }
      .windowWrapRT {
        position: absolute;
        top: rpx(168);
        left: rpx(132);
        font-size: rpx(12);
        color: $color-font-333;
        width: rpx(123);
        text-align: left;
        @include limit-line(2);
      }
      .left143 {
        left: rpx(146)
      }
      .windowWrapRC {
        position: absolute;
        top: rpx(198);
        left: rpx(120);
        font-size: rpx(10);
        color: $btn-bg-text;
        width: rpx(120);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .windowWrapRR {
        position: absolute;
        top: rpx(218);
        right: rpx(58);
        font-size: rpx(12);
        color: $color-font-584;
      }
      .windowWrapDate {
        position: absolute;
        top: rpx(220);
        left: rpx(132);
        font-size: rpx(10);
        color: $color-font-584;
      }
      .left214 {
        left: rpx(146);
        top: rpx(210);
      }
      .windowWrapRB {
        position: absolute;
        top: rpx(216);
        left: rpx(132);
        font-size: rpx(12);
        color: $color-font-222;
        .though {
          font-size: rpx(10);
          color: $color-font-placeholder;
          text-decoration: line-through;
          margin-left: rpx(5);
        }
      }
      .footerWrap {
        width: rpx(235);
        position: absolute;
        top: rpx(254);
        left: 50%;
        transform: translateX(-50%);
        font-size: rpx(12);
        color: $color-font-333;
        .date {
          font-size: rpx(12);
          color: $white;
          background: $color-font-000;
          padding: 0 rpx(2);
          margin: 0 rpx(2)
        }
      }
      .btn {
        position: absolute;
        bottom: rpx(50);
        font-size: rpx(14);
        // color: $white;
        width: rpx(200);
        height: rpx(38);
        text-align: center;
        line-height: rpx(38);
        // background: $btn-bg-home;
        border-radius: rpx(100);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .colse-box {
    position: fixed;
    bottom: rpx(130);
    left: 50%;
    transform: translateX(-50%);
    .img {
      width: rpx(34) !important;
      height: rpx(34) !important;
    }
  }
