@import '../../../style/global';

page {
  height: 100%;
  background: #F0F3F7;
}

.preview-box {
  width: rpx(355);
  margin: rpx(10);
  background: #FFFFFF;
  border-radius: rpx(4);
  box-shadow: 0 0 rpx(10) rpx(5) rgba(0, 0, 0, 0.03);
  .preview-title {
    line-height: rpx(50);
    text-align: center;
    padding-top: rpx(10);
    margin-left: rpx(15);
    margin-right: rpx(15);
    font-weight: 600;
    @include text(16, #343C40);
    @include border-bottom(#DFDFDF, dashed);
  }
  .preview-cont {
    padding: rpx(15);
    padding-top: rpx(20);
    &-item {
      @include flex-space-between();
      line-height: rpx(15);
      margin-bottom: rpx(15);
      .title {
        @include text(14, #616C7A);
        width: rpx(75);
      }
      .cont {
        @include text(14, #333333);
        flex:1;
        text-align:right;
      }
    }
  }
}
.confirm-btn {
  height: rpx(36);
  margin: 0 rpx(15) 0 rpx(15);
  line-height: rpx(36);
  background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
  // background-image: linear-gradient(51deg, #A32125 0%, #E31B1B 100%);
  border-radius: rpx(100);
  @include text(14, #FFFFFF);
  // font-weight: bold;
  margin-top: rpx(30);
  &:after {
    border: none;
  }
}