@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";

.vote-user {
  padding-bottom: rpx(74);

  .vote-block {
    width: rpx(355);
    background: $white;
    box-shadow: 0 0 rpx(4) 0 rgba(0, 0, 0, 0.06);
    border-radius: rpx(10);
    margin: rpx(10) auto;
  }

  // 信息投票基本
  .vote-base-info {
    position: relative;
    overflow: visible;
    margin-top: rpx(17);
    .status {
      position: absolute;
      top: rpx(-7);
      right: rpx(10);
      width: rpx(85);
      height: rpx(38);
      display: block;
      z-index: 1;
      image {
        display: block;
        width: rpx(85);
        height: rpx(38);
      }
      text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rpx(85);
        height: rpx(38);
        position: absolute;
        top: rpx(-4);
        @include text(12, $white);
        font-weight: bold;
      }
    }
    .user-info {
      display: flex;
      align-items: center;
      height: rpx(60);
      margin: 0 rpx(10);
      .avatar {
        width: rpx(36);
        height: rpx(36);
        border-radius: 100%;
        margin-right: rpx(10);
      }
      .nick-name {
        @include text(14, $color-font-333);
      }
    }
    .wrap-info {
      margin: 0 rpx(10);
      .scan-lists {
        height: rpx(78);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: rpx(2) dashed $border-color-F0F;
        .scan-list {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .txt {
            @include text(12, $color-font-584);
          }
          .num {
            @include text(18, $color-font-000);
            font-weight: bold;
            margin-top: rpx(7.5);
          }
        }
      }
      .reason {
        display: flex;
        align-items: flex-start;
        padding: rpx(10) 0;
        .text {
          width: rpx(80);
          flex: rpx(80) 0 0;
          @include text(14, $color-font-616);
        }
        .cont {
          flex: 1;
          @include text(14, $color-font-333);
          line-height: 1.5;
          word-break: break-all;
        }
      }
    }
  }

  // 报名选项
  .vote-options {
    .title {
      margin: 0 rpx(10);
      @include text(12, $color-font-616);
      height: rpx(35);
      display: flex;
      align-items: center;
    }
    .lists {
      margin: 0 rpx(10);
      padding: rpx(14) 0;
      border-top: rpx(2) dashed $border-color-F0F;
      .list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: rpx(5) 0;
        .list-header {
          @include text(14, $color-font-616);
          flex: rpx(78) 0 0;
          &.img-lists-header {
            align-self: flex-start;
          }
        }
        .list-body {
          flex: 1;
          @include text(14, $color-font-333);
          text-align: right;
          line-height: 1.4;
          &.img-lists-wrap {
            .img-lists {
              padding-top: rpx(18);
              display: flex;
              align-items: center;
              justify-content: flex-end;
              flex-wrap: wrap;
              .img-list {
                width: rpx(80);
                height: rpx(80);
                border-radius: rpx(4);
                margin-top: rpx(5);
                margin-left: rpx(5);
                image {
                  display: block;
                  width: rpx(80);
                  height: rpx(80);
                  border-radius: rpx(4);
                  &.empty {
                    border: none;
                    background: $white;
                  }
                }
              }
              .img-empty {
                width: rpx(78);
                height: rpx(78);
                border-radius: rpx(4);
              }
            }
          }
        }
      }
    }
  }

  // 投票活动说明
  .vote-desc {
    padding: rpx(10) 0;
    .title {
      @include text(15, $color-font-333);
      font-weight: bold;
      margin: 0 rpx(10);
    }
    .cont {
      margin: 0 rpx(10);
      @include text(13, $color-font-616);
      letter-spacing: 1.5px;
      line-height: rpx(20);
      word-break: break-all;
    }
  }

}

.height-1 {
  height: rpx(20);
}

//footer
.vote-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white;
  border-top: rpx(1) solid $border-color-F0F;
  z-index: 10000;
  .btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rpx(15);
  }

  .btn {
    display: flex;
    align-items: center;
    width: rpx(335);
    height: rpx(64);
  }
  .btn-halfs {
    height: rpx(97);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: rpx(335);
  }
  .btn-half {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    height: rpx(40);
    font-size: rpx(16);
    @include text(16, $white);
    width: rpx(335);
    &:after {
      border: none;
    }
    &.active {
      width: rpx(335);
      border-radius: rpx(2);
      background-image: $gradient-active;
    }
    &.disabled {
      border-radius: rpx(2);
      background-image: $gradient-disabled;
    }
    &.half-active {
      border-radius: rpx(2);
      background-image: $gradient-active;
      @include text(14, $white);
    }
    &.half-disabled {
      border-radius: rpx(2);
      background-image: $gradient-active;
    }
    &.half-notVote {
      border-radius: rpx(2);
      background-image: $gradient-disabled;
      @include text(14, $white);
    }
  }
}