
@import "../../../style/global";

page {
  height: 100%;
  background: #F0F3F7;
}

.lists {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}

.invoice-tip-box {
  box-shadow: 0 0 rpx(10) rpx(5) rgba(0,0,0,0.03);
  border-radius: rpx(4);
  margin: rpx(10);
  padding-left: rpx(15);
  padding-right: rpx(15);
  background: #fff;
  &-title {
    font-weight: bold;
    @include text(16, #343C40);
    line-height: rpx(55);
    text-align: center;
    @include border-bottom(#DFDFDF, dashed)
  }
  &-content {
    @include text(12, #333333);
    padding: rpx(15) rpx(0) rpx(20) rpx(0);
    .line1 {
      padding-bottom: rpx(10);
    }
    .line2 {
      text-indent:2em;
      text-align: justify;
      line-height: rpx(18);
    }
  }
}
.tip-box {
  @include flex-space-between();
  padding: rpx(15) rpx(15) rpx(13) rpx(10);
  .tip-msg {
    @include flex-space-between();
    align-items: center;
    @include text(12, #343C40);
    image {
      @include wh(18, 18);
      margin-right: rpx(5);
    }
  }
  .search-order {
    @include text(12, #4184FB);
  }
}
// 订单
.orderList {
  margin-left: rpx(10);
  margin-right: rpx(10);
  .order-item {
    padding-left: rpx(15);
    padding-top: rpx(13);
    background: #fff;
    // @include box-shadow-invoice();
    border-radius: rpx(4);
    margin-bottom: rpx(10);
    &-num {
      padding-bottom: rpx(10);
      @include flex-space-between();
      align-items: center;
      @include text(14, #584114);
      @include border-bottom(#DFDFDF, dashed);
      .order-orderNo {
        @include text(12, #333333);
      }
      .order-btn {
        // font-weight: bold;
        @include wh(70, 28);
        @include text(12, #FFFFFF);
        line-height: rpx(28);
        text-align: center;
        border-radius: rpx(39);
        margin-left: rpx(10);
        margin-right: rpx(15);
        background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
        box-shadow: 0px 2px 4px rgba(243, 79, 51, 0.25);
      }
    }
    
    &-time {
      @include text(10, #666666);
      line-height: rpx(38);
      @include border-bottom(#F0F0F0);
    }
    &-title, &-content {
      @include text(10, #343C40);
      @include flex-space-between();
      line-height: rpx(38);
      .name {
        max-width: rpx(150);
        @include no-wrap()
      }
      .right {
        @include flex-space-between();
        margin-right: rpx(15);
        .mar-rig25 {
          margin-right: rpx(10);
        }
        .max-w60 {
          width: rpx(50);
          @include no-wrap();
          text-align: right;
        }
      }
    }
    &-title {
      color: #67747A;
      @include border-bottom(#F0F0F0);
    }
    .order-show-cont {
      @include border-bottom(#DFDFDF, dashed)
    }
    &-total {
      @include text(14, #666666);
      @include flex-space-between();
      align-items: center;
      line-height: rpx(43);
      margin-right: rpx(15);
      .collaspse {
        @include text(13, #FB5B41 );
      }
      .total-text {
        @include text(14, #292D40);
        font-weight: bold;
      }
      .total-num {
        @include text(14, #AC6257);
        font-weight: bold;
      }
      .font58 {
        @include text(14, #584114);
        font-weight: bold;
      }
    }
  }
  
}

