@import "../../style/global";
.inner{
  background: #fff;
  box-shadow: 0 rpx(-1) rpx(20) 0 rgba(0, 0, 0, 0.2);
  border-radius: rpx(10) rpx(10) 0 0;
  .header{
    @include flex-space-between();
    align-items: center;
    padding: rpx(15);
    .title{
      font-size:rpx(16);
      color: #292D40;
      font-weight:500;
    }
    .close{
      color: #79888F;
      font-size:rpx(20);
    }
  }
  .inner-scroll{
    padding: rpx(0) rpx(15) rpx(15);
    max-height: rpx(500);
    min-height: rpx(200);
    overflow-y: auto;
    .ladder{
      margin-bottom:rpx(10);
      background-color: #fafafa;
      border-radius: rpx(10);
      padding: rpx(15);
      box-sizing: border-box;
      .ladder-name{
        color: #012433;
        font-size:rpx(14);
        font-weight:500;
      }
      .ladder-item{
        margin-top:rpx(10);
        font-size:rpx(12);
        color: #343C40;
        &:first-child{
          margin-top:rpx(15);
        }
      }
    }
  }
}
