@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";

.member-level {
  overflow: hidden;
  .member-level-help {
    background-color: $white;
    border-radius: rpx(10);
    margin: rpx(10);
    .title {
      font-weight: bold;
      @include text(15, $color-font-333);
      padding: rpx(15) rpx(15) 0;
    }
    .cont {
      @include text(14, $color-font-616);
      letter-spacing: rpx(1.3);
      line-height: 1.5;
      padding: rpx(20) rpx(10);
      image {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
