@import "../../../style/global";

.container {
  height: 100vh;
}

.topic-img {
  width: 100%;
  height: rpx(186.5);
  display: block;
}

.hot-goods-lists {
  height: 100vh;
  box-sizing: border-box;
  background-color: $bgColor;
}

.list-wrapper {
  @include flex-space-between();
  flex-wrap: wrap;
  padding: 0 rpx(12);
}

/*分类固定标签*/
.category-wrap {
  @include wh(62, 36);
  background: $white;
  box-shadow: 0 0 rpx(5) 0 rgba(0, 0, 0, 0.10);
  border-radius: 0 rpx(18) rpx(18) 0;
  position: fixed;
  top: rpx(10);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .category-img {
    @include wh(14, 14);
  }
  .category-text {
    @include text(12, #2D2D2D);
    margin-left: rpx(5);
  }
}

.category-container {
  background: $white;
  box-shadow: 0 rpx(8) rpx(10) 0 rgba(0, 0, 0, 0.30);
  width: rpx(116);
  height: 100vh;
  padding: rpx(28) 0 rpx(28) 0;
  .category-item {
    margin: rpx(20) 0;
    @include text(14, #616C7A);
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      border-left: rpx(4) solid #CA9F59;
      color: #584114;
    }
  }
}

.categroy {
  display: flex;
  background-color: $white;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  &.fixed {
    position: fixed;
  }
  .categroy-items {
    width: 90%;
    height: rpx(46);
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding-left: rpx(13);
    .item {
      @include text(14, #50555C);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: rpx(20);
      margin-right: rpx(30);
      .border-bottom {
        @include wh(20, 3);
        background: #FFF;
        border-radius: rpx(100);
        margin-top: rpx(3);
      }
      &.active {
        @include text(14, #E74260);
        .border-bottom {
          background: #E74260;
        }
      }
      &:last-child {
        padding-right: rpx(50);
      }
    }
  }
  .arrow-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: rpx(46);
    .pulldown-icon {
      width: rpx(10);
      height: rpx(10);
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.selectListWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  z-index: 99;
  .selectList {
    background-color: $white;
    overflow-y: scroll;
    .selectTop {
      display: flex;
      @include flex-space-between();
      align-items: center;
      height: rpx(46);
      padding-left: rpx(16);
      background: #F5F6F8;
      .arrow-view {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 100%;
        .pullup-icon {
          width: rpx(10);
          height: rpx(10);
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .itemWrap {
      display: flex;
      flex-wrap: wrap;
      margin-top: rpx(16);
      margin-left: rpx(12);
      max-height: rpx(450);
      padding-bottom: rpx(10);
      .selectItem {
        display: flex;
        width: rpx(84.8);
        height: rpx(30);
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        align-items: center;
        justify-content: center;
        margin-right: rpx(4.2);
        margin-bottom: rpx(8);
        @include text(12, #333);
        &.active {
          background-color: $color-font-select-bg;
          color: $color-font-shop-select;
        }
      }
    }  
  }
}