@import "../../../style/global";

@mixin b-bottom($color) {
  position: relative;
  &:after {
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    transform-origin: 0 0;
    border-top: rpx(1) solid $color;
  }
}

@mixin title {
  margin-top: rpx(10);
  background: $white;
  .tit {
    margin-left: rpx(15);
    display: flex;
    color: #9FABBA;
    align-items: center;
    font-size: rpx(12);
    height: rpx(35);
    margin-bottom: rpx(16);
    @include b-bottom(#f0f0f0);
    .icon {
      width: rpx(17);
      height: rpx(13);
      margin-right: rpx(7);
    }
  }
}

@mixin t-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin format-btn() {
  width: rpx(28);
  height: rpx(28);
  border-radius: 50%;
}

.online-wrap {
  padding-top: rpx(10);
}

// 订单信息
.order-info, .vip-i {
  @include text(14, $color-font-333);
  overflow: hidden;
  background: $white;
  .list {
    height: rpx(44);
    display: flex;
    align-items: center;
    margin-left: rpx(15);
    flex-direction: row;
    @include b-bottom($border-color-F0F);
    &:last-child {
      &:after {
        border-top: none;
      }
    }
    .label {
      flex: 1;
      .tips {
        font-size: rpx(12);
        color: #9FABBA;
      }
    }
    .info {
      padding-right: rpx(15)
    }
  }
}

// 会员折扣
.vip-i {
  padding-top: 0;
  margin-top: rpx(10);
  .vip-zk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: rpx(15);
    background: $white;
    height: rpx(35);
    @include b-bottom($border-color-F0F);
    .vip-zk-left {
      .info {
        color: #9FABBA;
        font-size: rpx(12);
      }
      .vip-icon {
        width: rpx(17);
        height: rpx(14);
        margin-right: rpx(7);
      }
    }
    .switch-wrap {
      padding-right: rpx(9);
      .wx-switch-input {
        width: rpx(41) !important;
        height: rpx(20) !important;
      }
      /*白色样式（false的样式）*/
      .wx-switch-input::before {
        width: rpx(40) !important;
        height: rpx(18) !important;
      }
      /*绿色样式（true的样式）*/
      .wx-switch-input::after {
        width: rpx(20) !important;
        height: rpx(18) !important;
      }
    }
  }

  .vip-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 rpx(15);
    padding: rpx(12) 0;
    @include text(14, $color-font-333);
    .limit {
      @include text(14, $color-font-8D9);
    }
  }
}

// 停车券
.electrs-coupon {
  @include title;
  .items {
    .label-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .label {
        margin-left: rpx(15);
        @include checkbox(22);
      }
    }
    .item {
      flex: 1;
      margin-bottom: rpx(16);
      padding-left: rpx(12);
      width: rpx(333);
      height: rpx(100);
      position: relative;
      box-sizing: border-box;
      border-radius: rpx(6);
      background-color: $white;
      @include flex-space-between();
      z-index: 2;
      .background {
        width: rpx(333);
        height: rpx(124);
        position: absolute;
        top: rpx(-9);
        left: 0;
        z-index: -1;
      }
      .item-type {
        width: rpx(100);
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .item-type-value {
          @include text(13, $color-font-coupon);
          .text {
            @include text(30, $color-font-coupon);
          }
        }
        .item-type-typeName {
          @include text(13, $color-font-coupon);
        }
      }
      .item-content {
        padding: rpx(16) rpx(48) rpx(11) rpx(22);
        width: rpx(229);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .item-content-coupon {
          border-bottom: rpx(1) dotted #9B9B9B;
          .item-content-coupon-name {
            padding-bottom: rpx(7);
            width: rpx(179);
            @include no-wrap();
            @include text(18, $color-font-333);
            line-height: rpx(26);
          }
          .item-content-coupon-use {
            @include limit-line(1);
            padding-bottom: rpx(6);
            @include text(12, $color-font-333);
            line-height: rpx(18);
          }
          .desc {
            @include text(12, $color-font-616);
            padding-bottom: rpx(6);
          }
        }
        .item-content-time {
          padding-top: rpx(4);
          @include text(13, $color-font-333);
          line-height: rpx(18);
        }
      }
      .icon-mark {
        width: rpx(70);
        height: rpx(70);
        position: absolute;
        top: rpx(16);
        left: rpx(55);
        z-index: 99;
      }
    }
  }

  .line {
    height: rpx(10);
    margin-left: rpx(15);
    @include b-bottom(#f0f0f0);
  }
  .bottom {
    height: rpx(44);
    margin-left: rpx(15);
    font-size: rpx(14);
    text-align: right;
    line-height: rpx(44);
    padding-right: rpx(15);
    text {
      color: #616C7A;
    }
  }
  .drop-down {
    min-height: rpx(13);
    line-height: rpx(13);
    align-items: center;
    text-align: center;
    width: rpx(314);
    margin-left: rpx(45);
    image {
      width: rpx(13);
      height: rpx(13);
      margin-top: rpx(5);
      margin-bottom: rpx(10);
    }
  }
}

// 积分抵扣样式
.module-pay-type {
  overflow: hidden;
  @include title;
  .tit .icon {
    width: rpx(16);
    height: rpx(16);
  }
  .es-bt-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: rpx(13) rpx(13) 0;
    padding: rpx(10);
    border-radius: rpx(4);
    .info-wrap {
      .tip-wrap {
        .score-type {
          @include text(14, $color-font-778);
          background: rgba(173, 187, 204, .15);
          padding: rpx(4);
          border-radius: rpx(2);
          margin-right: rpx(10);
        }
        .use-score {
          @include text(12, $color-font-778);
        }
      }
      .exchange-score {
        @include text(12, $color-font-exchange-point);
        padding-top: rpx(5);
      }
    }
    .num-wrap {
      @include flex-space-between();
      .format-plus {
        @include format-btn();
      }
      .format-minus {
        @include format-btn();
      }
      .format-num {
        @include text(16, #A3AFBF);
        width: rpx(45);
        text-align: center;
        line-height: rpx(28);
        &.active {
          @include text(16, $color-font-222);
        }
      }
    }
  }
  .line {
    height: rpx(13);
    margin-left: rpx(15);
    @include b-bottom($border-color-F0F);
  }
  .es-actual-pay-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .es-tips {
      font-size: rpx(14);
      color: #616C7A;
      margin-left: rpx(15);
    }
    .es-price {
      color: #616C7A !important;
    }
  }
  .es-actual-pay {
    text-align: right;
    font-size: rpx(14);
    color: #616C7A;
    margin: rpx(15) rpx(15) rpx(13);
    .rmb {
      color: #222;
    }
  }
}

// 离场提示
.pay-tips {
  padding: rpx(35) 0 rpx(24);
  text-align: center;
  @include text(13, $color-font-101);
  text {
    @include text(13, $color-font-leave-time);
  }
}

.bottom-box {
  height: rpx(75);
}

// 底部按钮区域
.module-pay {
  height: rpx(64);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: $white;
  align-items: center;
  display: flex;
  .pay-btn {
    width: rpx(335);
    height: rpx(40);
    line-height: rpx(40);
    background-image: $gradient-active;
    border-radius: rpx(100);
    @include text(16, $white);
    text-align: center;
    border: none;
    &.disable {
      background-image: $gradient-disabled;
    }
    &:after {
      border: none;
    }
  }
  .discount-btn {
    width: rpx(165);
    height: rpx(40);
    line-height: rpx(40);
    border-radius: rpx(0);
    text-align: center;
    border: none;
    margin-right: 0;
    background-image: $gradient-btn-cart;
    @include text(16, $white);
    &.disable {
      background-image: $gradient-btn-cart-inactive;
      @include text(16, $color-font-7E7);
    }
    &:after {
      border: none;
    }
  }
  .pay-btn-2 {
    width: rpx(165);
    height: rpx(40);
    line-height: rpx(40);
    background-image: $gradient-active;
    border-radius: rpx(0);
    @include text(16, $white);
    text-align: center;
    border: none;
    margin-left: 0;
    &.disable {
      background-image: $gradient-disabled;
    }
    &:after {
      border: none;
    }
  }
}

//还需支付
.need-fee {
  margin-top: rpx(10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rpx(12) rpx(15);
  @include text(14, $color-font-333);
  background-color: $white;
  font-weight: bold;
}

.messageTips {
  z-index: 100;
  position: fixed;
}
