@import "../../../../style/global";

@mixin background-gradient() {
  background-image: $gradient-active;
  color: $white;
}

.container {
  padding-bottom: rpx(74);
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $bgColor;
  .coupon {
    padding-left: rpx(15);
    margin-top: rpx(10);
    background: $white;
    .coupon-info {
      @include flex-space-between();
      padding: rpx(9) rpx(15) rpx(9) 0;
      // @include border-bottom($border-color-F0F);
      .shopLogo {
        flex-shrink: 0;
        align-self: center;
        margin-right: rpx(10);
        width: rpx(70);
        height: rpx(70);
        border-radius: rpx(4);
      }
      > view {
        flex-grow: 1;
      }
      .coupon-info-name {
        padding: rpx(13) rpx(15) rpx(13) 0;
        @include text(16, #FB5B41);
        .unit{
          font-size:rpx(12);
        }
      }
      .coupon-info-num {
        @include text(14, $color-font-333);
        font-weight:500;
      }
    }
    .coupon-time {
      padding-right: rpx(15);
      // height: rpx(44);
      line-height: rpx(44);
      @include flex-space-between();
      @include text(14, $color-font-333);
      @include border-top($border-color-F0F);
      .time-title {
        width: rpx(75);
        @include text(14, $color-font-333);
      }
      .time {
        font-size: rpx(12);
        color: #616C7A;
      }
    }
  }
  .textBlock {
    margin-top: rpx(10);
    padding: rpx(15) rpx(15) rpx(6);
    background-color: $white;
    .title {
      padding-bottom: rpx(9);
      @include text(15, $color-font-333);
      line-height: rpx(15);
      font-weight: bold;
    }
    .text {
      @include text(14, $color-font-616);
      line-height: rpx(20);
      word-break: break-all;
      letter-spacing: rpx(2);
    }
  }
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: $white;
    padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
    padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
    .fotter-text {
      font-size: rpx(14);
      color: #fff;
      line-height: rpx(35);
      text-align: center;
      width: rpx(345);
      height: rpx(36);
      background: linear-gradient(90deg, #0C5CA5 0%, #0C5CA5 100%);
      border-radius: rpx(18);
      box-shadow: 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
      margin: rpx(10) auto;
      &.disabled{
        filter: grayscale(1);
      }
    }
    .fotter-text2 {
      font-size: rpx(14);
      color: #fff;
      line-height: rpx(35);
      text-align: center;
      width: rpx(345);
      height: rpx(36);
      border-radius: rpx(18);
      margin: rpx(10) auto;
      .fotter-tui{
        color: #FB5B41;
        width: rpx(171);
        float: left;
        border: rpx(0.5) solid #FFAF7A;
        border-right-width: 0;
        border-radius: rpx(100) 0 0 rpx(100);
      }
      .fotter-qu{
        float: left;
        width: rpx(171);
        background: linear-gradient(90deg, #0C5CA5 0%, #0C5CA5 100%);
        border-radius: 0 rpx(100) rpx(100) 0;
      }
    }
    .submit-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // background-image: $gradient-active;
      // color: $white;
      font-size: rpx(14);
      line-height: rpx(21);
      height: rpx(50);
      border-radius: 0;
      .new-price {
        .num {
          font-size: rpx(12);
        }
        .text {
          font-size: rpx(10);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }
      &::after {
        border-radius: 0;
      }
    }
    .wrap-color{
      color: $white;
      background-image: $gradient-active;
    }
    .wrap-color-rob{
      color: $color-font-676;
      background-image: $gradient-disabled;
    }
  }
}
.card-bg{
  position: relative;
  .card{
    width:rpx(325);
    border-radius: rpx(5);
    text-align: center;
    font-size:rpx(12);
    color: #67747A;
    padding-bottom:rpx(30);
    background-color: $white;
    .card-title{
      width: 100%;
      height: rpx(44);
      background: #4184fb1a;
      font-weight: 500;
      border-radius: rpx(8) rpx(8) rpx(2) rpx(2);
    }
    .card-title-phone{
      font-size: rpx(14);
      color: #000;
      line-height: rpx(40);
    }
    .count-down{
      display: inline-block;
      padding: 0 rpx(10);
      color: #4184FB;
      font-size: rpx(10);
      margin: rpx(15) auto rpx(30) auto;
      background: #4184fb1a;
      border-radius: rpx(2);
    }
    .card-erweima{
      margin: rpx(15) auto rpx(10);
      width: rpx(177);
      height: rpx(177);
      display: block;
    }
    .card-code {
      line-height: rpx(22);
      text-align: center;
      @include text(15, $color-font-000);
      padding-top: rpx(10);
      padding-bottom: rpx(20);
    }
    .card-go {
      display: inline-block;
      height: rpx(40);
      width: rpx(240);
      margin: 0 auto;
      color: #fff;
      font-size:rpx(14);
      line-height: rpx(40);
      border-radius: rpx(25);
      background: linear-gradient(270deg, #4184FB 0%, #98B6FE 100%);
      box-shadow: 0 0 rpx(15) 0 rgba(195, 196, 196, 0.3);
    }
  }
  .card-close{
    width: rpx(20);
    height: rpx(20);
    position: absolute;
    bottom: rpx(-50);
    left: 50%;
    margin-left:rpx(-10);
  }
}
