@import "../../style/global";

.tab {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: fixed;
  top: 0;
  height: rpx(46);
  background: #FFFFFF;
  padding: 0 rpx(32);
  z-index: 999;
  .tab-item {
    @include text(14, #50555C);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: rpx(10);
    margin-right: rpx(30);
    .border-bottom {
      @include wh(20, 3);
      background: #FFF;
      border-radius: rpx(100);
      margin-top: rpx(10);
    }
    &.active {
      @include text(16, #E74260);
      .border-bottom {
        background: #E74260;
      }
    }
  }
}

.lists {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: rpx(45);
  .list {
    background-color: $white;
    margin-top: rpx(10);
    padding: rpx(12);

    .live-title-container{
      display: flex;
      flex-direction: row;

      .live-logo{
        .live-logo-img{
          width:rpx(32);
          height:rpx(32);
        }
      }

      .live-title-container-left{
        margin-right:rpx(5);
      }
      .live-title-container-right{
        flex:1;
      }
    }
    .live-anchor {
      height: rpx(40);
      @include text(14, #222222);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info {
        display: flex;
        flex-direction: column;
        .info-name {
          font-weight: bold;
          @include text(13, #222);
        }
        .info-time {
          margin-top: rpx(5);
          @include text(12, #8D98A6);
        }
      }
      .operate {
        width: rpx(84);
        height: rpx(24);
        line-height: rpx(24);
        box-shadow: rpx(0) rpx(2) rpx(4) rpx(0) rgba(243, 79, 51, 0.25);
        background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
        border-radius: rpx(39);
        font-size: rpx(12);
        color: #FFFFFF;
        text-align: center;
      }
      .subscribe {
        width: rpx(64);
        height: rpx(24);
        line-height: rpx(24);
        background: linear-gradient(270deg, #4184FB 0%, #98B6FE 100%);
        box-shadow: rpx(0) rpx(2) rpx(4) rpx(0) rgba(49, 119, 243, 0.25);
        border-radius: rpx(39);
        font-size: rpx(12);
        color: #FFF;
        text-align: center;
      }
      .subscribe-end{
        width: rpx(54);
        height: rpx(24);
        line-height: rpx(24);
        background: linear-gradient(274deg, #FDADA0 0%, #FEEEEC 100%);
        box-shadow: rpx(0) rpx(2) rpx(4) rpx(0) rgba(248, 155, 141, 0.25);
        border-radius: rpx(39);
        font-size: rpx(12);
        color: #AC6257;
        text-align: center;
      }
      .live-player-subscribe__btn {
        width: rpx(84);
        height: rpx(24);
        line-height: rpx(24);
        border: 1px solid #E74260;
        border-radius: rpx(39);
        font-size: rpx(12);
        color: #FFFFFF;
        text-align: center;
      }
    }
    .live-title {
      margin-top: rpx(12);
      height: rpx(20);
      line-height: rpx(20);
      @include text(14, #50555C);
    }
    .live-img-container {
      margin-top: rpx(11);
      display: flex;
      .left-all {
        width: 100%;
      }
      .left {
        width: rpx(280);
        height: rpx(227);
        border-radius: rpx(5);
        position: relative;

        .zb-icon{
          width:rpx(40);
          height:rpx(40);
          position:absolute;
          left:rpx(120);
          top:rpx(94);
        }
        .left-img{
          width: rpx(280);
          height: rpx(227);
          border-radius: rpx(5);
        }
        .bg-zb-title{
          position: absolute;
          top:0;
          left:0;
          z-index:10;
          width:rpx(130);
          height:rpx(20);
        }
        .left-title{
          position: absolute;
          top:0;
          left:0;
          padding:rpx(1) rpx(6);
          @include text(12, #FFF);
          z-index:11;
          overflow: hidden;    
          text-overflow: ellipsis; 
          white-space: nowrap;
          width: rpx(110);
        }
        .left-goods-num{
          position: absolute;
          top:0;
          right:0;
          width: rpx(62);
          height: rpx(24);
          background: rgba(0, 0, 0, 0.2);
          border-top-left-radius:rpx(25);
          border-bottom-left-radius:rpx(25);
          padding:rpx(6) 0 0 rpx(10);
          .left-goods-num-text{
            @include text(10, #FFF);
          }
        }
      }
      .right {
        margin-left: rpx(5);
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        .right-item {
          // margin-left: rpx(4);
          margin-bottom: rpx(7);
          width: rpx(70);
          height: rpx(70);
          border-radius: rpx(5);
        }
        .right-base {
          width: rpx(74);
          height: rpx(74);
        }
        .txt {
          margin-top: rpx(-25);
          margin-left: rpx(13);
          font-size: 10px;
          color: #FF9EB0;
          z-index: 10;
        }
      }
    }
  }
}
