@import "../../style/global";

.wrap {
  height: rpx(100);
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .list {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    padding: 0;
    margin: 0;
    border-radius: 0;
    @include text(12, $color-font-333);
    &:after {
      display: none;
    }
    .img {
      display: block;
      @include wh(40, 40)
    }
    .text {
      @include text(12, $color-font-333);
      margin-top: rpx(10);
    }
  }
}

.img-wrap {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: rpx(5);
  .image {
    width: 100%;
    height: 100%;
  }
}