@import "../../../style/global";

page {
  height: 100%;
  background: #F5F6F7;
}

.box-wrapper {
  width: rpx(375);
  height: 100vh;
  box-sizing: border-box;
  .box {
    height: 100%;
    overflow: hidden;
    .scan-img {
      @include wh(192, 116);
      margin: rpx(80) auto rpx(20) auto;
      display: block;
    }
    .tip {
      @include text(14, #666666);
      text-align: center;
    }
    .scan-btn {
      display: flex;
      flex: 1;
      justify-content: center;
      height: rpx(36);
      margin: 0 rpx(15) 0 rpx(15);
      margin-top: rpx(60);
      line-height: rpx(36);
      font-weight: bold;
      @include text(14, #FFFFFF);
      // background-image: linear-gradient(51deg, #A32125 0%, #E31B1B 100%);
      background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
      box-shadow: 0px 2px 4px rgba(243, 79, 51, 0.25);
      border-radius: rpx(100);
      &:after {
        border: none;
      }
    }
    .no-data {
      text-align: center;
      @include text(14, #67747A);
      margin-top: rpx(40);
    }
    .block {
      display: block;
    }
    .order-block {
      margin-left: rpx(10);
      margin-right: rpx(10);
      margin-top: rpx(30);
      background: $white;
      box-shadow: 0 0 rpx(10) rpx(5) rgba(0,0,0,0.03);
      border-radius: rpx(4);
      padding-left: rpx(15);
      padding-right: rpx(15);
      .order-no {
        @include text(12, #292D40);
        @include border-bottom(#DFDFDF, dashed);
        line-height: rpx(54);
      }
      &-bottom {
        line-height: rpx(46);
        @include flex-space-between();
        align-items: center;
        .order-price {
          @include text(14, #AC6257);
          // font-weight: bold;
        }
        .order-btn {
          // font-weight: bold;
          @include wh(70, 28);
          @include text(12, #ffffff);
          line-height: rpx(28);
          text-align: center;
          border-radius: rpx(39);
          margin-left: rpx(10);
          margin-right: rpx(15);
          background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
          box-shadow: 0 2px 6px 0 rgba(255,92,64,0.25);
          // background-image: linear-gradient(51deg, #A32125 0%, #E31B1B 100%);
        }
      }
    }
    .hand-order {
      background: $white;
      padding-left: rpx(15);
      padding-right: rpx(15);
      @include border-bottom( #F0F0F0);
      @include flex-space-between();
      align-items: center;
      line-height: rpx(50);
      .title {
        @include text(14, #333333);
        width: rpx(100);
      }
      .input {
        flex: 1;
        @include text(14, #333333);
        text-align: right;
        .place-class {
          @include text(14, #999999);
        }
      }
    }
    .btn {
      // @include wh(228, 40);
      margin: rpx(60) rpx(15) rpx(40) rpx(15);
      // font-weight: bold;
      @include text(14, #ffffff);
      &:after {
        border: none;
      }
    }
    // .gray {
    //   background: #B4C2D4;
    //   color: #ffffff;
    // }
    .yellow {
      border-radius: rpx(100);
      background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
    }
  }
  button[disabled] {
    // background: #B4C2D4 !important;
    background-image: linear-gradient(-85deg, #FDADA0 0%, #FEEEEC 100%) !important;
    color: #AC6257 !important;
    border-radius: rpx(100);
  }
}
