@import "../../../style/global";

.orders {
  min-height: rpx(300);
}

.tab-content {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  margin-bottom : 209rpx;
}

.load-state {
  text-align: center;
  font-size : rpx(12);
  color     : #999;
  margin-top: rpx(15);
}

.base-info {
  display         : flex;
  flex-direction  : row;
  padding         : 26rpx 30rpx 26rpx 30rpx;
  height          : 219rpx;
  background-color: #FFFFFF;

  .img {
    position        : relative;
    width           : 161rpx;
    height          : 161rpx;
    background-color: #F7F7F7;
    border-radius   : rpx(4);
    overflow        : hidden;
  }

  .name-wrap {
    display       : flex;
    flex-direction: column;
    margin-left   : 31rpx;

    .name {
      font-size  : 32rpx;
      font-family: PingFang SC;
      font-weight: bold;
      color      : #333333;
      line-height: 48rpx;
    }

    .desc {
      font-size  : 24rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #999999;
      line-height: 40rpx;
      width      : 493rpx;
    }
  }
}

.serivce {
  display         : flex;
  flex-direction  : column;
  background-color: #FFFFFF;
  margin-top      : 10rpx;
  margin-bottom   : 10rpx;
  width           : 100%;

  .label {
    display    : flex;
    align-items: center;
    margin-left: 30rpx;
    margin-top : 39rpx;

    .card-title-item {
      width        : 10rpx;
      height       : 32rpx;
      background   : #0C5CA5;
      border-radius: 6px;
      margin-right : 10rpx;
    }

    .content {
      margin-left: 13rpx;
      font-size  : 34rpx;
      font-family: PingFang SC;
      font-weight: bold;
      color      : #333333;
      line-height: 48rpx;
    }
  }

  .address {
    display    : flex;
    margin-left: 55rpx;
    margin-top : 35rpx;

    .address-label {
      font-size  : 26rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #999999;
      line-height: 48rpx;
    }

    .address-content {
      margin-left: 92rpx;
      font-size  : 26rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #333333;
      line-height: 48rpx;
      width      : 470rpx;
    }
  }

  .personal-info {
    display    : flex;
    height     : 86rpx;
    align-items: center;

    .icon {
      width      : 25rpx;
      height     : 25rpx;
      margin-left: 34rpx;
    }

    .personal-label {
      font-size  : 26rpx;
      font-family: PingFang SC;
      font-weight: 500;
      color      : #333333;
      line-height: 48rpx;
      margin-left: 18rpx;
    }

    .personal-input {
      position  : absolute;
      right     : 33rpx;
      text-align: right;
    }

    .tui-picker-detail {
      display    : flex;
      align-items: center;

      .img {
        width   : 25rpx;
        height  : 25rpx;
        position: absolute;
        right   : 33rpx;
      }
    }
  }
}

.split-line {
  margin-top : 32rpx;
  margin-left: 30rpx;
  width      : 690rpx;
  height     : 1px;
  background : #F1F1F1;
}

.btn-wrap {
  width           : 100%;
  height          : 209rpx;
  background-color: #FFFFFF;
  position        : fixed;
  bottom          : 0;
  display         : flex;
  align-items     : center;
  justify-content : center;

  .book-btn {
    width           : 689rpx;
    height          : 106rpx;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: #0C5CA5;
    color           : #FFFFFF;
    border-radius   : 50rpx;

  }
}