@import "../../../style/global";

.balance-detail {
  .empty {
    background-color: $bgColor;
  }
  .balance-lists {
    height: 100vh;
    .balance-list-wrap {
      background-color: $white;
    }
    .balance-list {
      position: relative;
      padding: rpx(15);
      border-bottom: #f5f5f5 rpx(1) solid;
      .organizeName {
        font-size: rpx(14);
        color: #212326;
        height: rpx(20);
        line-height: rpx(20);
        margin-bottom: rpx(10);
      }
      .consumeType {
        font-size: rpx(12);
        color: #8D98A6;
        height: rpx(16);
        line-height: rpx(16);
        margin-bottom: rpx(5);
      }
      .consumeTime {
        font-size: rpx(12);
        color: #8D98A6;
        height: rpx(16);
        line-height: rpx(16);
      }
      .consumePrice {
        position: absolute;
        right: rpx(15);
        top: rpx(38);
        font-size: rpx(16);
        color: #212326;
        height: rpx(20);
        line-height: rpx(20);
      }
    }
  }
}