@import "../../style/global";

.sign-wrap {
  padding-top: rpx(10);
  .wrap {
    background-color: $white;
    .inner {
      margin: 0 rpx(20);
    }
  }
  .title {
    @include text(14, $color-font-666);
    height: rpx(35);
    display: flex;
    align-items: flex-end;
  }
  // 表单
  .lists {
    .list {
      @include border-bottom($border-color-bottom);
      height: rpx(48);
      display: flex;
      align-items: center;
      .placeholder {
        @include text(13, $color-font-placeholder)
      }
      .default-input {
        width: 100%;
        @include text(13, $color-font-000);
      }
      &.code {
        justify-content: space-between;
        .default-input {
          width: 50%;
        }
        .code-btn {
          @include text(14, $color-font-code);
          @include code-btn();
        }
      }
    }
  }
  // 按钮
  .btn-wrap {
    margin-top: rpx(50);
    padding-bottom: rpx(30);
    .sign-btn {
      @include wh(228, 40);
      border-radius: rpx(100);
      background-image: $gradient-active;
      @include text(16, $white);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      font-weight: bold;
    }
  }
}