@import "../../../style/global";

.car-management-wrap {
  .car-management-inner {
    padding-top: rpx(10);
    .lists {
      background-color: $white;
      .list {
        margin-left: rpx(15);
        background-color: $white;
        display: flex;
        align-items: center;
        height: rpx(44);
        @include border-bottom($border-color-F0F);
        &:last-child {
          &:after {
            border: none;
          }
        }
        image {
          display: block;
          width: rpx(19);
          height: rpx(19);
          margin-right: rpx(15);
        }
        .car-number {
          flex: 1;
          @include text(14, $color-font-333);
        }
        .del {
          @include text(14, $color-font-car-remove);
          padding-right: rpx(15);
        }
      }
    }
  }
  .btn {
    position: fixed;
    bottom: rpx(23);
    left: 50%;
    transform: translateX(-50%);
    border-radius: rpx(100);
    height: rpx(40);
    width: rpx(228);
    @include text(16, $white);
    background-image: $gradient-active;
    &:after {
      border: none;
    }
  }
}