@import "../../style/global";

.wrap {
  position: relative;
}

.bg-image {
  position: absolute;
  display: block;
  width: 100%;
  height: rpx(212);
}

.container {
  min-height: 100vh;
  background: $gradient-card;
  padding: rpx(30) rpx(10) rpx(50);
  box-sizing: border-box;
  .card {
    width: 100%;
    background-color: $white;
    border-radius: rpx(10);
    margin-bottom: rpx(24);
    position: relative;
    box-shadow: 0 rpx(8) rpx(13) 0 rgba(0, 0, 0, 0.11);
    .card-info {
      .titles {
        padding: rpx(24) 0 0 rpx(15);
        .title {
          @include text(15, $color-font-222);
        }
        .tips {
          padding-top: rpx(3);
          @include text(12, $color-font-666);
          text {
            @include text(12, $color-font-primary);
          }
        }
      }
      .status-wrap {
        width: rpx(228);
        height: rpx(40);
        border-radius: rpx(100);
        @include text(15, $white);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto rpx(30);
        &.signed {
          background-image: $gradient-disabled;
        }
        &.un-signed {
          background-image: $gradient-active;
        }
      }

      .time-line-wrap {
        width: rpx(350);
        margin: rpx(25) auto rpx(25);
        display: flex;
        align-items: center;
        .time-line-block {
          flex: 1;
          width: rpx(50);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          z-index: 2;
          &:before {
            display: block;
            content: '';
            position: absolute;
            z-index: -1;
            border-top: rpx(1) solid #E0E4EA;
            top: rpx(15);
            left: 0;
            width: rpx(10.5);
          }
          &:after {
            display: block;
            content: '';
            position: absolute;
            border-top: rpx(1) solid #E0E4EA;
            top: rpx(15);
            z-index: -1;
            right: 0;
            width: rpx(10.5);
          }
          &:first-child {
            &:before {
              border: none;
            }
          }
          &:last-child {
            &:after {
              border: none;
            }
          }
          &.active {
            .circle {
              background-image: $gradient-sign-circle;
              border: none;
              color: $white;
            }
          }
          .circle {
            width: rpx(30);
            height: rpx(30);
            border-radius: 100%;
            box-sizing: border-box;
            border: rpx(1) solid #B4C2D4;
            background-color: $white;
            @include text(12, $color-font-8D9);
            display: flex;
            align-items: center;
            justify-content: center;
            word-break: normal !important;
          }
          .time {
            @include text(12, $color-font-333);
            margin-top: rpx(5);
          }
        }
      }
    }
    .card-rule {
      padding: 0 rpx(15);
      border-top: rpx(1) solid $bgColor;
      .title {
        font-weight: bold;
        @include text(15, $color-font-333);
        padding: rpx(12) 0;
      }
      .content {
        @include text(13, $color-font-616);
        letter-spacing: rpx(1.5);
        line-height: 1.6;
        padding-bottom: rpx(30);
        word-break: break-all;
      }
    }
  }
}

// 签到弹窗
.dialog-wrap {
  width: rpx(375);
  height: rpx(441);
  border-radius: rpx(10);
  text-align: center;
  position: relative;
  .close {
    position: absolute;
    right: rpx(60);
    top: rpx(17);
    width: rpx(18);
    height: rpx(18);
    z-index: 11;
  }
  .img {
    display: block;
    width: rpx(375);
    height: rpx(432);
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .title-wrap {
    position: absolute;
    top: rpx(50);
    width: rpx(194);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    &-title {
      font-weight: bold;
      @include text(18, $color-font-333);
    }
    &-tip {
      @include text(14, $color-font-1A1);
      margin-top: rpx(145);
      .num {
        font-weight: bold;
        margin-left: rpx(3);
        margin-right: rpx(3);
        @include text(18, $color-font-primary);
      }
    }
    &-tip2 {
      margin-top: rpx(22);
      margin-bottom: rpx(7);
      @include text(12, $color-font-252);
    }
    &-cont {
      margin-bottom: rpx(20);
      @include text(12, $color-font-252);
      &-font {
        margin-right: rpx(3);
        font-weight: bold;
        @include text(20, $color-font-exchange-point)
      }
    }
  }
  .upper-btn {
    left: 50%;
    bottom: rpx(80);
    position: absolute;
    transform: translateX(-50%);
    @include wh(228, 38);
    background-image: $gradient-active;
    border-radius: rpx(100);
    @include text(15, $white);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lower-btn {
    width: rpx(228);
    margin-top: rpx(15);
    @include text(14, $color-font-147);
    left: 50%;
    bottom: rpx(48);
    position: absolute;
    transform: translateX(-50%);
  }
}

