@import "../../style/global";

//  首页弹窗  通用
.dialog-wrap-common {
    display: flex;
    justify-content: center;
    align-items: center;
    .currencyWrap {
      width: rpx(270);
      height: rpx(360);
      margin-top: rpx(-40);
      position: relative;
      .currencyDate {
        position: absolute;
        top: rpx(15);
        right: rpx(10);
        opacity: 0.6;
        background: $color-font-000;
        border-radius: rpx(10);
        color: $white;
        font-size: rpx(10);
        padding: rpx(2) rpx(4);
        z-index: 11;
      }
      .img {
        width: rpx(270);
        height: rpx(360);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: rpx(10)
      }
      .currencyBtn {
        position: absolute;
        top: rpx(305);
        left: 50%;
        transform: translateX(-50%);
        // background-image: linear-gradient(90deg, #971E23 0%, #D51A1B 100%);
        border-radius: rpx(100);
        width: rpx(200);
        height: rpx(38);
        line-height: rpx(38);
        font-size: rpx(14);
        text-align: center;
      }
    }
    .colse {
      position: fixed;
      bottom: rpx(67);
      left: 50%;
      transform: translateX(-50%);
      .img {
        width: rpx(34);
        height: rpx(34);
      }
    }
  }
