@import "../../style/global";
@import "../../wxParse/wxParse.scss";

.member-level {
  overflow: hidden;
  .member-level-help {
    background-color: $white;
    padding: rpx(15) rpx(15) rpx(0) rpx(15);
    .title {
      @include text(15, $color-font-333);
      padding: rpx(10) 0 rpx(5);
    }
    .cont {
      @include text(12, $color-font-616);
      letter-spacing: rpx(1.3);
      line-height: 1.5;
      image {
        display: block;
        width: 100%;
        height: 100%;
      }
      .tips {
        @include text(14, $color-font-616);
        text-align: center;
        padding: rpx(20) 0;
      }
    }
  }
}
