@import "../../style/global";
// 绑定车辆
.vote-dialog-wrap {
  width: rpx(295);
  background: $white;
  box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.11);
  border-radius: rpx(10);
  position: relative;
  text-align: center;
  padding: rpx(30) 0 rpx(20);
  .close {
    position: absolute;
    right: rpx(15);
    top: rpx(15);
    width: rpx(18);
    height: rpx(18);
  }
  .title {
    font-weight: bold;
    @include text(18, $color-font-333);
  }
  .vote-inner {
    width: rpx(259);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rpx(20) 0;
    .cont {
      @include text(15, $color-font-333);
      text-align: center;
    }
  }
  .btn {
    font-weight: bold;
    border-radius: rpx(100);
    height: rpx(38);
    width: rpx(117);
    @include text(15, $white);
    background-image: linear-gradient(-90deg, #D6AA74 0%, #F7E1B6 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      border: none;
    }
  }
  .inputbox {
    margin: rpx(5) rpx(20) rpx(15) rpx(20);
    border-bottom: rpx(1) solid #E7E7E7;
    input {
      text-align: left;
      font-size: rpx(14);
    }
  }
  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rpx(255);
    margin: 0 auto;
    .btn1 {
      border-radius: rpx(100);
      height: rpx(38);
      width: rpx(87);
      display: flex;
      align-items: center;
      justify-content: center;
      &:after {
        border: none;
      }
      &.btn-sure {
        @include text(15, $white);
        background-image: linear-gradient(-90deg, #D6AA74 0%, #F7E1B6 100%);
      }
      &.btn-cancel {
        border: rpx(1) solid #F7E1B6;
        @include text(15, $border-color-D6A);
        background-color: $white;
      }
    }
    .btn2 {
      border-radius: rpx(100);
      height: rpx(36);
      width: rpx(106);
      display: flex;
      align-items: center;
      justify-content: center;
      &:after {
        border: none;
      }
      &.btn-sure {
        @include text(14, $white);
        background-image: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
        box-shadow: 0px 2px 4px rgba(243, 79, 51, 0.25)
      }
      &.btn-cancel {
        border: rpx(1) solid #FFA495;
        @include text(14, #FB5B41);
        background-color: $white;
      }
    }
  }
}