@import "../../style/global";

.container {
  height: 100vh;
  box-sizing: border-box;
}

.list {
  padding: rpx(10) 0 0;
  height: 100vh;
  box-sizing: border-box;
  background: $bgColor;
  .shop {
    margin: 0 rpx(10) rpx(10);
    background: $white;
    border-radius: rpx(10);
    .shop-title-wrapper {
      @include flex-space-between();
      padding-right: rpx(10);
      margin-bottom: rpx(14);
      height: rpx(36);
      line-height: rpx(16);
      .label {
        width: rpx(36);
        height: rpx(36);
      }
      .shop-title {
        padding: rpx(10) 0;
        width: rpx(308);
        height: rpx(18);
        border-bottom: rpx(1) dashed $border-color-F0F;
        display: flex;
        align-items: center;
        @include text(13, $color-font-222);
        @include no-wrap();
        &-img {
          margin-right: rpx(7);
          width: rpx(14);
          height: rpx(14);
          vertical-align: middle;
        }
      }
    }
    .itemWrapper {
      height: rpx(102);
      padding-bottom: rpx(15);
      position: relative;
      overflow: hidden;
      .item {
        @include flex-space-between();
        height: 100%;
        border-radius: rpx(4);
        background-color: $white;
        z-index: 2;
        position: relative;
        top: 0;
        transition: all ease .2s;
        .label {
          width: rpx(36);
          height: rpx(102);
        }
        &-navigator {
          flex-grow: 1;
          @include flex-space-between();
          position: relative;
        }
        &-img {
          flex-shrink: 0;
          width: rpx(90);
          height: rpx(90);
          border-radius: rpx(4);
        }
        &-img-icon {
          @include wh(60, 24);
          position: absolute;
          top: rpx(-4);
          left: rpx(-4);
        }
        &-content {
          flex-grow: 1;
          padding: rpx(0) rpx(15) 0 rpx(10);
          @include flex-space-between();
          flex-direction: column;
          &-name {
            max-height: rpx(36);
            @include text(13, $color-font-333);
            line-height: rpx(18);
            @include limit-line(2);
          }
          &-price {
            margin-top: rpx(5);
            &.skuSpecs{
              margin-top: rpx(20);
            }
            .num {
              @include text(13, $color-font-primary);
            }
            .text {
              @include text(10, $color-font-primary);
              &.pad {
                padding: 0 rpx(2);
              }
            }
          }
          &-sku {
            margin-top: rpx(5);
            @include text(12, $color-font-555);
          }
          &-footer {
            flex-grow: 1;
            @include flex-space-between();
            align-items: flex-end;
            .item-content-state {
              display: inline-block !important;
              margin-top: rpx(3);
              padding: 0 rpx(7) 0 rpx(4);
              height: rpx(20);
              @include text(12, #999);
              line-height: rpx(20);
              background: #f7fafc;
              border-radius: rpx(4);
            }
            .item-format-wrapper {
              @include flex-space-between();
              @include extend-click();
              .item-format-btn {
                box-sizing: border-box;
                width: rpx(22);
                height: rpx(20);
                border: rpx(1) solid $border-color-DBD;
                @include extend-click();
                &.minus {
                  border-top-left-radius: rpx(2);
                  border-bottom-left-radius: rpx(2);
                }
                &.plus {
                  border-top-right-radius: rpx(2);
                  border-bottom-right-radius: rpx(2);
                }
                .item-format-img {
                  width: rpx(20);
                  height: rpx(18);
                }
              }
              .item-format-text {
                display: inline-block;
                box-sizing: border-box;
                padding: 0 rpx(10);
                min-width: rpx(44);
                height: rpx(20);
                @include text(12, #666);
                line-height: rpx(20);
                text-align: center;
                border-top: rpx(1) solid $border-color-DBD;
                border-bottom: rpx(1) solid $border-color-DBD;
              }
            }
          }
        }
      }
      .delete {
        width: 43px;
        height: rpx(100);
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FF596D;
        border-radius: rpx(4);
        @include text(14, $white);
        position: absolute;
        top: 1px;
        right: 1px;
      }
    }
  }
  .loading {
    padding: rpx(5) 0;
    width: 100%;
    height: rpx(40);
    box-sizing: border-box;
    image {
      width: rpx(30);
      height: rpx(30);
      display: block;
      margin: 0 auto;
    }
  }
  .emptyPage {
    padding-top: rpx(90);
    &Img {
      width: rpx(150);
      height: rpx(150);
      display: block;
      margin: 0 auto;
    }
    &Text {
      margin: rpx(27) 0 rpx(48);
      @include text(14, $color-font-8D9);
      text-align: center;
      line-height: rpx(20);
    }
    &Btn {
      margin: 0 auto;
      width: rpx(222);
      height: rpx(40);
      background-image: $gradient-active;
      border-radius: rpx(40);
      @include text(16, $white);
      line-height: rpx(40);
      text-align: center;
    }
  }
  .position-holder {
    width: 1px;
    height: rpx(64);
  }
}

.footer {
  box-sizing: border-box;
  padding: 0 0 0 rpx(15);
  width: 100%;
  height: rpx(50);
  z-index: 2;
  background-color: $white;
  @include border-top($border-color-DBD);
  @include flex-space-between();
  align-items: center;
  position: fixed;
  bottom: 0;
  .mulity-selection {
    flex-shrink: 0;
    @include flex-space-between();
    align-items: center;
    .selectAll {
      margin: 0 rpx(10) 0 0;
      @include text(14, $color-font-666);
    }
    .delete {
      @include text(14, #FF596D);
    }
  }
  .total {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 rpx(13);
    line-height: 1;
    &Label {
      @include text(10, $color-font-222);
      padding-bottom: rpx(3);
    }
    .new-price {
      .num {
        @include text(15, $color-font-A32);
      }
      .text {
        @include text(10, $color-font-A32);
        &.pad {
          padding: 0 rpx(2);
        }
      }
    }
  }
  .submit {
    width: rpx(112);
    height: rpx(50);
    background-image: $gradient-active;
    @include text(14, $white);
    text-align: center;
    line-height: rpx(50);
  }
}

.checkboxWrapper {
  flex-shrink: 0;
  width: rpx(36);
  @include flex-center();
}

.label {
  @include checkbox(16);
  @include flex-center();
}

.fs12 {
  font-size: rpx(12) !important;
  vertical-align: baseline;
}
