@import "../../style/global";

.actionSheet {
  background: transparent !important;
}

.checkboxWrapper {
  flex-shrink: 0;
  width: rpx(36);
  @include flex-center();
}

.wrap {
  max-height: rpx(493);
  background: #FFFFFF;
  border-radius: rpx(10) rpx(10) 0 0;

  &-header {
    display: flex;
    justify-content: space-between;
    margin: 0 rpx(15);
    position: relative;
    height: rpx(40);
    box-sizing: border-box;
    z-index: 999;
    .img-wrap {
      @include wh(110, 110);
      margin-right: rpx(10);
      image {
        display: block;
        border-radius: rpx(4);
        @include wh(110, 110);
        margin-right: rpx(10);
        position: relative;
        top: rpx(-25);
      }
    }
    .title {
      margin-left: rpx(15);
      margin-top: rpx(10);
      font-size: 16px;
      color: #333333;
      font-weight: bold;
    }
    .close {
      position: absolute;
      @include wh(21, 21);
      top: rpx(10);
      right: rpx(10);
    }
  }

  &-list {
    max-height: rpx(395);
    padding: 0 rpx(15);
    overflow-y: scroll;
    .coupon-item {
      width: rpx(345);
      height: rpx(110);
      position: relative;
      box-sizing: border-box;
      border-radius: rpx(6);
      @include flex-space-between();
      z-index: 2;
      .background {
        width: rpx(345);
        height: rpx(120);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      .item-type {
        width: rpx(115);
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .item-type-value {
          @include text(30, $color-font-coupon);
          .fs12 {
            font-size: rpx(13);
          }
          &.parking {
            @include text(13, $color-font-coupon);
            .fs12 {
              font-size: rpx(30);
            }
          }
          &.discount {
            @include text(13, $color-font-coupon);
            .fs12 {
              font-size: rpx(30);
            }
          }
          &.gift {
            .gift-img {
              @include wh(44, 44);
              display: block;
            }
          }
        }
        .item-type-typeName {
          @include text(13, $color-font-coupon);
        }
      }
      .item-content {
        padding: rpx(20) 0 rpx(5) rpx(10);
        width: rpx(229);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .item-content-coupon {
          width: rpx(185);
          .item-content-coupon-name {
            width: rpx(179);
            @include no-wrap();
            @include text(16, $color-font-333);
            line-height: rpx(26);
            &.active {
              color: #D6AA74;
            }
          }
          .item-content-coupon-use {
            @include limit-line(1);
            @include text(12, $color-font-333);
            line-height: rpx(18);
            &.active {
              color: #D6AA74;
            }
          }
        }
        .item-content-time, .item-content-useRange {
          @include no-wrap();
          @include text(13, $color-font-333);
          word-break: break-all;
          line-height: rpx(18);
          &.active {
            color: #D6AA74;
          }
        }
        .item-content-time {
          padding-top: rpx(5);
        }
        .item-content-useRange {
          width: rpx(185);
          border-bottom: rpx(1) dotted $border-color-9B9;
          padding-bottom: rpx(10);
          @include text(12, $color-font-666);
          &.active {
            color: #D6AA74;
          }
        }
      }
      .icon-mark {
        width: rpx(40);
        height: rpx(40);
        position: absolute;
        top: rpx(14);
        right: rpx(14);
        z-index: 99;
      }
      &.active {
        filter: grayscale(100%);
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rpx(58);

    .btn {
      @include wh(345, 38);
      background-image: $gradient-active;
      @include text(15, #ffffff);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: rpx(2);
    }
  }

  &-body {
    margin: 0 rpx(15);
    max-height: rpx(325);
    overflow-y: scroll;

    .sku-lists {
      border-bottom: rpx(1) solid #F2F2F2;
      padding: rpx(15) 0;

      .title {
        @include text(15, #333);
        font-weight: bold;
        margin-bottom: rpx(10);
      }

      .sku-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .list {
          border: rpx(1) solid #AFAFAF;
          border-radius: rpx(2);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: rpx(6) rpx(10);
          @include text(13, #333);
          margin: 0 rpx(15) rpx(15) 0;

          &.active {
            background: #FFF9F1;
            border: rpx(1) solid #D92C33;
            @include text(13, #D92F36);
          }
        }
      }
    }
    .wrap-delivery {
      display: flex;
      @include flex-space-between();
      align-items: center;
      max-height: rpx(40);
      padding: rpx(15) 0;
      box-sizing: border-box;
      border-bottom: rpx(1) solid #F2F2F2;

      .tit {
        @include text(15, #333);
      }

      .content {
        margin-right: rpx(5);
        padding-right: rpx(10);
        line-height: rpx(16);
        @include text(13, #333);
        .radio {
          padding-left: rpx(30);
        }
      }
    }
  }
}



