@import "../../../style/global";

// banner
.banner {
  height: rpx(138);
  background-color: $white;
  .swiper-wrap {
    padding-top: rpx(10);
    height: rpx(118);
    position: relative;
    .swiper-item {
      text-align: center;
      position: relative;
    }
    .slide-image-wrap {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      @include wh(355, 118);
    }
    .slide-image {
      @include wh(355, 118);
      margin: 0 auto;
      border-radius: rpx(10);
    }
    .wx-swiper-dots.wx-swiper-dots-horizontal {
      margin-bottom: rpx(2);
      margin-left: rpx(130);
    }
    .wx-swiper-dot {
      width: rpx(4);
      display: inline-flex;
      height: rpx(4);
      margin-left: rpx(1);
      justify-content: space-between;
    }
    .wx-swiper-dot::before {
      content: '';
      flex-grow: 1;
      background: rgba(255, 255, 255, 0.5);
      border-radius: rpx(4)
    }
    .wx-swiper-dot-active {
      width: rpx(16);
      display: inline-flex;
      height: rpx(4);
      margin-left: rpx(5);
      justify-content: space-between;
    }
    .wx-swiper-dot-active::before {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.lists {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .list {
    background-color: $white;
    margin-top: rpx(10);
    .img-wrap {
      @include wh(355, 177.5);
      padding-top: rpx(10);
      border-radius: rpx(10);
      margin: rpx(10) auto rpx(14);
      .img {
        @include wh(355, 177.5);
        border-radius: rpx(10);
      }
    }
    .list-info {
      padding: 0 rpx(15);
      .name {
        font-weight: bold;
        @include text(15, $color-font-333);
        @include limit-line(1);
      }
      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rpx(10) 0 rpx(14) 0;
      }
      .number {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .block {
        display: flex;
        align-items: center;
        image {
          margin-right: rpx(5);
        }
        .icon-location {
          @include wh(14, 16);
          flex: rpx(14) 0 0;
        }
        .icon-look {
          @include wh(22, 12)
        }
        .icon-like {
          @include wh(16, 21);
          margin-top: rpx(-5);
        }
      }
      .address {
        width: rpx(190);
        @include text(13, $color-font-666);
        text {
          width: rpx(208);
          @include text-overflow();
        }
      }
      .look, .like {
        @include text(13, $color-font-979);
        margin-left: rpx(15);
      }
    }
  }
}