@import "../../../style/global";

.balance-detail {
  .balance-lists {
    height: 100vh;
    .section {
      display: flex;
      justify-content: center;
      height: rpx(44);
      background-color: #fff;
      border-top: #f5f5f5 rpx(1) solid;
      border-bottom: #f5f5f5 rpx(1) solid;
      .contain {
        position: relative;
        display: flex;
        margin: auto;
        text {
          line-height: rpx(44);
          font-size: rpx(14);
        }
        image {
          position: relative;
          margin-left: rpx(10);
          top: rpx(19);
          width: rpx(8);
          height: rpx(6);
        }
      }
    }
    .chooseSection {
      position: absolute;
      top: rpx(46);
      background-color: #fff;
      width: 100%;
      z-index: 10000;
      .itemSection {
        position: relative;
        height: rpx(44);
        line-height: rpx(44);
        padding: 0 rpx(24);
        display: flex;
        color: #626973;
        justify-content: space-between;
        .text {
          line-height: rpx(44);
          font-size: rpx(14);
        }
        image{
          position: relative;
          top: rpx(15);
          width: rpx(16);
          height: rpx(14);
        }
      }
      .active {
        background-color: #F6F9FF;
        color: #4184FB;
      }
    }
    .bjShadow {
      height: 100%;
      position: absolute;
      top: rpx(46);
      background-color: #f5f5f5;
      width: 100%;
      z-index: 9999;
      opacity: 0.5;
    }
    .balance-list-wrap {
      margin: rpx(15) rpx(15) 0;
      background-color: $white;
      border-radius: rpx(10);
      box-shadow: 0 0 rpx(4) 0 rgba(0, 0, 0, 0.06);
    }
    .balance-list {
      margin: 0 rpx(15);
      .balance-list-inner {
        .title {
          display: flex;
          align-items: center;
          height: rpx(40);
          @include border-bottom($border-color-F0F);
          .icon-img {
            display: block;
            @include wh(22, 22);
            border-radius: 100%;
            margin-right: rpx(5);
          }
          .sub-title {
            @include text(13, $color-font-333);
          }
        }
        .detail {
          text-align: center;
          padding: rpx(27) 0 rpx(5);
          .name {
            @include text(13, $color-font-999);
          }
          .num {
            @include text(24, $color-font-222);
          }
        }
        .info {
          padding: rpx(17) 0;
          .info-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 1.8;
            .info-txt {
              @include text(14, $color-font-616);
            }
            .info-desc {
              @include text(14, $color-font-333);
            }
          }
        }
        .check {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: rpx(40);
          @include border-top($border-color-F0F);
          .sub-title {
            @include text(13, $color-font-333);
          }
          .arrow {
            display: block;
            width: rpx(9);
            height: rpx(13);
          }
        }
      }
    }
  }
}