@import "../../style/global";

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.message-tips {
  position: fixed;
  top: 40vh;
  width: 100vw;
  left: 0;
  right: 0;
  min-height: rpx(42);
  box-sizing: border-box;
  background: transparent;
  animation: fade-in-out 2.5s backwards;
  color: #fff;
  font-size: rpx(13);
  line-height: rpx(18);
  text-align: center;
  z-index: 10000;
  overflow: inherit;
  .content {
    display: inline-block;
    box-sizing: border-box;
    padding: rpx(12) rpx(15);
    min-width: rpx(92);
    max-width: rpx(345);
    border-radius: rpx(10);
    background-color: #65696D;
  }
}
