
$drawer-prefix-cls: i-drawer;

.i-drawer {
  visibility: hidden;
  &-show {
    visibility: visible;
    & .i-drawer-mask {
      display: block;
      opacity: 1;
    }
    & .i-drawer-container {
      opacity: 1;
    }
    &.i-drawer-left,
    &.i-drawer-right {
      & .i-drawer-container {
        transform: translate3d(0, -50%, 0);
      }
    }
  }
  &-mask {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
  }
  &-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
    z-index: 7;
    opacity: 0;
  }
  &-left {
    & .i-drawer-container {
      left: 0;
      top: 50%;
      transform: translate3d(-100%, -50%, 0);
    }
  }
  &-right {
    & .i-drawer-container {
      right: 0;
      top: 50%;
      left: auto;
      transform: translate3d(100%, -50%, 0);
    }
  }
}
