@import "../../style/global";

page {
  height: 100%;
}

.list-wrapper {
  height: 100vh;
  box-sizing: border-box;
  .list {
    box-sizing: border-box;
    padding: rpx(10);
    padding-bottom: 0;
    height: 100%;
    .item {
      margin-bottom: rpx(10);
      border-radius: rpx(10);
      background-color: $white;
      padding: 0 rpx(15);
      .item-con {
        box-sizing: border-box;
        padding: rpx(11) 0 rpx(15);
        border-bottom: dashed rpx(2) $border-color-F0F;
        @include flex-space-between();
        .item-con-image {
          width: rpx(135);
          height: rpx(90);
          border-radius: rpx(5);
          flex: rpx(135) 0 0;
        }
        .item-con-right {
          margin-left: rpx(10);
          flex: 1;
          @include flex-space-between();
          flex-direction: column;
          .title {
            @include text(15, $color-font-333);
            @include limit-line(2);
          }
          .price {
            @include text(14, $color-font-222);
            .text {
              @include text(10, $color-font-222);
              &.pad {
                padding: 0 rpx(3);
              }
            }
            .num {
              @include text(16, $color-font-222);
            }
          }
        }
      }
      .item-bot {
        height: rpx(44);
        @include flex-space-between();
        align-items: center;
        .item-bot-time {
          @include text(12, $color-font-666);
        }
        .item-bot-state {
          width: rpx(70);
          height: rpx(28);
          background-image: $gradient-active;
          border-radius: rpx(28);
          text-align: center;
          line-height: rpx(28);
          @include text(14, $white);
          &.disabled {
            background-image: $gradient-disabled;
            @include text(14, $white);
          }
        }
      }
    }
  }
}