@import "../../style/global";

// 客服消息按钮
.kefu-button {
  position: fixed;
  right: rpx(20);
  bottom: rpx(100);
  width: rpx(44);
  height: rpx(44);
  border-radius: rpx(0);
  z-index: 100;
  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  .img {
    width: rpx(44);
    height: rpx(44);
  }
  .btn::after {
    border: 0;
  }
  .kefu-Btn {
    padding: 0;
    border: none;
    .img {
      width: rpx(44);
      height: rpx(44);
    }
  }
}

// 弹窗 客服消息  
.dialog-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .kefu-wrap {
    width: rpx(263);
    height: rpx(326);
    position: relative;
    background: $white;
    .img {
      width: rpx(263);
      height: rpx(204);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-radius: rpx(10)
    }
    .kefu-tit {
      position: absolute;
      top: rpx(30);
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      font-weight: bold;
      color: #333333;
    }
    .kefu-tel {
      position: absolute;
      top: rpx(220);
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      .name {
        @include text(14, #222222);
      }
      .tel {
        display: inline;
        @include text(14, #5BA6FF);
      }
      .tel-img {
        width: rpx(10);
        height: rpx(12);
        margin-left: rpx(8);
      }
    }
    .kefu-Btn {
      position: absolute;
      top: rpx(268);
      left: 50%;
      background: #B41C1F;
      transform: translateX(-50%);
      border-radius: rpx(100);
      width: rpx(120);
      height: rpx(38);
      line-height: rpx(38);
      font-size: rpx(14);
      color: #FFFFFF;
    }
  }
  .colse {
    position: fixed;
    bottom: rpx(60);
    left: 50%;
    transform: translateX(-50%);
    .img {
      width: rpx(34);
      height: rpx(34);
    }
  }
}