@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";

@mixin inline-block($va) {
  display: inline-block;
  vertical-align: $va;
}

@mixin text-item() {
  @include text(13, $color-font-616);
  line-height: rpx(18);
}

.container {
  background-color: $list-bgColor;
  .topImage {
    padding: rpx(15);
    width: rpx(345);
    height: rpx(345);
    background: $white;
    overflow: hidden;
    image {
      width: 100%;
      height: 100%;
      border-radius: rpx(10);
    }
  }

  .state-wrap {
    width: 100%;
    height: rpx(56);
    display: flex;
    align-items: center;
    background: $gradient-gift;
    .price-wrap {
      flex: 1;
      height: rpx(56);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: rpx(15);
      box-sizing: border-box;
      .new-price {
        .num {
          @include text(24, $white);
        }
        .text {
          @include text(12, $white);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }
      .old-price {
        @include text(12, $white);
        .num {
          text-decoration: line-through;
          @include text(18, $white);
        }
      }
    }
    .time-wrap {
      flex: rpx(147) 0 0;
      width: rpx(147);
      height: rpx(56);
      position: relative;
      image {
        @include wh(147, 56);
      }
      .time-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include text(14, $white);
      }
      .time-line-block {
        margin-left: rpx(20);
      }
    }
  }

  .titleWrap {
    padding: 0 rpx(15);
    width: rpx(345);
    background: $white;
    .title {
      @include flex-space-between();
      height: rpx(44);
      line-height: rpx(44);
      background: $gradient-gift;
      border-radius: rpx(10);
      .title-price {
        .title-price-now {
          @include inline-block(top);
          @include text(20, $white);
        }
        .title-price-old {
          margin-left: rpx(9);
          @include inline-block(top);
          @include text(13, $white);
          text-decoration: line-through;
        }
      }
      .title-time {
        @include text(14, $white);
      }
    }
  }

  .good {
    padding-left: rpx(15);
    background: $white;
    .good-name {
      padding: rpx(10) rpx(15) rpx(10) 0;
      @include text(16, $color-font-222);
      line-height: rpx(20);
      word-break: break-all;
      @include flex-space-between();
      align-items: center;
      @include border-bottom($border-color-F0F);
    }
    .good-list {
      padding: 0 rpx(15) rpx(12) 0;
      @include border-bottom($border-color-F0F);
      .good-list-item {
        margin-bottom: rpx(3);
        @include text-item();
        &:before {
          margin-top: rpx(6);
          margin-right: rpx(5);
          display: inline-block;
          content: "";
          vertical-align: top;
          width: rpx(5);
          height: rpx(5);
          border-radius: 50%;
          background-color: $color-font-616;
        }
      }
    }
    .good-tips {
      @include flex-space-between();
      padding: rpx(11) rpx(15) rpx(11) 0;
      .good-tips-item {
        @include text(13, $color-font-616);
        line-height: rpx(18);
        image {
          margin-top: rpx(2);
          margin-right: rpx(8);
          width: rpx(12);
          height: rpx(12);
          vertical-align: top;
        }
        &.empty {
          width: rpx(90);
        }
      }

    }
  }
  .shop {
    padding-top: rpx(13);
    padding-bottom: rpx(13);
    @include flex-space-between();
    align-items: center;
    .shop-info {
      flex: 1;
      @include flex-space-between();
      align-items: center;
      .shop-info-image {
        flex-shrink: 0;
        margin-right: rpx(10);
        width: rpx(70);
        height: rpx(70);
        border-radius: rpx(5);
        background-color: $border-color-E5E;
      }
      .shop-info-name {
        padding-bottom: rpx(8);
        @include text(15, $color-font-333);
      }
      .shop-info-text {
        @include text-item();
      }
      .shop-info-button {
        width: rpx(80);
        height: rpx(30);
        line-height: rpx(30);
        border: 1px solid #D21C1E;
        border-radius: 15px;
        font-size: rpx(13);
        text-align: center;
        color: #D21C1E;
      }
    }
    .shop-navigation {
      flex-shrink: 0;
      width: rpx(45);
      height: rpx(45);
      border-radius: 50%;
      &hover {

      }
    }
  }
  .detail {
    padding-top: rpx(10);
    padding-bottom: rpx(10);
    .detail-tit {
      margin-bottom: rpx(10);
      @include text(15, $color-font-333);
      line-height: rpx(22);
    }
    .detail-con {
      @include text-item();
      line-height: rpx(20);
      letter-spacing: rpx(2);
    }
  }
  .page-bottom-place {
    width: 100%;
    height: rpx(100);
  }
  .footer {
    position: fixed;
    bottom: 0;
    z-index: 9;
    box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    width: rpx(375);
    height: rpx(50);
    display: flex;
    justify-content: center;
    background: $white;
    .flex-1 {
      flex: 1
    }
    .submit-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-image: $gradient-active;
      color: $white;
      &.inactive {
        color: $color-font-ECE;
        background-image: $gradient-btn-disabled;
      }
      .new-price {
        .num {
          font-size: rpx(16);
        }
        .text {
          font-size: rpx(10);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }
      .state {
        font-size: rpx(14);
      }
    }
  }
  .page-bottom {
    @include border-top($border-color-F0F);
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    padding: rpx(11) rpx(13) rpx(13);
    width: rpx(375);
    height: rpx(64);
    background-color: $white;
    line-height: rpx(40);
    z-index: 99;
    @include flex-space-between();
    .page-bottom-price {
      min-width: rpx(108);
      margin-right: rpx(13);
      @include text(20, $color-font-000);
      line-height: rpx(40);
      text-align: center;
    }
    .page-bottom-btn {
      flex-grow: 1;
      height: rpx(40);
      border-radius: rpx(40);
      @include text(16, $white);
      text-align: center;
      &.active {
        background-image: $gradient-active;
      }
      &.inactive {
        background-image: $gradient-disabled;
      }
    }
  }
}

#goods-share {
  flex-shrink: 0;
  margin: 0 0 0 rpx(15);
  padding: 0;
  width: rpx(20);
  height: rpx(20);
  background-color: transparent;
  &:after {
    border: none;
  }
  .goods-share {
    width: rpx(20);
    height: rpx(20);
    vertical-align: top;
  }
}

.plr15 {
  padding-left: rpx(15);
  padding-right: rpx(15);
  background-color: $white;
}

.plr10 {
  padding-left: rpx(10);
  padding-right: rpx(10);
}

.mb10 {
  margin-bottom: rpx(10);
}

.fs12 {
  font-size: rpx(12);
}