@import "../../style/global";

/*自定义导航栏*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  .navbar-content {
    position: absolute;
    top: rpx(28);
    left: 25%;
    .navbar-search {
      display: flex;
      width: rpx(160);
      height: rpx(24);
      border-radius: rpx(50);
      background: #F5F6F8;
      color: #999;
      align-items: center;
      .search-img {
        margin-left: rpx(12);
        margin-right: rpx(8);
        width: rpx(19);
        height: rpx(19);
      }
      .search {
        width: 80%;
        height: 100%;
        .input-placeholder {
          font-size: rpx(12);
        }
      }
      .input-style {
        color: #B4C2D4;
      }
    }
  }
  .navbar-title {
    position: absolute;
    height: 32px;
    line-height: 32px;
    /* width: 100%; */
    width: 320rpx;
    text-align: center;
    font-size: 16px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    left: 28%;
  }
  .navbar-icon-wrap {
    position: absolute;
    left: 9px;
    width: 44px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-icon {
    width: 44px;
    height: 32px;
  }
  .navbar-scan {
    width: 28px;
    height: 28px;
  }
}

  