/*1倍图设计稿px转rpx*/
@function rpx($value) {
  @return $value * 2rpx;
}

// Color
$primary-color: #0FA0FF; //主色
$navigation-color: #E50113; //小程序导航色
$bgColor: #EFF3F8; //页面背景色
$white: #FFF; //白色
$gray: #807C7C; //灰色
$vipColor: #044E83; // 会员卡等级
$background-color-base: #f7f7f7; // base
$background-color-disabled: #f3f3f3; // disabled
$list-bgColor: #F5F6F7;
$vote-list-bgColor: linear-gradient(90deg, #FBF3E3 0%, #FFFAF2 100%);
$vote-search-bgColor: #F4F7FA;
$bgColor-FDF: #FDF3F0;
$bgColor-9F7: #FFF9F7;
$bgColor-EFF: #EFF3F6;

// Border color
$border-color-base: #dddee1; // outside
$border-color-split: #e9eaec; // inside
$border-color-bottom: #F2F2F2; // bottom
$border-color-F0F: #F0F0F0; // bottom
$border-color-C3D: #C3D2E6; // bottom
$border-color-D4D: #D4D4D4; // bottom
$border-color-DBD: #DBDBDB; // bottom
$border-color-E5E: #E5E5E5; // bottom
$border-color-9B9: #9B9B9B; // bottom
$border-color-D6A: #D6AA74; // bottom
$border-color-F2F: #F2F2F2; // bottom
$border-color-FF9: #FF9292; // bottom
$border-color-E7E: #E7E7E7; // bottom
$border-color-EDE: #EDEDED; // bottom
$border-color-E8E: #E8E8EA; // bottom

// font-color
$color-font-primary: #D6AA74; // 字体主色
$color-font-333: #333;
$color-font-555: #555;
$color-font-666: #666;
$color-font-222: #222;
$color-font-000: #000;
$color-font-999: #999;
$color-font-logo: #C7000C; // 授权页面字体颜色
$color-font-1A1: #1A1A1A;
$color-font-616: #616C7A;
$color-font-A0A: #A0A0A0;
$color-font-4D4: #4D4D4D;
$color-font-placeholder: #8D98A6; // input-placeholder
$color-font-placeholder-B4C: #B4C2D4; // input-placeholder
$color-font-code: #D6AA74;
$color-font-8D9: #8D98A6;
$color-font-095: #095F99;
$color-font-6f7: #6F7A89;
$color-font-0FA: #0FA0FF;
$color-font-FF6: #FF657A;
$color-font-6AC: #6AC044;
$color-font-4A4: #4A4A4A;
$color-font-095: #095F99;
$color-font-E6E: #e6e6e6;
$color-font-FFA: #FFAB3A;
$color-font-101: #101010;
$color-font-F6F: #F6FAFF;
$color-font-778: #77808C;
$color-font-7F7: #7F7F7F;
$color-font-F59: #FF596D;
$color-font-584: #584114;
$color-font-AB2: #AC6257;
$color-font-029: #0293F2;
$color-font-AB2: #AB2227;
$color-font-F6B: #F6BB51;
$color-font-979: #979797;
$color-font-BD9: #BD9666;
$color-font-8B5: #8B572A;
$color-font-FF6: #FF6378;
$color-font-ECE: #FFCECE;
$color-font-A32: #A32C41;
$color-font-7E7: #7E7E7E;
$color-font-A3A: #A3A3A3;
$color-font-F1B: #F1B47F;
$color-font-vote-num: #D6AA74;
$color-font-car-remove: #FF596D;
$color-font-leave-time: #971E23;
$color-font-parking-switch: #BD9666;
$color-font-exchange-point: #D6AA74;
$color-font-reAdd-car: #D6AA74;
$color-font-parking-rule: #D6AA74;
$color-font-card-intro: #D6AA74; //券核销，说明
$color-font-coupon: #D6AA74; //券突出的颜色
$color-font-order-status: #D6AA74; //订单状态的颜色
$color-font-shop-select: #4184FB; //找店铺
$color-font-select-bg: #F6F9FF; //找店铺
$color-font-point-tab: #4184FB; //找店铺
$color-font-active-tab: #4184FB; //找店铺
$color-font-252: #525252;
$color-font-147: #D64147;
$color-font-676: #767676;
$color-font-505: #50555C;

// tabBar组件color
$color-tabBar-color: #971E23;

// Size
$size-font-13: rpx(13);

// 背景渐变
$gradient-active: linear-gradient(90deg, #0C5CA5 0%, #0C5CA5 100%); // 按钮激活状态
$gradient-active-un: linear-gradient(90deg, #0C5CA5 0%, #0C5CA5 100%); // 按钮激活状态
$gradient-add-car: linear-gradient(-90deg, #0C5CA5 0%, #0C5CA5 100%); // 按钮激活状态
$gradient-sign-btn: linear-gradient(-90deg, #0C5CA5 0%, #0C5CA5 100%); // 按钮激活状态
$gradient-disabled: linear-gradient(274deg, #0C5CA5 0%, #FEEEEC 100%); // 按钮不可点击状态颜色
$gradient-gift: linear-gradient(90deg, #D6AA74 0%, #F7E1B6 100%); // 商品详情title背景色
$gradient-card: #F5F6F7; // 全背景卡片渐变，如签到页面
$gradient-sign-active: linear-gradient(-43deg, #0693F1 0%, #5CBEFE 100%); // 签到功能（未签到）
$gradient-sign-disabled: linear-gradient(274deg, #FDADA0 0%, #FEEEEC 100%); // 签到功能（已签到）
$gradient-sign-circle: linear-gradient(-45deg, #D6AA74 10%, #F7E1B6 98%); // 签到功能小圆圈样式
$gradient-checkbox: linear-gradient(-90deg, #971E23 0%, #D51A1B 100%); // checkbox 激活状态
$gradient-checkbox-disabled: linear-gradient(274deg, #FDADA0 0%, #FEEEEC 100%); // checkbox 非激活状态
$gradient-vote-bg: linear-gradient(56deg, #F7E1B6 0%, #FAF3E5 100%); //活动投票背景
$card-bg: linear-gradient(-90deg, #AB2227 0%, #E31B1B 100%);
$card-bg2: linear-gradient(-90deg, #0087fb 0%, #8bb6fe 100%);
$gradient-vote-left: linear-gradient(90deg, #D6AA74 0%, #F7E1B6 100%);
$gradient-count-time: linear-gradient(90deg, #D6AA74 0%, #F7E1B6 100%);
$gradient-vote-right: linear-gradient(227deg, #808080 0%, #3B3B3B 100%);
$gradient-vote-checkbox: linear-gradient(227deg, #808080 0%, #3B3B3B 100%);
$gradient-member-card: linear-gradient(-90deg, #7D1414 0%, #D42A2A 100%);
$gradient-time-block: linear-gradient(-90deg, #808080 0%, #3B3B3B 100%);
$gradient-btn-disabled: linear-gradient(274deg, #0693F1 0%, #5CBEFE 100%);
$gradient-btn-cart: linear-gradient(90deg, #98B6FE 0%, #4184FB 100%);
$gradient-btn-cart-inactive: linear-gradient(90deg, #BFBFBF 0%, #A0A0A0 100%);
;

// 秒杀 progress
$gradient-seckill-progress-outer: linear-gradient(90deg, #D3E3ED 0%, #BAC8D1 100%);
$gradient-seckill-progress-inner: linear-gradient(238deg, #D6AA74 23%, #F7E1B6 100%);

// 停车按钮
$gradient-park-active: linear-gradient(-90deg, #D66165 0%, #F87777 100%);

// 购物车按钮
$sc-line-inactive: #FFB8B8;
$sc-line-active: #E31B1B;
$sc-solid-inactive: #FFB8B8;
$sc-solid-inactive-bg: linear-gradient(-90deg, #D66165 0%, #F87777 100%);
$sc-solid-err-bg: linear-gradient(-90deg, #D6AA74 0%, #F7E1B6 100%);

//  首页弹窗
$btn-bg-home: #B41C1F;
$btn-bg-text: #957E5E;

