$primary-color: #0FA0FF;
$info-color: #2db7f5;
$success-color: #19be6b;
$warning-color: #ff9900;
$error-color: #ed3f14;
$link-color: #2D8cF0;
$link-hover-color: tint($link-color, 20%);
$link-active-color: shade($link-color, 5%);
$selected-color: fade($primary-color, 90%);
$tooltip-color: #fff;
$subsidiary-color: #80848f;
$rate-star-color: #f5a623;

$title-color: #1c2438;
$text-color: #495060;

$background-color-base: #f7f7f7; // base

// Border color
$border-color-base: #dddee1; // outside
$border-color-split: #e9eaec; // inside

// Size
$size-grid-icon: 28px;
$size-font-base: 14px;
$size-font-small: 12px;
$size-font-mini: 10px;

// Button
$btn-font-weight: normal;
$btn-padding-base: 6px 15px;
$btn-padding-large: 6px 15px 7px 15px;
$btn-padding-small: 2px 7px;
$btn-font-size: 12px;
$btn-font-size-large: 14px;
$btn-border-radius: 4px;
$btn-border-radius-small: 3px;
$btn-group-border: shade($primary-color, 5%);

$btn-disable-color: #bbbec4;
$btn-disable-bg: $background-color-base;
$btn-disable-border: $border-color-base;

$btn-default-color: $text-color;
$btn-default-bg: $background-color-base;
$btn-default-border: $border-color-base;

$btn-primary-color: #fff;
$btn-primary-bg: $primary-color;

$btn-ghost-color: $text-color;
$btn-ghost-bg: transparent;
$btn-ghost-border: $border-color-base;

$btn-circle-size-large: 48px;
$btn-circle-size: 44px;
$btn-circle-size-small: 40px;

// Avatar
$avatar-bg: #ccc;
$avatar-color: #fff;
$avatar-size-base: 32px;
$avatar-size-lg: 40px;
$avatar-size-sm: 24px;
$avatar-font-size-base: 18px;
$avatar-font-size-lg: 24px;
$avatar-font-size-sm: 14px;
$border-radius-small: 4px;
$avatar-border-radius: $border-radius-small;

// Animation
$animation-time: .3s;
$transition-time: .2s;
$ease-in-out: ease-in-out;

// Z-index
$zindex-spin: 8;
$zindex-affix: 10;
$zindex-back-top: 10;
$zindex-select: 900;
$zindex-modal: 1000;
$zindex-message: 1010;
$zindex-notification: 1010;
$zindex-tooltip: 1060;
$zindex-transfer: 1060;
$zindex-loading-bar: 2000;
$zindex-spin-fullscreen: 2010;

$spin-dot-size-small: 12px;
$spin-dot-size: 20px;
$spin-dot-size-large: 32px;