@import "../../style/global";

page {
  height: 100%;
  background-color: #fff;
}

.nav-tab-wrap {
  position: relative;
  height: 100%;
}

// 目前是没有用到的
.nav-tab {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: rpx(46);
  background-image: linear-gradient(180deg, #f2e0b8 0%, #F7E1B6 100%);
  .nav-items {
    flex: 1;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    .text {
      font-size: rpx(15);
      color: #4D3609;
      &.active {
        color: #333;
        font-weight: 700;
        //border-bottom: rpx(3) solid #333;
      }
    }
    .text-line {
      margin-top: rpx(4);
      width: rpx(20);
      height: rpx(5);
      background: #333333;
      border-radius: rpx(100);
    }
  }
}

.nav-tab-panel {
  padding: rpx(45) 0 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .nav-tab-content {
    height: 100%;
  }
}

.title-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rpx(20) rpx(15) rpx(10);
  position: relative;
  line-height: rpx(18);
  &.margin-top {
    margin-top: rpx(-10);
  }
  .titles {
    font-size: rpx(18);
    color: #333333;
    font-weight: bold;
  }
  .more {
    font-size: rpx(12);
    color: #666;
    padding: rpx(20) rpx(15) rpx(10) rpx(50);
    position: absolute;
    right: 0;
    top: 0;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

/*商品*/
.commodity-lists {
  background-color: $list-bgColor;
}

.hot-commodity-list {
  padding: 0 rpx(15);
  @include flex-space-between();
  flex-wrap: wrap;
}

.mt0 {
  margin-top: 0 !important;
}

.goods-list {
  &:last-of-type {
    padding-bottom: rpx(15);
  }
}