@import "../../style/global";
/* 主题单品样式 */
.theme-goods-item {
  display: inline-block;
  background: #FFFFFF;
  margin: rpx(10) rpx(5) 0 0;
  .goods-img {
    position: relative;
    width: rpx(95);
    height: rpx(95);
    background-color: #F6F6F6;
    border-radius:rpx(4);
    .hot-presale-img{
      width: rpx(56);
      height: rpx(16);
      position: absolute;
      left: 0;
      top: rpx(4);
    }
    .hot-presale-text{
      position: absolute;
      left: rpx(16);
      top: rpx(9);
      font-size: rpx(8);
      line-height: rpx(8);
      color: #FFFFFF;
      font-family: PingFangSC-Medium;
    }
    .mask{
      position: absolute;
      top:50%;
      left:50%;
      margin-left:rpx(-25);
      margin-top:rpx(-25);
      width:rpx(50);
      height:rpx(50);
      text-align: center;
      line-height:rpx(50);
      font-size:rpx(12);
      color: #fff;
      background-color: rgba(0,0,0,0.5);
      border-radius: 50%;
    }
    .image{
      width:100%;
      height:100%;
      border-radius:rpx(4);
    }
  }
  .group-goods-detail {
    .title {
      width: rpx(90);
      line-height: rpx(16);
      min-height: rpx(32);
      margin-top:rpx(10);
      @include limit-line(2);
      @include text(12, #292D40);
    }
    .price-group {
      margin-top: rpx(5);
      .now-price {
        display: inline-block;
        @include text(12, #4184FB);
        font-weight:500;
      }
    }
  }
}