@import "../../style/global";
@import "../../wxParse/wxParse.scss";

.photo-integral {
  background-color: $white;
  width: 100%;
  height: 100vh;
  position: relative;

  .photo-bg-wrap {
    @include wh(375, 337);
  }

  .photo-bg {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-wrap {
    padding: rpx(25) 0;
    margin: rpx(-120) auto 0;
    width: rpx(325);
    background: $white;
    border-radius: rpx(10);
    @include box-shadow-photo-integral();

    .card-integral {
      margin-left: rpx(49);

      .item {
        padding-bottom: rpx(25);

        .text {
          @include text(14, $color-font-333);
          margin-bottom: rpx(3);
        }

        .num {
          @include text(20, $color-font-333);
          font-weight: bold;
        }
      }
    }

    .photo-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: rpx(15);

      &:last-child {
        margin-bottom: 0;
      }

      .btn {
        @include wh(228, 36);
        border-radius: rpx(100);
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
          border: none;
        }

        &.fill {
          //background-image: $gradient-active;
          background-image: linear-gradient(-90deg, #FB5C41 0%, #FFAE79 100%);
          @include text(14, $white);
        }

        &.border {
          // margin-top: rpx(15);
          background-color: $white;
          box-sizing: border-box;
          border: 1px solid $border-color-FF9;
          @include text(14, $color-font-AB2);
        }
      }
    }
  }

  .upload-img-block {
    background-color: $white;
    padding: rpx(15) rpx(30) rpx(50);

    &.tips {
      margin-top: rpx(20);
    }

    .text {
      @include text(14, $color-font-333);
      font-weight: bold;
    }

    .text-list {
      display: flex;
      align-items: flex-start;
      padding-top: rpx(7);

      .num {
        display: flex;
        align-items: center;
        justify-content: center;
        @include wh(13, 13);
        border-radius: 100%;
        background: #FFF4E9;
        border: 1px solid #FCDCC3;
        @include text(10, #E39254);
        margin-right: rpx(4);
        flex: rpx(13) 0 0;
      }

      .cont {
        @include text(12, $color-font-616);
        line-height: 1.5;
      }
    }

    .content {
      word-break: break-all;

      image {
        display: block !important;
        width: rpx(325) !important;
      }
    }
  }
}