@import "../../style/global";
.empty-page {
  width: 100%;
  height: 100%;
  text-align: center;
  .empty-page-image {
    width: rpx(150);
    height: rpx(150);
    margin-top:rpx(50);
    &.eleInvoice {
      width: rpx(214);
      height: rpx(143);
      margin-bottom: rpx(26)
    }
  }
  .empty-page-text {
    @include text(15, $color-font-616);
  }
}