@import "../../../style/global";

.container {
  padding: rpx(25) rpx(30);
  min-height: 100vh;
  background: $gradient-card;
  box-sizing: border-box;
  .content {
    padding: rpx(87) rpx(30) rpx(40);
    background: $white;
    @include box-shadow-park();
    border-radius: rpx(10);
    position: relative;
    .rule {
      position: absolute;
      @include text(14, $color-font-095);
      font-weight: bold;
      top: rpx(30);
      right: rpx(38);
      z-index: 3;
    }
    .bandage {
      position: absolute;
      top: rpx(-1);
      right: 0;
      width: rpx(66);
      height: rpx(68);
      z-index: 2;
    }
    .carImage {
      margin: 0 rpx(35);
      @include wh(185, 132)
    }
    .carNumberBoard {
      margin: 0 0 rpx(28) rpx(40);
      @include wh(176, 40);
      position: relative;
      .carNumberBoardBg {
        width: 100%;
        height: 100%;
      }
      .carNumberBoardContent {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: rpx(40);
        text-align: center;
        @include text(20, #584114);
      }
    }
    .row {
      height: rpx(44);
      @include flex-space-between();
      line-height: rpx(44);
      box-sizing: border-box;
      @include text(14, #333);
      &.bb {
        @include border-bottom(#f0f0f0);
      }
      text {
        flex-shrink: 0;
      }
      .arrowRightIcon {
        margin-top: rpx(15);
        width: rpx(14);
        height: rpx(14);
      }
    }
    .preTime {

    }
    .carNumber {
      padding-top: rpx(11);
      .provinceSelect {
        width: rpx(65);
        height: rpx(22);
        line-height: rpx(22);
        @include border-right(#f0f0f0);
        .arrowDownIcon {
          margin-left: rpx(20);
          width: rpx(11);
          height: rpx(6);
        }
      }
      input {
        flex-grow: 1;
        padding-right: rpx(14);
        height: rpx(22);
        text-align: right;
        .input-placeholder {
          @include text(13, $color-font-999);
        }
      }
    }
    .button {
      margin: rpx(50) rpx(14) 0;
      width: rpx(228);
      height: rpx(40);
      border-radius: rpx(20);
      background: $gradient-park-active;
      @include text(16, $white);
      line-height: rpx(40);
      text-align: center;
      &:after {
        border: none;
      }
    }
    .shortBtnForm {
      display: flex;
      justify-content: center;
      //width: rpx(260);
      height: rpx(40);
      line-height: rpx(40);
      text-align: center;
      margin-top: rpx(20);
      .shortBtn {
        width: rpx(130);
        height: rpx(40);
        background-color: transparent;
        border-radius: 0;
        &:after {
          border: none;
        }
      }
      .left {
        border-top-left-radius: rpx(20);
        border-bottom-left-radius: rpx(20);
        border: rpx(1) solid $color-font-FFA;
        border-right: none;
        box-sizing: border-box;
        @include text(16, $color-font-FFA)
      }
      .right {
        background: $gradient-park-active;
        border-top-right-radius: rpx(20);
        border-bottom-right-radius: rpx(20);
        @include text(16, $white)
      }
    }

    &.desc {
      text-align: center;
      .carImage {
        @include wh(136, 89);
      }
      .title {
        @include text(18, $color-font-222);
        font-weight: bold;
        padding-bottom: rpx(15);
        text-align: center;
      }
      .text {
        text-align: left;
        @include text(14, $color-font-333);
        line-height: rpx(20);
        max-height: rpx(200);
        overflow-y: scroll;
        word-break: break-all;
      }
    }
  }
}

.date-time-picker {
  width: 100%;
}