@import "../../../style/global";

page {
  height: 100%;
  background-color: #F0F3F7;
}

.activity-confirm {
  //名称
  .activity-name {
    height: rpx(44);
    background-color: $white;
    padding: 0 rpx(15);
    display: flex;
    align-items: center;
    font-size: rpx(15);
    color: #333333;
    .text {
      display: flex;
      @include limit-line(1);
    }
  }
  //时间地点
  .activity-info {
    background-color: $white;
    margin-top: rpx(10);
    .activity-info-block {
      height: rpx(44);
      display: flex;
      align-items: center;
      background-color: $white;
      margin-left: rpx(15);
      justify-content: space-between;
      @include border-bottom(#F0F3F7);
      font-size: rpx(14);
      &:last-child {
        &:after {
          border: none;
        }
      }
      .title {
        margin-right: rpx(5);
      }
      .cont {
        padding-right: rpx(15);
        &.weight {
          font-size: rpx(14);
          color: #000000;
        }
      }
    }
  }

  // 余额支付
  .activity-pay {
    margin-top: rpx(10);
    background-color: $white;
    .pay-tips {
      height: rpx(44);
      margin-left: rpx(15);
      display: flex;
      align-items: center;
      @include border-bottom(#F0F0F0);
      .icon-pay {
        display: block;
        width: rpx(15);
        height: rpx(15);
        margin-right: rpx(8);
      }
      text {
        font-size: rpx(12);
        color: #8D98A6;
      }
    }
    .pay-price-wrap {
      margin: 0 rpx(15);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .pay-number {
        font-size: rpx(14);
        color: #616C7A;
        align-self: flex-start;
        padding-top: rpx(25);
        text {
          color: #151515;
        }
      }
      .pay-info {
        text-align: right;
        padding: rpx(14) 0 0;
        input {
          width: rpx(150);
          height: rpx(38);
          border: 1px solid #B4C2D4;
          border-radius: rpx(4);
          text-align: right;
          padding-right: rpx(5);
          &.active {
            border: 1px solid #C0A063;
          }
        }
      }
    }
    .pay-price {
      margin: 0 rpx(15);
      text-align: right;
      font-size: rpx(16);
      color: #616C7A;
      padding: rpx(13) 0;
      text {
        color: #616C7A;
      }
    }
  }
  .tips {
    text-align: center;
    font-size: rpx(12);
    color: #8D98A6;
    padding-top: rpx(15);
  }
}

//footer
.activity-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: rpx(64);
  background-color: $white;
  border-top: rpx(1) solid #f0f0f0;
  .btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rpx(64);
    padding: 0 rpx(15);
    &.btn-block-part {
      justify-content: space-between;
      .btn {
        justify-content: flex-end;
      }
    }
  }
  .price {
    display: flex;
    align-items: center;
    font-size: rpx(20);
    color: #333333;
    width: rpx(116);
    justify-content: center;
  }
  .btn {
    display: flex;
    align-items: center;
  }
  button {
    border-radius: rpx(100);
    height: rpx(40);
    &:after {
      border: none;
    }
    &.active {
      width: rpx(335);
      font-size: rpx(16);
      color: #584114;
      background-image: linear-gradient(51deg, #E3C282 0%, #F7E1B6 100%);
      &.join {
        width: rpx(228);
      }
    }
    &.un-join {
      background: #B4C2D4;
      width: rpx(335);
      font-size: rpx(16);
      color: #FFFFFF;
    }
  }
}