@import "../../style/global";

.btn-groups {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 rpx(12);
  .btn-group {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .img {
      @include wh(18, 18);
    }
    .text {
      padding-top: rpx(5);
      @include text(10, $color-font-333);
    }
  }
}
