@import "../../../style/global";

.container {
  height: 100vh;
}
.list {
  height: 100vh;
  box-sizing: border-box;
  background: $list-bgColor;
}

/*分类固定标签*/
.category-wrap {
  @include wh(62, 36);
  background: $white;
  box-shadow: 0 0 rpx(5) 0 rgba(0, 0, 0, 0.10);
  border-radius: 0 rpx(18) rpx(18) 0;
  position: fixed;
  top: rpx(10);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .category-img {
    @include wh(14, 14);
  }
  .category-text {
    @include text(12, #2D2D2D);
    margin-left: rpx(5);
  }
}

.category-container {
  background: $white;
  box-shadow: 0 rpx(8) rpx(10) 0 rgba(0, 0, 0, 0.30);
  width: rpx(116);
  height: 100vh;
  padding: rpx(28) 0 rpx(28) 0;
  .category-item {
    margin: rpx(20) 0;
    @include text(14, #616C7A);
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      border-left: rpx(4) solid #CA9F59;
      color: #584114;
    }
  }
}