@import "../../style/global";

.dialog_mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.dialog_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  transform: translateY(150%);
  transition: all 0.4s ease;
  z-index: 1001;
}

.dialog_show .dialog_container {
  transform: translateY(0);
}

.dialog_show .dialog_mask {
  display: block;
}

.dialog__mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.dialog__container {
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: translateY(150%);
  transition: all 0.4s ease;
  z-index: 1001;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dialog--show .dialog__container {
  transform: translateY(0);
}

.dialog--show .dialog__mask {
  display: block;
}