@import "../../style/global";

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: rpx(40);
  margin-bottom: rpx(-40);
}

.loading {
  width: rpx(15);
  height: rpx(15);
  border: rpx(3) dashed #333333;
  border-bottom: #cccccc rpx(3) dashed;
  border-radius: 50%;
  animation: load 1.1s infinite linear;

}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tip {
  margin-left: rpx(5);
  color: #666;
  font-size: rpx(14);
}

.pagination {
  height: 100%;
  box-sizing: border-box;
}

.empty-page {
  height: 100%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.loadings {
  padding: rpx(5) 0;
  width: 100%;
  height: rpx(40);
  box-sizing: border-box;
  image {
    width: rpx(30);
    height: rpx(30);
    display: block;
    margin: 0 auto;
  }
}
