@import "../../style/global";

//.share-btn {
//  position: fixed;
//  right: rpx(25);
//  bottom: rpx(95);
//  z-index: 8;
//  @include wh(50, 50);
//  background-color: rgba(0, 0, 0, .5);
//  border-radius: 100%;
//}
