@import '../../../style/global';

page {
  height: 100%;
  background: #ffffff;
}

.form-item {
  @include flex-space-between();
  align-items: center;
  @include border-bottom(#F0F0F0);
  line-height: rpx(50);
  margin-right: rpx(15);
  margin-left: rpx(15);
  .title, .cont {
    @include text(14, #333333);
    width: rpx(100);
  }
  .title-name {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .flex1 {
      flex: 1;
    }
  }
  .cont {
    flex: 1;
    text-align: left;
    .empty-cont {
      @include wh(18, 18);
      padding-left: rpx(10);
    }
  }
  .flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include text(14, #584114);
    image {
      @include wh(9.01, 9);
      margin-left: rpx(5);
    }
  }
  .required {
    @include text(12, #FF6378);
  }
  .place-class {
    text-align: left;
    @include text(14, #999999);
  }
}

// 查询结果
.search-result {
  overflow-y: auto;
  max-height: rpx(236);
  line-height: normal;
  padding-left: rpx(105);
  padding-right: rpx(15);
  box-shadow: 0 rpx(5) rpx(10) 0 rgba(0,0,0,0.15);
  @include text(14, #333333);
  .company-item {
    padding-top: rpx(10);
    @include border-bottom(#F0F0F0);
    .tax-num {
      @include text(10, #999999);
      padding-top: rpx(5);
      padding-bottom: rpx(10);
    }
  }
  .close-btn {
    line-height: rpx(36);
    font-weight: bold;
    @include text(14, #AC6257);
    text-align: right;
    padding-right: rpx(15);
  }
}
