@import "../../style/global";

page {
  background: $white;
}

.blank-space {
  height          : rpx(10);
  background-color: #eff3f7;
}

.inner {
  padding-top: rpx(25);
}

.confirm-content {
  @include text(14, #343C40);
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}

.sign-wrap {
  .wrap {
    background-color: $white;

    .inner {
      margin: 0 rpx(20);
    }
  }

  // 表单
  .lists {
    .list {
      @include border-bottom($border-color-bottom);
      height     : rpx(48);
      display    : flex;
      align-items: center;

      .placeholder {
        @include text(13, $color-font-placeholder)
      }

      .default-input {
        width: 100%;
        @include text(13, $color-font-000);
      }

      .icon-enter {
        color      : #999;
        font-size  : rpx(14);
        font-weight: 500;
      }

      &.code {
        justify-content: space-between;

        .default-input {
          width: 50%;
        }

        .code-btn {
          @include text(14, #4184FB);
          @include code-btn();
        }

        .state-change {
          @include text(14, #777777);
        }
      }
    }
  }

  // 协议
  .agree {
    display      : flex;
    align-items  : center;
    margin-top   : rpx(30);
    margin-bottom: rpx(35);

    .label {
      @include checkbox2(14);
      //.checkbox .wx-checkbox-input.wx-checkbox-input-checked {
      //  border: none;
      //  background-image: linear-gradient(-90deg, #3a95fc 0%, #3a95fc 100%);
      //}
    }

    .agree-txt {
      @include text(13, $color-font-616);

      text {
        @include text(13, #4184FB);
      }
    }
  }

  // 注册提示
  .sign-tip {
    @include text(14, $color-font-333);

    &-cont {
      @include text(13, $color-font-8D9);
      margin-top   : rpx(15);
      margin-bottom: rpx(10)
    }

    &-tel {
      text-align: center;
      @include text(13, $color-font-8D9);

      .tel {
        @include text(13, #4184FB);
      }
    }
  }

  // 按钮
  .btn-wrap {
    margin-top    : rpx(50);
    padding-bottom: rpx(30);

    .sign-btn {
      @include wh(320, 50);
      border-radius   : rpx(100);
      background-image: linear-gradient(-90deg, #0C5CA5 0%, #0C5CA5 100%);
      box-shadow      : 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
      @include text(16, $white);
      display        : flex;
      align-items    : center;
      justify-content: center;
      margin         : 0 auto;

      &:after {
        border: none;
      }
    }
  }

  // 注册成功弹窗
  .dialog-wrap {
    width        : 640rpx;
    height       : 703rpx;
    border-radius: rpx(10);
    text-align   : center;
    position     : relative;

    .close {
      position: absolute;
      right   : 28rpx;
      top     : 60rpx;
      width   : rpx(18);
      height  : rpx(18);
    }

    .img {
      display: block;
      width  : 640rpx;
      height : 703rpx;
    }

    .title-wrap {
      position  : absolute;
      top       : 80rpx;
      width     : rpx(194);
      text-align: center;
      left      : 50%;
      transform : translateX(-50%);

      .title {
        display        : flex;
        justify-content: center;
        @include text(20, $color-font-1A1);
        font-weight: bold;
      }

      .desc {
        @include text(14, $color-font-1A1);
        margin-top: rpx(8);

        .num {
          @include text(20, #4184FB);
          font-weight: bold;
        }
      }
    }

    .btn {
      left            : 50%;
      bottom          : 56rpx;
      position        : absolute;
      transform       : translateX(-50%);
      width           : rpx(228);
      height          : rpx(50);
      background-image: linear-gradient(-90deg, #0C5CA5 0%, #0C5CA5 100%);
      border-radius   : rpx(100);
      @include text(16, $white);
      display        : flex;
      align-items    : center;
      justify-content: center;
    }
  }

  // 授权弹窗
  .author-dialog {
    width        : rpx(295);
    border-radius: rpx(10);
    text-align   : center;
    position     : relative;

    .close {
      position: absolute;
      right   : rpx(10);
      top     : rpx(10);
      width   : rpx(18);
      height  : rpx(18);
    }

    .titles-wrap {
      background-color: $white;
      padding-bottom  : rpx(30);
      border-radius   : rpx(10);

      .titles {
        padding-top     : rpx(10);
        border-radius   : rpx(10) rpx(10) 0 0;
        height          : rpx(45);
        display         : flex;
        justify-content : center;
        align-items     : center;
        background-color: $white;
        @include text(18, $color-font-333);
        font-weight: bold;
      }

      .descs {
        @include text(15, $color-font-222);
        padding: rpx(20);
      }

      .author-btn {
        @include wh(228, 50);
        border-radius   : rpx(100);
        background-image: linear-gradient(-90deg, #0C5CA5 0%, #0C5CA5 100%);
        @include text(14, $white);
        display        : flex;
        align-items    : center;
        justify-content: center;
        margin         : 0 auto;

        &:after {
          border: none;
        }
      }

      .other-btn {
        padding-top: rpx(17);
        @include wh(228, 20);
        @include text(14, #0C5CA5);
        color          : #0C5CA5;
        display        : flex;
        align-items    : center;
        justify-content: center;
        margin         : 0 auto;

        &:after {
          border: none;
        }
      }
    }
  }
}