@import "../../../style/global";

page {
  height: 100%;
}

.activity-enter {
  .activity-enter-wrap {
    padding-top: rpx(10);
    padding-bottom: rpx(74);
  }

  //基本信息
  .activity-list {
    background-color: $white;
    padding: rpx(10) rpx(10) rpx(12);
    margin-bottom: rpx(10);
    .activity-img-wrap {
      width: rpx(355);
      height: rpx(177.5);
      border-radius: rpx(10);
      margin-bottom: rpx(10);
      .activity-img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .activity-detail {
      position: relative;
      .title {
        @include text(15, $color-font-333);
        margin-bottom: rpx(5);
        @include limit-line(2);
      }
      .tags {
        padding: rpx(5) 0;
        .tag {
          @include active-tag();
        }
      }
      .time {
        @include text(12, $color-font-999);
        margin: rpx(5) 0;
      }
      .price {
        @include text(14, $color-font-222);
        .text {
          @include text(10, $color-font-222);
          &.pad {
            padding: 0 rpx(3);
          }
        }
        .num {
          @include text(16, $color-font-222);
        }
      }
      .limit {
        position: absolute;
        bottom: 0;
        right: 0;
        @include text(15, $color-font-333);
      }
    }

  }

  //时间地点
  .activity-info {
    background-color: $white;
    margin-top: rpx(10);
    .activity-info-block {
      padding: rpx(14) 0;
      display: flex;
      align-items: center;
      background-color: $white;
      margin-left: rpx(15);
      @include border-bottom($border-color-F0F);
      font-size: rpx(14);
      &:last-child {
        &:after {
          border: none;
        }
      }
      .title {
        margin-right: rpx(5);
        width: rpx(65);
        align-self: flex-start;
      }
      .cont {
        flex: 1;
        padding-right: rpx(15);
      }
    }
  }

  .activity-enter-tips {
    margin: 0 rpx(15);
    @include text(13, $color-font-666);
    height: rpx(44);
    display: flex;
    align-items: center;
  }

  //联系人
  .activity-person {
    background-color: $white;
    .activity-info-block {
      padding: rpx(10) 0;
      display: flex;
      align-items: center;
      background-color: $white;
      margin-left: rpx(15);
      @include border-bottom($border-color-F0F);
      font-size: rpx(14);
      &.flex-start {
        align-items: flex-start;
      }
      &:last-child {
        &:after {
          border: none;
        }
      }
      .title {
        width: rpx(120);
        @include no-wrap();
        display: flex;
        align-items: center;
        .required {
          color: #FF596D;
          padding-right: rpx(2);
        }
      }
      .cont {
        flex: 1;
        text-align: right;
        margin-right: rpx(15);
        .input-text {
          word-break: break-all;
        }
        .input-placeholder, .textarea-placeholder {
          @include text(14, $color-font-placeholder-B4C);
        }
        .radio {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-bottom: rpx(8);
          // radio
          radio .wx-radio-input {
            border: 1px solid #CBCBCB;
            @include wh(16, 16);
            box-sizing: border-box;
            vertical-align: text-top;
          }

          radio.disabled .wx-radio-input,
          radio.disabled .wx-radio-input.wx-radio-input-checked {
            background-image: linear-gradient(90deg, #D3E3ED 0%, #BAC8D1 100%) !important;
            border: transparent !important;
          }

          radio .wx-radio-input {
            &.wx-radio-input-checked {
              border: none !important;
              background-image: linear-gradient(227deg, #808080 0%, #3B3B3B 100%) !important;
            }
            &.wx-radio-input-checked {
              &:before {
                border-radius: 50%;
                @include wh(16, 16);
                line-height: rpx(16);
                text-align: center;
                @include text(16, $white);
                background: transparent;
              }
            }
          }
          .img-icon {
            border-radius: 50%;
            width: rpx(20);
            height: rpx(20);
          }
        }
        textarea {
          width: 100%;
          position: static;
        }
        .img-lists {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .img-wrap {
            width: rpx(80);
            height: rpx(80);
            background: #F0F0F0;
            border: 1px solid #F0F0F0;
            position: relative;
            border-radius: rpx(4);
            text-align: center;
            &.empty {
              border: none;
              background: #FFF;
            }
            .close {
              position: absolute;
              top: rpx(8);
              right: rpx(8);
              width: rpx(20);
              height: rpx(20);
            }
            .image {
              width: rpx(80);
              height: rpx(80);
              border-radius: rpx(4);
            }
            .upload {
              width: rpx(30);
              height: rpx(27);
              position: absolute;
              top: 40%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            .limit {
              width: rpx(30);
              height: rpx(27);
              position: absolute;
              top: 80%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: rpx(12);
              color: #4A4A4A;
            }
          }
        }
      }
    }
    .err-tips {
      margin-right: rpx(15);
      font-size: rpx(14);
      color: #E02D43;
      padding-top: rpx(10);
      text-align: right;
    }
  }
}

//footer
.activity-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: rpx(50);
  background-color: $white;
  z-index: 10;
  box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
  .btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rpx(50);
    padding: 0 rpx(15);
  }

  .btn {
    display: flex;
    align-items: center;
  }
  button {
    border-radius: rpx(2);
    width: rpx(345);
    height: rpx(36);
    @include text(16, $white);
    &:after {
      border: none;
    }
    &.active {
      @include text(16, $white);
      background-image: $gradient-active;
    }
    &.un-join {
      @include text(16, $color-font-ECE);
      background-image: $gradient-btn-disabled;
    }
  }
}
