@import "../../style/global";

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

// 投票样式
.vote {
  .vote-lists {
    position: absolute;
    top: rpx(35);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
    .vote-list {
      background-color: $white;
      padding: rpx(10) rpx(10) rpx(16);
      margin-top: rpx(10);
      position: relative;
      .vote-status {
        position: absolute;
        top: rpx(3);
        right: rpx(20);
        width: rpx(85);
        height: rpx(38);
        display: block;
      }
      .vote-img-wrap {
        width: rpx(355);
        height: rpx(177.5);
        border-radius: rpx(10);
        margin-bottom: rpx(10);
        display: flex;
        align-items: center;
        justify-content: center;
        .vote-img {
          display: block;
          width: rpx(355);
          height: rpx(177.5);
          border-radius: rpx(10);
        }
      }
      .vote-title {
        @include text(16, #333);
        margin-bottom: rpx(5);
        padding-right: rpx(30);
        @include limit-line(2);
        word-break: break-all;
      }
      .vote-time {
        @include text(12, #999);
      }
    }
  }
}

