@import "../../../style/global";

.comment-wrap {
  background-color: $white;
  .comment-lists {
    margin-left: rpx(15);
    height: 100vh;
    padding-bottom: rpx(60);
    .comment-list {
      display: flex;
      padding: rpx(16) rpx(15) 0 0;
      &:last-child {
        .info {
          &:after {
            display: none
          }
        }
      }
      .avatar {
        @include wh(36, 36);
        margin-right: rpx(10);
        flex: rpx(36) 0 0;
        border-radius: 100%;
      }
      .info {
        flex: 1;
        @include border-bottom(#EDEDED, dashed);
        padding-bottom: rpx(15);
        overflow: hidden;
        .name {
          @include text(15, $color-font-666);
          @include limit-line(1);
        }
        .time-start {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .time {
            @include text(12, $color-font-999);
          }
        }
        .img-lists {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .img-list {
            @include wh(80, 80);
            background-color: $bgColor-FDF;
            border-radius: rpx(4);
            margin: rpx(10) rpx(10) 0 0;
          }
          image {
            @include wh(80, 80);
          }
        }
        .comment-content {
          padding: rpx(15) 0 0;
          @include text(14, $color-font-333);
        }
        .reply-lists {
          background: $bgColor-9F7;
          border-radius: 4px;
          margin-top: rpx(10);
          padding: rpx(10) rpx(10) 0;
          .reply-list {
            padding-bottom: rpx(10);
            @include text(14, $color-font-333);
          }
          .reply-authors {
            .reply-author {
              @include text(14, $color-font-8B5);
            }
            .reply {
              @include text(14, $color-font-999);
              padding: 0 rpx(5);
            }
          }
        }
        .del-num {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: rpx(10);
          .num {
            @include text(14, $color-font-8B5);
          }
          .del {
            @include text(14, $color-font-FF6)
          }
        }
      }
      .delete {
        float: right;
        @include text(14, $color-font-FF6)
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: rpx(50);
  background-color: $white;
  box-shadow: 0 rpx(-1) rpx(5) 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  .btn {
    @include wh(345, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rpx(2);
    background-image: $gradient-active;
    @include text(14, $white)
  }
}