@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";

@mixin inline-block($va) {
  display: inline-block;
  vertical-align: $va;
}

@mixin text-item() {
  @include text(13, $color-font-616);
  line-height: rpx(18);
}

.flex-1 {
  flex: 1
}

.container {
  background-color: $bgColor;
  .topImage {
    padding: rpx(15);
    width: rpx(345);
    height: rpx(345);
    background: #fff;
    overflow: hidden;
    .swiper-wrap {
      height: rpx(345);
      position: relative;
      .swiper-item {
        text-align: center;
        position: relative;
      }
      .slide-image-wrap {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @include wh(345, 345);
      }
      .slide-image {
        @include wh(345, 345);
        margin: 0 auto;
        border-radius: rpx(10);
      }
      .wx-swiper-dots.wx-swiper-dots-horizontal {
        margin-bottom: rpx(2);
        margin-left: rpx(130);
      }
      .wx-swiper-dot {
        width: rpx(4);
        display: inline-flex;
        height: rpx(4);
        margin-left: rpx(1);
        justify-content: space-between;
      }
      .wx-swiper-dot::before {
        content: '';
        flex-grow: 1;
        background: rgba(255, 255, 255, 0.5);
        border-radius: rpx(4)
      }
      .wx-swiper-dot-active {
        width: rpx(16);
        display: inline-flex;
        height: rpx(4);
        margin-left: rpx(5);
        justify-content: space-between;
      }
      .wx-swiper-dot-active::before {
        background: rgba(255, 255, 255, 1);
      }
    }
  }

  .state-wrap {
    width: 100%;
    height: rpx(56);
    display: flex;
    align-items: center;
    background: $gradient-gift;
    .price-wrap {
      flex: 1;
      height: rpx(56);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: rpx(15);
      box-sizing: border-box;
      .new-price {
        .num {
          @include text(24, $white);
        }
        .text {
          @include text(12, $white);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }
      .old-price {
        @include text(12, $white);
        .num {
          text-decoration: line-through;
          @include text(18, $white);
        }
      }
    }
    .time-wrap {
      flex: rpx(147) 0 0;
      width: rpx(147);
      height: rpx(56);
      position: relative;
      image {
        @include wh(147, 56);
      }
      .time-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include text(14, $white);
      }
      .time-line-block {
        margin-left: rpx(20);
      }
    }
  }

  .titleWrap {
    padding: 0 rpx(15);
    width: rpx(345);
    background: #fff;
    .title {
      @include flex-space-between();
      height: rpx(44);
      line-height: rpx(44);
      background: $gradient-gift;
      border-radius: rpx(10);
      .title-price {
        .title-price-now {
          @include inline-block(top);
          @include text(20, $white);
          text {
            @include text(14, $white);
          }
        }
        .title-price-old {
          margin-left: rpx(5);
          @include inline-block(top);
          @include text(13, $white);
          text-decoration: line-through;
        }
      }
      .title-time {
        @include text(14, $white);
      }
    }
  }
  .good {
    padding: rpx(10) 0 0 rpx(15);
    background: #fff;
    .good-name {
      padding-right: rpx(15);
      padding-bottom: rpx(10);
      @include text(16, $color-font-222);
      line-height: rpx(20);
      word-break: break-all;
      @include border-bottom($border-color-F0F);
      @include flex-space-between();
      align-items: center;
    }
    .good-tips {
      @include flex-space-between();
      padding: rpx(11) rpx(15) rpx(11) 0;
      .good-tips-item {
        @include text-item();
        image {
          margin-top: rpx(2);
          margin-right: rpx(8);
          width: rpx(12);
          height: rpx(12);
          vertical-align: top;
        }
        &.empty {
          width: rpx(90);
        }
      }
    }
  }
  .shop {
    padding-top: rpx(13);
    padding-bottom: rpx(13);
    @include flex-space-between();
    align-items: center;
    .shop-info {
      flex: 1;
      @include flex-space-between();
      align-items: center;
      .shop-info-image {
        flex-shrink: 0;
        margin-right: rpx(10);
        width: rpx(70);
        height: rpx(70);
        border-radius: rpx(5);
        background-color: $border-color-E5E;
      }
      .shop-info-name {
        padding-bottom: rpx(8);
        @include text(15, $color-font-333);
      }
      .shop-info-text {
        @include text-item();
      }
      .shop-info-button {
        width: rpx(80);
        height: rpx(30);
        line-height: rpx(30);
        border: 1px solid #D21C1E;
        border-radius: rpx(30);
        font-size: rpx(13);
        text-align: center;
        color: #D21C1E;
      }
    }
    .shop-navigation {
      flex-shrink: 0;
      width: rpx(45);
      height: rpx(45);
      border-radius: 50%;
      &hover {

      }
    }
  }
  .detail {
    padding-top: rpx(10);
    padding-bottom: rpx(10);
    .detail-tit {
      margin-bottom: rpx(10);
      @include text(15, $color-font-333);
      line-height: rpx(22);
    }
    .detail-con {
      @include text-item();
      line-height: rpx(20);
      letter-spacing: rpx(2);
    }
  }
  .page-bottom-place {
    width: 1px;
    height: rpx(100);
  }

  .footer {
    position: fixed;
    bottom: 0;
    z-index: 9;
    box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    width: rpx(375);
    height: rpx(50);
    display: flex;
    justify-content: center;
    background: $white;
    .groups {
      padding: 0 0 0 rpx(10);
    }
    .btn-groups {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-group {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        padding-right: rpx(10);
        .img {
          @include wh(20, 18);
        }
        text {
          padding-top: rpx(5);
          @include text(10, $color-font-333);
        }
        .cart-count {
          padding: rpx(2) rpx(3);
          min-width: rpx(8);
          height: rpx(10);
          background-color: $color-font-FF6;
          border-radius: 100%;
          @include text(10, $white);
          line-height: 1;
          position: absolute;
          top: rpx(3);
          right: rpx(18);
        }
      }
    }
    .join-cart {
      width: rpx(90);
      //flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
      &.active {
        background-image: $gradient-btn-cart;
        @include text(14, $white);
      }
      &.inactive {
        background-image: $gradient-btn-cart-inactive;
        @include text(14, $color-font-7E7);
      }
    }
    .submit-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-image: $gradient-active;
      color: $white;
      &.inactive {
        color: $color-font-ECE;
        background-image: $gradient-btn-disabled;
      }
      .new-price {
        .num {
          font-size: rpx(12);
        }
        .text {
          font-size: rpx(10);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }
      .state {
        font-size: rpx(14);
      }
    }
  }
  .page-bottom {
    @include border-top($border-color-F0F);
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    padding: rpx(12) rpx(15) rpx(12) rpx(22);
    width: rpx(375);
    height: rpx(64);
    background-color: $white;
    line-height: rpx(40);
    @include flex-space-between();
    .shopping-cart {
      flex-grow: 1;
      height: rpx(40);
      @include flex-space-between();
      flex-direction: column;
      position: relative;
      overflow: visible;
      &-count {
        padding: rpx(2) rpx(3);
        min-width: rpx(8);
        height: rpx(10);
        background-color: $color-font-FF6;
        border-radius: rpx(7);
        @include text(10, $white);
        line-height: 1;
        position: absolute;
        top: rpx(-2);
        left: rpx(20);
      }
      &-image {
        width: rpx(19);
        height: rpx(18);
        margin-top: rpx(4);
        margin-left: rpx(3.5);

      }
      &-text {
        @include text(10, $color-font-7F7);
        height: rpx(14);
        line-height: rpx(14);
      }
    }
    .btn-wrapper {
      width: rpx(284);
      height: rpx(40);
      font-size: rpx(16);
      text-align: center;
      @include flex-space-between();
      .btn-line {
        box-sizing: border-box;
        width: rpx(142);
        flex-grow: 1;
        line-height: rpx(38);
        border: rpx(1) solid $sc-line-inactive;
        border-top-left-radius: rpx(40);
        border-bottom-left-radius: rpx(40);
        color: $sc-line-inactive;
        &.active {
          border-color: $sc-line-active;
          color: $sc-line-active;
        }
        &.inactive {
          border-color: $sc-line-inactive;
          color: $sc-line-inactive;
        }
      }
      .btn-solid {
        width: rpx(142);
        flex-grow: 1;
        border-top-right-radius: rpx(40);
        border-bottom-right-radius: rpx(40);
        &.active {
          color: $white;
          background-image: $gradient-active;
        }
        &.inactive {
          color: $sc-solid-inactive;
          background-image: $sc-solid-inactive-bg;
        }
      }
    }
  }
}

#goods-share {
  flex-shrink: 0;
  margin: 0 0 0 rpx(15);
  padding: 0;
  width: rpx(20);
  height: rpx(20);
  background-color: transparent;
  &:after {
    border: none;
  }
  .goods-share {
    width: rpx(20);
    height: rpx(20);
    vertical-align: top;
  }
}

.plr15 {
  padding-left: rpx(15);
  padding-right: rpx(15);
  background-color: $white;
}

.plr10 {
  padding-left: rpx(10);
  padding-right: rpx(10);
}

.mb10 {
  margin-bottom: rpx(10);
}


// radio样式
radio.skuDialog--radio-css .wx-radio-input {
  border: 1px solid #CBCBCB;
  @include wh(16, 16);
  box-sizing: border-box;
  vertical-align: text-top;
}

radio.skuDialog--radio-css .wx-radio-input.wx-radio-input-checked{
  border: none !important;
  background-image: linear-gradient(227deg, #808080 0%, #3B3B3B 100%) !important;
}

radio.skuDialog--radio-css .wx-radio-input.wx-radio-input-checked:before{
  border-radius: 50%;
  @include wh(16, 16);
  line-height: rpx(16);
  text-align: center;
  @include text(16, $white);
  background: transparent;
}