@import "../../../style/global";

.evaluate {
  padding-top: rpx(10);
  .label {
    @include text(14, $color-font-333);
  }
  .tips {
    @include text(10, $color-font-FF6);
  }
}

.rating {
  height: rpx(44);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  padding: 0 rpx(15);
}

.content {
  margin-top: rpx(10);
  padding: 0 rpx(15) rpx(15);
  background-color: $white;
  .label {
    height: rpx(44);
    line-height: rpx(44);
  }
  .cont {
    border: rpx(1) solid $border-color-E5E;
    border-radius: rpx(2);
    .input {
      width: 100%;
      height: rpx(100);
      padding: rpx(10);
      box-sizing: border-box;
      @include text(14, $color-font-333)
    }
  }
  .textarea-inner {
    @include text(14, $color-font-8D9)
  }
}

.upload-wrap-block {
  margin-top: rpx(10);
  padding: rpx(15);
  background-color: $white;
  .label {

  }
  .img-lists-wrap {
    width: rpx(375);
    .img-lists {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      .img-wrap {
        width: rpx(80);
        height: rpx(80);
        background: $bgColor-FDF;
        position: relative;
        border-radius: rpx(4);
        text-align: center;
        margin-top: rpx(10);
        margin-right: rpx(10);
        &.empty {
          border: none;
          background: $white;
        }
        &.upload-wrap {
          border: 1px dashed $border-color-D4D;
          background: $white;
        }
        .close {
          position: absolute;
          top: rpx(-9);
          right: rpx(-9);
          width: rpx(18);
          height: rpx(18);
        }
        .image {
          display: block;
          width: rpx(80);
          height: rpx(80);
          border-radius: rpx(4);
        }
        .upload {
          width: rpx(22);
          height: rpx(20);
          position: absolute;
          top: 47%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .limit {
          width: rpx(30);
          height: rpx(27);
          position: absolute;
          top: 82%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: rpx(12);
          color: #4A4A4A;
        }
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: rpx(50);
  background-color: $white;
  box-shadow: 0 rpx(-1) rpx(5) 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  .btn {
    @include wh(345, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rpx(2);
    background-image: $gradient-active;
    @include text(14, $white);
    &.un{
     background-image: $gradient-active-un;
    }
  }
}