@import "../../style/global";
.inner{
  background: #F0F0F0;
  box-shadow: 0 rpx(-1) rpx(20) 0 rgba(0, 0, 0, 0.2);
  border-radius: rpx(10) rpx(10) 0 0;
  .header{
    @include flex-space-between();
    align-items: center;
    padding: rpx(15);
    .title{
      font-size:rpx(16);
      color: #292D40;
      font-weight:500;
    }
    .close{
      color: #79888F;
      font-size:rpx(20);
    }
  }
  .coupon-scroll{
    padding: rpx(0) rpx(15) rpx(15);
    max-height: rpx(500);
    min-height: rpx(220);
    overflow-y: auto;
    .coupon{
      @include flex-space-between();
      align-items: stretch;
      padding:rpx(10) 0 rpx(10) rpx(10);
      background-color: #ffffff;
      box-shadow: 0 0 rpx(3) rpx(1) rgba(0, 0, 0, 0.03);
      border: rpx(0.5) solid #F0F0F0;
      margin-bottom:rpx(10);
      border-radius:rpx(4);
      .cover{
        width:rpx(80);
        height:rpx(80);
        background-color: #F0F0F0;
        border-radius:rpx(1);
      }
      .coupon-data{
        flex:1;
        padding-left:rpx(10);
        max-width: rpx(150);
        .name{
          color: #012433;
          font-size:rpx(14);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .tips{
          color: #77818C;
          font-size:rpx(12);
          margin-top:rpx(10);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .validate{
          color: #77818C;
          font-size:rpx(12);
          margin-top:rpx(15);
        }
      }
      .coupon-btn{
        position: relative;
        width:rpx(84);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: rpx(10);
        &:after,
        &:before{
          content: '';
          display: block;
          width: rpx(15);
          height: rpx(15);
          background-color: #f1f1f1;
          border-radius: 100%;
          position: absolute;
          left: rpx(-10);
        }
        &:after{
          top: rpx(-18);
        }
        &:before{
          bottom:rpx(-27);
        }
        .count{
          font-size:rpx(12);
          color: #77818C;
          margin-bottom:rpx(10);
          .num{
            color: #FB5B41;
          }
        }
        .btn-coupon{
          width: rpx(64);
          height: rpx(24);
          line-height:rpx(24);
          background: linear-gradient(270deg, #FB5B41 0%, #FFAF7A 100%);
          box-shadow: 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
          border-radius: rpx(39);
          font-size:rpx(10);
          color: #fff;
          padding:0;
          &:after{
            display:none;
          }
        }
      }
    }
  }
  .fixed-bottom{
    height: rpx(50);
    background: #FFFFFF;
    box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
    padding: rpx(7) rpx(15);
    .btn-unused{
      height: rpx(36);
      line-height:rpx(36);
      background: $gradient-active;
      box-shadow: 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
      border-radius: rpx(18);
      color: #ffffff;
      font-size:rpx(14);
      text-align: center;
    }
  }
}
