/* pages/demo.wxss */
@import "../../../style/global";

.parkingRecords {
    font-size:rpx(12);
    color: #585858;
    padding-bottom:rpx(80);
    .padding{
      padding: 0 rpx(15);
    }

}
.recordBox {
    background-color: #ffffff;
    margin: rpx(10) 0;
    padding: rpx(19) rpx(20) rpx(10) rpx(20);
}
.contain {
    padding: 0 0 rpx(10) 0;
    .icon {
        width: rpx(44);
        height: rpx(44);
        margin: auto;
    }
    .text_tcf {
        color: #67747A;
        text-align: center;
        font-size: rpx(13);
        height: rpx(20);
        line-height: rpx(20);
    }
    .price {
        color: #292D40;
        text-align: center;
        font-size: rpx(24);
        height: rpx(33);
        line-height: rpx(33);
        margin-bottom: rpx(22);
    }
    .itemBox {
        display: flex;
        position: relative;
        font-size: rpx(14);
        line-height: rpx(20);
        margin-bottom: rpx(5);
        width: 100%;
        .text_name {
            width: 20%;
            color: #67747A;
            float: left;
        }
        .text_value {
            width: 80%;
            text-align: right;
            color: #343C40;
            float: right;
        }
    }
}
.bottom {
    position: relative;
    width: 100%;
    padding-top: rpx(10);
    border-top: #F0F0F0 solid rpx(1);
    font-size: rpx(13);
    .icon {
        position: absolute;
        top: 0;
        right: 0;
        height: rpx(12);
        width: rpx(7);
        margin-top: rpx(12);
    }
}