@import "../../style/global";
.loading{
  width:100vw;
  height:100vh;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}
.circle-wrap{
  position: relative;
  width: rpx(130);
  height: rpx(130);
  margin: rpx(160) auto;
}
.circle{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  border: rpx(0.5) solid #f5f5f5;
  border-radius: 50%;
  animation: spin 4s linear infinite;
  .dot{
    position: absolute;
    top: rpx(15);
    left: rpx(15);
    width:rpx(8);
    height: rpx(8);
    background: $gradient-active;
    border-radius: 50%;
  }
}
.logo{
  position: relative;
  top:rpx(10);
  margin: 0 auto;
  width: rpx(110);
  height: rpx(110);
  line-height: rpx(110);
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 rpx(12) rpx(3) rgba(111, 111, 111, 0.06);
  .img{
    width: 70%;
    height: 70%;
    margin-top:rpx(10);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}