@import "../../style/global";

.express {
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  .order-detail-block {
    margin: rpx(10);
    background-color: $white;
    border-radius: rpx(10);
    padding: 0 rpx(15);
    @include box-shadow-order();
  }

  .title-block-wrap {
    padding: rpx(10) 0;
    .title-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include text(14, $color-font-616);
      line-height: 1.6;
      .title-left {
        width: rpx(80);
        align-self: flex-start;
        flex: 0 0 rpx(80);
      }
      .title-right {
        text-align: right;
      }
    }
  }

  // 状态
  .status {
    padding: rpx(15) rpx(15);
    .status-text {
      @include text(18, $color-font-333);
      font-weight: bold;
    }
    .status-tips {
      @include text(12, $color-font-222);
      padding-top: rpx(6);
    }
  }

}

.express-list {
  margin: 0 auto;
  text-align: center;
  .img {
    width: rpx(360);
  }
}

.express-item {
  width: 100%;
  display: flex;
  // 时间轴
  .express-item-left {
    width: rpx(20);
    flex: rpx(20) 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .online-top {
      height: rpx(10);
      width: rpx(1);
      background: #d7d7d7;
    }
    .online-bottom {
      width: rpx(1);
      background: #d7d7d7;
      height: 100%;
    }
    .dot-closing {
      @include wh(5, 5);
      border-radius: 50%;
      background: #fe4f33;
    }
  }
  // 右边文字
  .express-item-right {
    padding: 0 0 rpx(15) rpx(15);
    .state {
      @include text(15, $color-font-616);
      padding-bottom: rpx(4);
    }
    .text {
      @include text(13, $color-font-616);
      line-height: 1.6;
    }
  }

  // 左边日期
  .express-item-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: rpx(50) 0 0;
    .text {
      @include text(13, $color-font-616);
    }
    .time {
      @include text(11, $color-font-616);
      margin-top: rpx(4);
    }
  }
  &:last-child {
    .express-item-left {
      .online-bottom {
        display: none;
      }
    }
  }
  &:first-child {
    .express-item-left {
      .online-top {
        background-color: $white;
      }
    }
  }
}


