@import "../../style/global";
.actionSheet {
  background: transparent !important;
}

.checkboxWrapper {
  flex-shrink: 0;
  width: rpx(16);
  @include flex-center();
}

.wrap {
  height: 637rpx;
  background: #ffffff;
  border-radius: rpx(10) rpx(10) 0 0;

  &-header {
    display: flex;
    margin: 0 rpx(15);
    position: relative;
    box-sizing: border-box;
    .img-wrap {
      @include wh(110, 110);
      margin-right: rpx(10);
      image {
        display: block;
        border-radius: rpx(4);
        @include wh(110, 110);
        margin-right: rpx(10);
        position: relative;
        top: rpx(-25);
        background-color: #f2f2f2;
      }
    }

    .info {
      flex: 1;
      .new-price {
        font-weight: 500;
        margin-top: rpx(12);
        .num {
          @include text(20, #292d40);
        }
        .text {
          @include text(10, #292d40);
          &.pad {
            padding: 0 rpx(2);
          }
        }
      }

      .sku-stock {
        @include text(17, #333333);
        margin-top: rpx(20);
        font-weight: bold;
      }

      .sku-tip {
        margin-top: rpx(5);
        @include text(12, #343c40);
      }
    }

    .close {
      position: absolute;
      @include wh(19, 19);
      color: #79888f;
      top: rpx(10);
      right: 0;
    }
  }

  .sku-item {
    margin-top: 30rpx;
    margin-bottom: 35rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    .market-name {
      font-size: 28rpx;
      font-weight: 500;
      color: #666666;
      display: flex;
      flex: 1;
      justify-content: center;
    }
    .sku-price {
      font-size: 28rpx;
      font-weight: 500;
      color: #ff4c43;
      display: flex;
      flex: 1;
      justify-content: center;
    }
    .choose-btn {
      display: flex;
      flex: 1;
      justify-content: center;
      .btn {
        @include wh(69, 27);
        background-image: $gradient-active;
        border-radius: rpx(30);
        @include text(12, #ffffff);
        text-align: center;
        line-height: rpx(27);
      }
      .select-item {
        background-image: $gradient-gift !important
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rpx(58);
    box-shadow: 0 rpx(-1) rpx(5) 0 rgba(0, 0, 0, 0.05);
    .btn {
      @include wh(345, 38);
      background-image: $gradient-active;
      border-radius: rpx(30);
      @include text(15, #ffffff);
      text-align: center;
      line-height: rpx(38);
    }
  }

  &-body {
    padding: 0 rpx(15);
    max-height: rpx(325);
    overflow-y: scroll;
    .title {
      @include text(14, #333);
      font-weight: bold;
    }
    .wrapper {
      display: flex;
      @include flex-space-between();
      align-items: center;
      max-height: rpx(40);
      padding: rpx(15) 0;
      box-sizing: border-box;
      @include border-bottom(rgba(0, 0, 0, 0.1));
      .radio {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: rpx(30);
        @include text(12, #333);
        &.disabled {
          color: #999;
        }
        .iconfont {
          font-size: rpx(20);
          vertical-align: middle;
        }
        .icon-success {
          color: #adbbcc;
        }
        .icon-success_fill {
          color: #4787fb;
        }
        .radio-css {
          display: none;
        }
      }
    }
    .attribute-group {
      padding: rpx(15) 0;
      @include border-bottom(rgba(0, 0, 0, 0.1));
      .attribute-group-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .attribute-item {
          height: rpx(30);
          line-height: rpx(30);
          text-align: center;
          padding: 0 rpx(15);
          border: rpx(1) solid #adbbcc;
          border-radius: rpx(2);
          margin-right: rpx(10);
          margin-top: rpx(10);
          font-size: rpx(12);
          color: #333;
          &.active {
            background-color: rgba(65, 132, 251, 0.05);
            color: #4184fb;
            border-color: #4184fb;
          }
        }
      }
    }
  }
}

.item-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30rpx;
  padding-left: 40rpx;
  padding-right: 40rpx;
  padding-bottom: 30rpx;
  .text {
    @include text(14, $color-font-333);
  }
  .item-format-wrapper {
    @include flex-space-between();
    .item-format-btn {
      box-sizing: border-box;
      width: rpx(30);
      height: rpx(28);
      line-height: rpx(28);
      border: rpx(1) solid #b8c6d9;
      border-radius: rpx(0);
      padding: 0;
      &:after {
        display: none;
      }
      &.minus {
        border-top-left-radius: rpx(2);
        border-bottom-left-radius: rpx(2);
      }
      &.plus {
        border-top-right-radius: rpx(2);
        border-bottom-right-radius: rpx(2);
      }
    }
    .item-format-text {
      display: inline-block;
      box-sizing: border-box;
      padding: 0 rpx(10);
      min-width: rpx(60);
      height: rpx(28);
      @include text(12, $color-font-666);
      line-height: rpx(28);
      text-align: center;
      border-top: rpx(1) solid #b8c6d9;
      border-bottom: rpx(1) solid #b8c6d9;
    }
  }
}
