@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";

@mixin inline-block($va) {
  display: inline-block;
  vertical-align: $va;
}

@mixin text-item() {
  @include text(13, $color-font-616);
  line-height: rpx(18);
}

.container {
  background-color: $list-bgColor;
  .top {
    padding: rpx(15);
    margin-bottom: rpx(10);
    background-color: $white;
    overflow: hidden;
    .top-image {
      width: rpx(345);
      height: rpx(230);
      display: block;
      border-radius: rpx(10);
      background-color: $white;
    }
    .top-title {
      padding: rpx(12) 0 rpx(7);
      @include text(16, $color-font-222);
      line-height: rpx(23);
      word-break: break-all;
    }
    .top-info {
      @include flex-space-between();
      height: rpx(25);
      line-height: rpx(25);
      .top-info-shop {
        @include flex-space-between();
        .top-info-shop-image {
          flex-shrink: 0;
          margin-right: rpx(9);
          width: rpx(25);
          height: rpx(25);
          border-radius: 50%;
        }
        .top-info-shop-name {
          @include text(14, $color-font-333);
          @include no-wrap();
        }
      }
      .top-shop-time {
        flex-shrink: 0;
        @include text(13, $color-font-616);
      }
    }
  }
  .detail {
    padding: rpx(10) rpx(15);
    background-color: $white;
    .detail-tit {
      @include text(15, $color-font-333);
      line-height: rpx(22);
    }
    .detail-con {
      padding-top: rpx(10);
      @include text(13, $color-font-616);
      line-height: rpx(20);
      letter-spacing: rpx(3);
    }
  }
}
