@import "../../../style/global";

@mixin total() {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 rpx(15);
  &.sub {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 !important;
  }
  &Label {
    @include text(11, $color-font-666);
  }
  .price-wrap {
    display: flex;
    align-items: center;
    .tips {
      @include text(12, $color-font-222);
    }
    .item-price {
      .num {
        @include text(15, $color-font-A32);
      }
      .text {
        @include text(10, $color-font-A32);
        &.pad {
          padding: 0 rpx(2);
        }
      }
    }
  }

  &Num {
    @include text(15, $color-font-primary);
  }
}

.bg-white {
  background-color: #fff;
}

.list {
  padding: rpx(10) 0 rpx(90);
  box-sizing: border-box;
  background: $list-bgColor;
  .shop {
    margin: 0 rpx(10) rpx(10);
    padding: 0 rpx(15);
    background: $white;
    border-radius: rpx(10);
    .shop-title-wrapper {
      @include flex-space-between();
      height: rpx(36);
      line-height: rpx(16);
      .shop-title {
        display: flex;
        padding: rpx(10) 0;
        width: rpx(325);
        height: rpx(16);
        border-bottom: rpx2(1) dashed $border-color-F0F;
        @include text(13, $color-font-222);
        @include no-wrap();
        &-img {
          margin-right: rpx(7);
          width: rpx(14);
          height: rpx(14);
          vertical-align: middle;
        }
      }
    }
    .item {
      @include flex-space-between();
      height: rpx(90);
      border-bottom: rpx2(1) dashed $border-color-F0F;
      padding: rpx(15) 0;
      position: relative;
      &-img {
        flex-shrink: 0;
        width: rpx(90);
        height: rpx(90);
        border-radius: rpx(5);
      }
      &-img-icon{
        @include wh(60, 24);
        position: absolute;
        top: rpx(11);
        left: rpx(-4);
      }
      &-content {
        flex-grow: 1;
        padding: 0 0 0 rpx(10);
        @include flex-space-between();
        flex-direction: column;
        &-name {
          max-height: rpx(36);
          @include text(13, $color-font-333);
          line-height: rpx(18);
          @include limit-line(2);
        }
        &-state {
          align-self: flex-start;
          display: inline-block !important;
          margin-top: rpx(3);
          padding: 0 rpx(7) 0 rpx(4);
          height: rpx(20);
          @include text(13, $color-font-666);
          line-height: rpx(20);
          background: $list-bgColor;
          border-radius: rpx(4);
        }
        &-sku {
          margin-top: rpx(10);
          @include text(12, #7A8799);
        }
        &-footer {
          flex-grow: 1;
          @include flex-space-between();
          align-items: flex-end;
          .item-price {
            @include text(16, $color-font-primary);
            line-height: 1;
            .num {
              @include text(16, $color-font-primary);
            }
            .text {
              @include text(10, $color-font-primary);
              &.pad {
                padding: 0 rpx(2);
              }
            }
          }
          .item-count {
            @include text(16, $color-font-666);
          }
          .item-num {
            @include text(14, $color-font-999);
          }
          .item-format-wrapper {
            @include flex-space-between();
            .item-format-btn {
              box-sizing: border-box;
              width: rpx(22);
              height: rpx(20);
              border: rpx(1) solid $border-color-DBD;
              .item-format-img {
                width: rpx(20);
                height: rpx(18);
              }
              &.minus {
                border-top-left-radius: rpx(2);
                border-bottom-left-radius: rpx(2);
              }
              &.plus {
                border-top-right-radius: rpx(2);
                border-bottom-right-radius: rpx(2);
              }
            }
            .item-format-text {
              display: inline-block;
              box-sizing: border-box;
              padding: 0 rpx(10);
              min-width: rpx(22);
              height: rpx(20);
              @include text(12, $color-font-666);
              line-height: rpx(20);
              text-align: center;
              border-top: rpx(1) solid $border-color-DBD;
              border-bottom: rpx(1) solid $border-color-DBD;
            }
          }
        }
      }
    }
    .item-number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: rpx(40);
      .text {
        @include text(14, $color-font-333);
      }
      .item-format-wrapper {
        @include flex-space-between();
        .item-format-btn {
          box-sizing: border-box;
          width: rpx(30);
          height: rpx(28);
          border: rpx(1) solid $border-color-DBD;
          .item-format-img {
            width: rpx(30);
            height: rpx(28);
          }
          &.minus {
            border-top-left-radius: rpx(2);
            border-bottom-left-radius: rpx(2);
          }
          &.plus {
            border-top-right-radius: rpx(2);
            border-bottom-right-radius: rpx(2);
          }
        }
        .item-format-text {
          display: inline-block;
          box-sizing: border-box;
          padding: 0 rpx(10);
          min-width: rpx(60);
          height: rpx(28);
          @include text(12, $color-font-666);
          line-height: rpx(28);
          text-align: center;
          border-top: rpx(1) solid $border-color-DBD;
          border-bottom: rpx(1) solid $border-color-DBD;
        }
      }
    }
    .total {
      @include total();
      padding: 0;
      height: rpx(44);
      //border-top: rpx2(1) dashed $border-color-F0F;
    }
  }
  .error-cart {
    padding-top: rpx(80);
    &-img {
      display: block;
      margin: rpx(0) auto;
      width: rpx(150);
      height: rpx(150)
    }
    &-text {
      margin: rpx(27) auto rpx(48);
      @include text(14, $color-font-8D9);
      line-height: rpx(20);
      text-align: center;
    }
    [class*=btn] {
      margin: 0 auto rpx(10);
      width: rpx(222);
      height: rpx(40);
      box-sizing: border-box;
      border-radius: rpx(20);
      @include flex-center();
    }
    &-btn1 {
      @include text(16, #fff);
      background-image: $gradient-active;
    }
    &-btn2 {
      @include text(16, $color-font-primary);
      border: 1px solid $color-font-primary;
    }
  }
  .delivery {
    margin-top: rpx(10);
    margin: 0 rpx(10);
    padding: 0 rpx(15);
    border-radius: rpx(10);
    .delivery-way {
      height: rpx(44);
      display:flex;
      align-items: center;
      @include border-bottom(#F0F0F0);
      .delivery-way-left {
        @include text(14, #616973);
      }
      .delivery-way-right {
        flex: 1;
        text-align: right;
        @include text(14, #616C7A);
      }
      .delivery-icon {
        margin-right: rpx(8);
        width: rpx(15);
        height: rpx(15);
        background-color: #eee;
      }
      .delivery-way-arrow {
        width: rpx(10);
        height: rpx(15);
        margin-left: rpx(10);
        // margin-right: rpx(15);
        image {
          display: block;
          width: rpx(10);
          height: rpx(15);
        }
      }
    }
    .delivery-instruction {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: rpx(44);
      .item {
        @include text(13, #616C7A);
        font-weight: bold;
        line-height: rpx(18);
        &:last-of-type {
          margin-left: rpx(18);
        }
        image {
          margin-top: rpx(2);
          margin-right: rpx(8);
          width: rpx(13);
          height: rpx(12);
          vertical-align: top;
        }
      }
    }
    .delivery-address {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: rpx(90);
      .item {
        @include text(13, #616C7A);
        font-weight: bold;
        line-height: rpx(18);
        &:last-of-type {
          margin-left: rpx(18);
        }
      }
      .default-txt {
        flex: 1;
        @include text(14, #333333);
      }
      .address-select {
        display: flex;
        flex: 1;
        margin-right: rpx(25);
        .address-logo {
          width: rpx(30);
          height: rpx(30);
          margin-right: rpx(10);
          image {
            display: block;
            width: rpx(30);
            height: rpx(30);
          }
        }
        .address-content {
          display: flex;
          flex:1;
          flex-direction: column;
          .info {
            display: flex;
            justify-content:space-between;
            align-items: center;
            .name{
              @include text(15, #333333);
            }
            .phone{
              @include text(12, #666666);
            }
          }
          .address {
            @include text(12, #333333);
          }
          .default-block {
            @include wh(30,14);
            background: #FCF0E1;
            border-radius: rpx(2);
            @include text(10, #A38158);
            text-align: center;
            margin-right: rpx(5);
            display: inline-block;
            line-height: 28rpx;
            vertical-align: middle;
          }
        }
      }
      .address-arrow {
        width: rpx(10);
        height: rpx(15);
        // flex: rpx(15) 0 0;
        image {
          display: block;
          width: rpx(10);
          height: rpx(15);
        }
      }
    }
  }
  .info-box {
    margin: rpx(10);
    background: #fff;
    border-radius: rpx(10);
    &-delivery {
      padding: 0 rpx(15);
      border-radius: rpx(10);
      .delivery-way {
        height: rpx(44);
        display:flex;
        align-items: center;
        .delivery-way-left {
          @include text(14, #616973);
        }
        .delivery-way-right {
          flex: 1;
          text-align: right;
          @include text(14, #616C7A);
        }
        .delivery-icon {
          margin-right: rpx(8);
          width: rpx(15);
          height: rpx(15);
          background-color: #eee;
        }
        .delivery-way-arrow {
          width: rpx(10);
          height: rpx(15);
          margin-left: rpx(10);
          image {
            display: block;
            width: rpx(10);
            height: rpx(15);
          }
        }
      }
    }
    .row-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: rpx(44);
      margin: 0 rpx(15);
      font-size: rpx(14);
      color: #616973;
      border-top: rpx(1) solid #F0F0F0;
      .freight {
        font-size: rpx(14);
        color: #333333;
      }
      .coupon-none {
        flex: 1;
        font-size: 14px;
        color: #8D98A6;
        text-align: right;
      }
      .coupon-right {
        flex: 1;
        font-size: rpx(14);
        color: #F34665;
        text-align: right;
      }
      .coupon-arrow {
        width: rpx(10);
        height: rpx(15);
        margin-left: rpx(10);
      }
    }
  }
}

.not-points {
  width: 100%;
  height: rpx(40);
  display: flex;
  align-items: center;
  justify-content: center;
  @include text(14, $white);
  position: fixed;
  bottom: rpx(50);
  background: $color-font-666;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  height: rpx(50);
  background-color: $white;
  box-shadow: 0 rpx(-2) rpx(5) 0 rgba(0, 0, 0, 0.05);
  @include flex-space-between();
  align-items: center;
  position: fixed;
  bottom: 0;
  .total {
    @include total();
  }
  .submit {
    width: rpx(158);
    height: rpx(50);
    background-image: $gradient-active;
    @include text(16, $white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 0;
    &.inactive {
      background-image: $gradient-btn-disabled;
      color: $color-font-ECE;
    }
    &:after {
      border: none;
    }
  }
}

.fs12 {
  font-size: rpx(12) !important;
  vertical-align: baseline;
}

.error-dialog {
  width: rpx(295);
  background: #fff;
  box-shadow: 0 rpx(8) rpx(13) 0 rgba(0, 0, 0, 0.11);
  border-radius: rpx(10);
  text-align: center;
  &-close-wrapper {
    width: 100%;
    height: rpx(30);
    display: flex;
    justify-content: flex-end;
  }
  &-close {
    width: rpx(46);
    height: 100%;
    @include flex-center();
    image {
      width: rpx(17);
      height: rpx(17);
    }
  }
  &-title {
    height: rpx(25);
    width: 100%;
    @include text(18, #333);
    font-weight: bold;
    line-height: rpx(25);
  }
  &-content {
    padding: rpx(20) rpx(28) rpx(14);
    @include text(15, #333);
    line-height: rpx(21);
    &-row {
      margin-bottom: rpx(13);
    }
  }
  &-footer {
    padding: 0 rpx(20) rpx(20);
    @include flex-space-between();
    height: rpx(38);
    font-size: rpx(16);
    [class^=btn] {
      width: rpx(127);
      flex-grow: 1;
      @include flex-center();
    }
    .btn-line {
      border: 1px solid $color-font-primary;
      color: $color-font-primary;
      border-top-left-radius: rpx(19);
      border-bottom-left-radius: rpx(19);
    }
    .btn-solid {
      background-image: $sc-solid-err-bg;
      color: #fff;
      border-top-right-radius: rpx(19);
      border-bottom-right-radius: rpx(19);
    }
  }
}
