@import "../../style/global";

.deliver-dialog-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  .wrap{
    width: rpx(263);
    height: rpx(226);
    position: relative;
    border-radius: rpx(10);
    background: $white;
    padding: rpx(20);
    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      @include text(16, #292D40);
    }
    .total-fee{
      margin-top:rpx(20)
    }
    .delivery-fee{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height:rpx(30);
      @include text(12, #292D40);
    }
    .desc{
      @include text(12, #292D40);
      margin-top:rpx(10);
    }
  }
  .divLine{
    background: #E0E3DA;
    width: 100%;
    height: 5rpx;
  }
  .close {
    position: fixed;
    bottom: rpx(110);
    left: 50%;
    transform: translateX(-50%);
    .img {
      width: rpx(34);
      height: rpx(34);
    }
  }
}