@import "../../../style/global";
page, block, view, scroll-view, swiper, movable-view, icon, text, progress, button, checkbox, form, input, label, picker, picker-view, radio, slider, switch, textarea, navigator, audio, image, video, map, canvas, contact-button, cover-image, cover-view {
  box-sizing: border-box;
}
// .user {
//   font-size:rpx(12);
//   color: #585858;
//   padding-bottom:rpx(80);
//   .padding{
//     padding: 0 rpx(15);
//   }
// }
page{
  height: 100%;
  font-size: 28rpx;
  color: #555;
  background: #efeff4;
  overflow-x: hidden;
}
page>.page {
  width: 750rpx;
  overflow-x: hidden;
}
.hidden {
  display: none !important;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}
.flex-y-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
.flex-x-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info {
  width: 100%;
  background-color: #ff4544;
  padding: 20rpx 24rpx 0 24rpx;
  color: #fff;
}

.info .info-title {
  border-bottom: 1rpx #ffa2a2 solid;
  padding-bottom: 20rpx;
}

.info .info-title .info-img {
  width: 120rpx;
  height: 120rpx;
  border-radius: 120rpx;
}

.info .info-block {
  padding: 18rpx 40rpx;
}

.info .info-block .info-up {
  font-size: 30rpx;
  margin-bottom: 30rpx;
}

.info .info-title .choose-store {
  width: 330rpx;
  height: 50rpx;
  padding: 0 20rpx;
  border-radius: 8rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  image {
    width: 24rpx;
    height: 14rpx;
    display: block;
  }
}
.info-big {
  font-size: 30rpx;
}

.info .info-content {
  width: 100%;
  padding-top: 22rpx;
}

.info .info-content .info-left {
  width: 50%;
}

.info .info-content .info-right {
  width: 50%;
  margin-top: 24rpx;
}

.info .info-content .info-left .info-label {
  padding-bottom: 40rpx;
}

.info-label .info-first {
  margin-bottom: 24rpx;
}

.info-right .info-btn {
  border: 1rpx #e3e3e3 solid;
  border-radius: 10rpx;
  float: right;
  text-align: center;
  font-size: 30rpx;
  margin-bottom: 24rpx;
  padding: 6rpx;
}

.list {
  background-color: #fff;
  width: 100%;
}

.list .border-bottom {
  border-bottom: 1rpx #e3e3e3 solid;
}

.list .item {
  width: 33.3333%;
  height: 220rpx;
  border-right: 1rpx solid #e3e3e3;
}

.list .item:last-child {
  border-right: 0;
}

.list .item .list-img {
  width: 100%;
  margin-top: 40rpx;
  text-align: center;
}

.list .item .list-img .img {
  width: 50rpx;
  height: 50rpx;
}

.list .item .list-content {
  color: #666;
  margin-top: 13rpx;
  text-align: center;
}

.list-red {
  color: #ff4544;
}

.new-block {
  width: 100%;
  padding: 44rpx 10rpx;
  margin-bottom: 16rpx;
  background-color: #fff;
}

.new-block .flex-grow-1 {
  width: 50%;
}

.new-block .flex-grow-1:first-child {
  border-right: 1rpx #eee solid;
}

.new-block .flex-grow-1 {
  text-align: center;
}


.organize-model-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 9999;

  .organize-model-box {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 10rpx;
    overflow: hidden;
    padding-bottom: 40rpx;

    .title {
      background: #FC6248;
      line-height: 100rpx;
      font-size: 32rpx;
      color: #fff;
      text-align: center;
      margin-bottom: 40rpx;
    }

    .list {
      height: 344rpx;
    }

    .item {
      width: 80%;
      margin: 0 auto 40rpx;
      height: 88rpx;
      line-height: 88rpx;
      text-align: center;
      font-size: 28rpx;
      color: #fff;
      background: #FC6248;
      border-radius: 44rpx;

    }

    .item:last-child {
      margin-bottom: 0;
    }

    .close-btn {
      position: absolute;
      width: 60rpx;
      height: 60rpx;
      right: 20rpx;
      top: 20rpx;
      transform: rotate(45deg);
    }

    .close-btn::after,
    .close-btn::before {
      content: "";
      background: #FFF;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .close-btn::after {
      width: 32rpx;
      height: 2rpx;
    }

    .close-btn::before {
      width: 2rpx;
      height: 32rpx;
    }
  }
}