@import "../../../style/global";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  &.ONLINE .GIFT,
  &.OFFLINE .PARKING {
    display: none;
  }
}
.inner {
  position: relative;
  z-index: 200;
  height: rpx(48);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .tabs {
    display: inline-block;
    position: relative;
    height: rpx(30);
    background-color: #fff4f2;
    border: rpx(0.5) solid #fb5b41;
    font-size: rpx(14);
    color: #fb5b41;
    border-radius: rpx(19);
    .tab-item {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: rpx(100);
      height: rpx(30);
      line-height: rpx(30);
      text-align: center;
      &.active {
        color: #ffffff;
      }
    }
    &.OFFLINE > .line-item {
      left: rpx(100);
    }
    &.ONLINE > .line-item {
      left: 0;
    }
    .line-item {
      position: absolute;
      top: 0;
      width: rpx(100);
      height: rpx(30);
      border-radius: rpx(19);
      background-color: #fb5b41;
      transition-duration: 0.3s;
    }
  }
}
.filter {
  position: relative;
  .filter-inner {
    position: relative;
    z-index: 200;
    color: #343c40;
    font-size: rpx(12);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: #fff;
    .filter-item {
      flex: 1;
      line-height: rpx(40);
      text-align: center;
      &.active {
        color: #fb5b41;
      }
    }
  }
  .filter-sheet {
    position: absolute;
    top: rpx(40);
    left: 0;
    right: 0;
    z-index: 20;
    transform: translateY(-150%);
    opacity: 0;
    transition-duration: 0.3s;
    background-color: #fff;
    &.show {
      opacity: 1;
      transform: translateY(0);
      & + .mask {
        display: block;
      }
    }
    .sheet-item {
      font-size: rpx(14);
      color: #626973;
      height: rpx(44);
      padding: rpx(12) rpx(15);
      box-sizing: border-box;
      &.active {
        color: #fb5b41;
        background: #fff4f2;
      }
    }
  }
  .mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.coupon-scroll {
  padding: rpx(98) rpx(15) rpx(65) rpx(15);
}

.btn-use {
  width: rpx(64);
  height: rpx(24);
  line-height: rpx(24);
  background: $gradient-active;
  box-shadow: 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
  border-radius: rpx(39);
  font-size: rpx(10);
  color: #fff;
  text-align: center;
  &:after {
    display: none;
  }
}

.expire-iamge {
  width: rpx(64);
  height: rpx(64);
  position: absolute;
  right: -30rpx;
  top: -1rpx;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
  .btn-more {
    width: rpx(345);
    height: rpx(36);
    line-height: rpx(36);
    text-align: center;
    margin: rpx(10) auto;
    background: $gradient-active;
    box-shadow: 0 rpx(2) rpx(4) 0 rgba(243, 79, 51, 0.25);
    border-radius: rpx(18);
    color: #ffffff;
    font-size: rpx(14);
  }
}

.load-state {
  text-align: center;
  font-size: rpx(12);
  color: #999;
  margin-top: rpx(15);
}

.card-bg {
  position: relative;
  .card {
    width: rpx(325);
    border-radius: rpx(5);
    text-align: center;
    font-size: rpx(12);
    color: #67747a;
    padding-bottom: rpx(30);
    background-color: $white;
    .card-title {
      width: 100%;
      height: rpx(44);
      background: #4184fb1a;
      font-weight: 500;
      border-radius: rpx(8) rpx(8) rpx(2) rpx(2);
    }
    .card-title-phone {
      font-size: rpx(14);
      color: #000;
      line-height: rpx(40);
    }
    .count-down {
      display: inline-block;
      padding: 0 rpx(10);
      color: #4184fb;
      font-size: rpx(10);
      margin: rpx(15) auto rpx(30) auto;
      background: #4184fb1a;
      border-radius: rpx(2);
    }
    .card-erweima {
      margin: rpx(15) auto rpx(10);
      width: rpx(177);
      height: rpx(177);
      display: block;
    }
    .card-code {
      line-height: rpx(22);
      text-align: center;
      @include text(15, $color-font-000);
      padding-top: rpx(10);
      padding-bottom: rpx(20);
    }
    .card-go {
      display: inline-block;
      height: rpx(40);
      width: rpx(240);
      margin: 0 auto;
      color: #fff;
      font-size: rpx(14);
      line-height: rpx(40);
      border-radius: rpx(25);
      background: linear-gradient(270deg, #4184fb 0%, #98b6fe 100%);
      box-shadow: 0 0 rpx(15) 0 rgba(195, 196, 196, 0.3);
    }
  }
  .card-close {
    width: rpx(20);
    height: rpx(20);
    position: absolute;
    bottom: rpx(-50);
    left: 50%;
    margin-left: rpx(-10);
  }
}
