@import "../../../style/global";
@import "../../../wxParse/wxParse.scss";

.vote-details {
  padding-bottom: rpx(74);
  // 信息投票基本
  .vote-base-info {
    background-color: $white;
    padding: rpx(10) rpx(10) rpx(15);
    .vote-img-wrap {
      width: rpx(355);
      height: rpx(177.5);
      border-radius: rpx(10);
      .vote-img-swiper {
        height: rpx(177.5);
        .img-swiper {
          text-align: center;
          border-radius: rpx(10);
        }
        image {
          border-radius: rpx(10);
          width: rpx(355);
          height: rpx(177.5);
        }
      }
    }
    .title {
      @include text(15, $color-font-333);
      word-break: break-all;
      font-weight: bold;
      padding: rpx(15) rpx(30) rpx(15) 0;
    }
    .time {
      @include text(14, $color-font-333);
    }
  }

  // 投票活动说明
  .vote-desc {
    margin-top: rpx(10);
    padding: rpx(10) rpx(15);
    background-color: $white;
    .title {
      @include text(15, $color-font-333);
      font-weight: bold;
    }
    .cont {
      padding-top: rpx(5);
      @include text(13, $color-font-616);
      letter-spacing: 1.5px;
      line-height: rpx(20);
      word-break: break-all;
    }
  }

  .vote-area {
    height: rpx(40);
    padding: rpx(6) rpx(15) 0;
    display: flex;
    align-items: center;
    @include text(15, $color-font-333);
    font-weight: bold;
    box-sizing: border-box;
  }

  .vote-enter {
    background-color: $white;
    .activity-info-block {
      padding: rpx(10) 0;
      display: flex;
      align-items: center;
      background-color: $white;
      margin-left: rpx(15);
      @include border-bottom($border-color-F0F);
      font-size: rpx(14);
      &.flex-start {
        align-items: flex-start;
      }
      .title {
        width: rpx(80);
        @include no-wrap();
        display: flex;
        align-items: center;
        .required {
          color: #FF596D;
          padding-right: rpx(3);
        }
      }
      .cont {
        flex: 1;
        text-align: right;
        margin-right: rpx(15);
        .input-text {
          word-break: break-all;
        }
        .input-placeholder {
          font-size: rpx(14);
          color: #B4C2D4;
        }
        .textarea-placeholder {
          font-size: rpx(14);
          color: #B4C2D4;
        }
        .radio {

          align-items: center;
          &:last-child {
            margin-left: rpx(40);
          }
          radio .wx-radio-input {
            border-radius: 50%;
            width: rpx(20);
            height: rpx(20);
          }
          radio .wx-radio-input {
            &.wx-radio-input-checked {
              border: none !important;
              background-image: linear-gradient(-90deg, #971E23 0%, #D51A1B 100%) !important;
            }
            &.wx-radio-input-checked {
              &:before {
                border-radius: 50%;
                width: rpx(20);
                height: rpx(20);
                line-height: rpx(20);
                text-align: center;
                @include text(14, $white);
                background: transparent;
                transform: translate(-50%, -50%) scale(1);
                -webkit-transform: translate(-50%, -50%) scale(1);
              }
            }
          }
          .img-icon {
            border-radius: 50%;
            width: rpx(20);
            height: rpx(20);
          }
        }
        textarea {
          width: 100%;
          position: static;
        }
        .img-lists {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-wrap: wrap;
          .img-wrap {
            width: rpx(80);
            height: rpx(80);
            background: #F0F0F0;
            border: 1px solid $border-color-F0F;
            position: relative;
            border-radius: rpx(4);
            text-align: center;
            margin-top: rpx(5);
            margin-left: rpx(5);
            &.empty {
              border: none;
              background: $white;
            }
            .close {
              position: absolute;
              top: rpx(3);
              right: rpx(3);
              width: rpx(20);
              height: rpx(20);
            }
            .image {
              display: block;
              width: rpx(80);
              height: rpx(80);
              border-radius: rpx(4);
            }
            .upload {
              width: rpx(22);
              height: rpx(20);
              position: absolute;
              top: 47%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            .limit {
              width: rpx(30);
              height: rpx(27);
              position: absolute;
              top: 82%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: rpx(12);
              color: #4A4A4A;
            }
          }
        }
      }
    }
    .err-tips {
      margin-right: rpx(15);
      font-size: rpx(14);
      color: #E02D43;
      padding-top: rpx(10);
      text-align: right;
    }
  }
}

//footer
.vote-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: rpx(64);
  background-color: $white;
  border-top: rpx(1) solid $border-color-F0F;
  z-index: 1;
  .btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rpx(64);
    padding: 0 rpx(15);
  }

  .btn {
    display: flex;
    align-items: center;
  }
  button {
    border-radius: rpx(2);
    height: rpx(40);
    @include text(16, $white);
    &:after {
      border: none;
    }
    &.active {
      width: rpx(335);
      background-image: $gradient-active;
    }
    &.un-join {
      background: $gradient-disabled;
      width: rpx(335);
    }
  }
}