@import "../../style/global";
.gm-form {
  @include text(14, $color-font-333);
  line-height: rpx(44);
  .form-title {
    padding: rpx(0) rpx(15);
  }
  .form-item {
    display: flex;
    margin-left: rpx(15);
    background: $white;
    border-bottom: 1px solid $border-color-F0F;
    .form-item-title {
      width: rpx(100);
      &.coupon {
        width: rpx(150);
      }
    }
    .form-item-label {
      padding-right: rpx(15);
      flex: 1;
      text-align: right;
      align-self: center;
    }
    .form-next-icon {
      padding-right: rpx(15);
      width: rpx(9);
      margin-left: rpx(8.8);
      image {
        display: inline-block;
        width: rpx(9);
        height: rpx(13);
        vertical-align: middle;
      }
    }
    .form-right-btn {
      padding-right: rpx(15);
      @include text(14, $color-font-code);
    }
    .default-input {
      width: 100%;
      @include text(13, $color-font-000);
    }
    &.code {
      justify-content: space-between;
      .code-btn {
        @include text(14, $color-font-code);
        @include code-btn();
        align-self: center;
      }
    }
  }
  // 按钮
  .btn-wrap {
    margin-top: rpx(50);
    padding-bottom: rpx(30);
    .sign-btn {
      @include wh(228, 40);
      border-radius: rpx(100);
      background-image: $gradient-active;
      @include text(16, $white);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      font-weight: bold;
      &:after {
        border: none;
      }
    }
  }
}