// 字体图标
@import "style/iconfont.scss";
@import "style/global.scss";
page {
  width: 100%;
  min-height: 100vh;
  background-color: $bgColor;
  font-family: -apple-system-font, 'Helvetica Neue', Helvetica, 'Microsoft YaHei', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}
.navigatorTap {
  opacity: 0.5;
}
.tabBarmenu-item{  
  // width: 32%;  
  float: left;  
  text-align: center;  
  padding-top: 8px;  
}  
.tabBarimg{  
  width: 30rpx;
  height: 30rpx;  
  display: block;  
  margin:auto;  
}  
.tabBarClear{  
  clear: both;  
}  
.tabBartab-bar{  
  position: fixed;  
  width: 100%;  
  padding: 0px 2%;  
  color: #9E9E9E;
  background: white;
}  
.tabBartabbar_text{
  font-size: 25rpx;
  color: #575757;
}
::-webkit-scrollbar {
  display:none;
  width:0;
  height:0;
  color:transparent;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.flex-grow-0 {
  min-width: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flex-grow-1 {
  min-width: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.flex-x-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-y-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.flex-y-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}
