@import "../../style/global";

.nav-tab-wrap {
  position: relative;
  height: 100%;
}

.nav-tab-panel {
  padding-top: rpx(45);
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .nav-tab-content {
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

// 投票样式
.vote {
  position: relative;
  .vote-lists {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
    .vote-list {
      background-color: $white;
      padding: rpx(10) rpx(10) rpx(16);
      margin-top: rpx(10);
      position: relative;
      .vote-status {
        position: absolute;
        top: rpx(3);
        right: rpx(20);
        width: rpx(85);
        height: rpx(38);
        display: block;
      }
      .vote-img-wrap {
        width: rpx(355);
        height: rpx(177.5);
        border-radius: rpx(10);
        margin-bottom: rpx(10);
        display: flex;
        align-items: center;
        justify-content: center;
        .vote-img {
          display: block;
          width: rpx(355);
          height: rpx(177.5);
          border-radius: rpx(10);
        }
      }
      .vote-title {
        @include text(16, $color-font-333);
        margin-bottom: rpx(5);
        padding-right: rpx(30);
        @include limit-line(2);
        word-break: break-all;
      }
      .vote-time {
        @include text(12, $color-font-999);
      }
    }
  }
}

/*活动样式*/
.activity {
  position: relative;
  // 活动标签样式
  .activity-tags {
    background-color: $white;
    height: rpx(40);
    line-height: rpx(40);
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    padding-left: rpx(15);
    box-sizing: border-box;
    border-bottom: rpx(1) solid $border-color-F2F;
    .tag {
      @include text(13, $color-font-666);
      display: inline-block;
      padding-right: rpx(30);
      &:last-child {
        padding-right: rpx(50);
      }
      &.more {
        @include text(13, $color-font-active-tab);
      }
    }
  }
  // 活动列表样式
  .activity-lists {
    position: absolute;
    top: rpx(40);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    .activity-list {
      background-color: $white;
      padding: rpx(10) rpx(10) rpx(15);
      margin-top: rpx(10);
      .activity-img-wrap {
        width: rpx(355);
        height: rpx(177.5);
        border-radius: rpx(10);
        margin-bottom: rpx(10);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .activity-img {
          display: block;
          width: rpx(355);
          height: rpx(177.5);
          border-radius: rpx(10);
        }
      }

      .activity-detail {
        position: relative;
        .title {
          @include text(15, $color-font-333);
          @include limit-line(1);
          word-break: break-all;
        }
        .tags {
          padding: rpx(5) 0;
          .tag {
            @include active-tag();
          }
        }
        .time {
          @include text(12, $color-font-999);
          margin: rpx(5) 0;
        }
        .free {
          @include text(16, $color-font-222);
          .score, .money {
            @include text(10, $color-font-222);
          }
        }
        .activity-join {
          position: absolute;
          bottom: 0;
          right: 0;
          @include wh(70, 28);
          background-image: $gradient-active;
          border-radius: rpx(40);
          display: flex;
          align-items: center;
          justify-content: center;
          @include text(14, $white);
          &.null-join {
            color: $color-font-AB2;
            background-image: $gradient-disabled;
          }
        }
      }

    }
  }
}