@import "../../../style/global";

.photo-lists-inner {
  padding-top: rpx(10);
  height: 100vh;
  box-sizing: border-box;
  .list {
    padding-left: rpx(15);
    background-color: $white;
    @include border-bottom($border-color-F0F);
    &:last-child:after {
      display: none;
    }
    .list-top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rpx(6.5) 0;
      .info {
        display: flex;
        align-items: center;
        flex: 1;
      }
      .time {
        @include text(16, $color-font-333);
      }
      .arrow {
        @include wh(8, 5);
        margin-left: rpx(4);
        &.up {
          transform: rotate(180deg);
        }
      }
      .status {
        @include wh(55, 55);
        margin-right: rpx(15);
      }
    }
    .list-bottom {
      .apply-desc {
        display: flex;
        align-items: flex-start;
        .title {
          @include text(14, $color-font-333);
          flex: rpx(70) 0 0;
        }
        .cont {
          @include text(14, $color-font-616);
          line-height: 1.5;
          padding-right: rpx(15);
        }
      }
      .img-lists-wrap {
        width: rpx(375);
        padding-bottom: rpx(15);
        .img-lists {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          .img-wrap {
            width: rpx(80);
            height: rpx(80);
            background: #FDF3F0;
            position: relative;
            border-radius: rpx(4);
            text-align: center;
            margin-top: rpx(10);
            margin-right: rpx(10);
            .image {
              display: block;
              width: rpx(80);
              height: rpx(80);
              border-radius: rpx(4);
            }
          }
        }
      }
    }
  }
}