@import "../../style/global";

.container {
  background-color: $bgColor;
}

.nav-tabs {
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  // position: fixed;
  // top: rpx(46);
  left: 0;
  width: rpx(375);
  height: rpx(48);
  z-index: 100;
  box-sizing: border-box;
  .tab-item {
    position: relative;
    z-index:10;
    flex:1;
    text-align: center;
    @include text(14, $color-font-333);
    line-height: rpx(48);
    .tab-name{
      position: relative;
      z-index: 1;
    }
    &.active {
      color: #FB5B41;
      font-weight: 500;
      &:after{
        content: '';
        display: block;
        width: rpx(20);
        height: rpx(6);
        border-radius: rpx(1);
        position: absolute;
        left:50%;
        bottom: rpx(14);
        margin-left:rpx(-10);
        background-color: rgba(255, 216, 187, 0.7);
      }
    }
  }
}

.list-wrapper {
  width: rpx(375);
  height: 100vh;
  box-sizing: border-box;
  .list {
    box-sizing: border-box;
    padding: 0 rpx(10);
    height: 100%;
    .item {
      margin-top: rpx(10);
      border-radius: rpx(10);
      background-color: $white;
      padding: 0 rpx(15);
      @include box-shadow-commodity();
      .item-time {
        @include text(12, $color-font-8D9);
        line-height: rpx(32);
      }
      .item-con {
        padding: rpx(11) 0;
        border-bottom: dashed rpx(2) $border-color-F0F;
        @include flex-space-between();
        .item-con-image {
          width: rpx(90);
          height: rpx(90);
          border-radius: rpx(5);
          flex: rpx(90) 0 0;
        }
        .item-con-right {
          margin-left: rpx(10);
          flex: 1;
          @include flex-space-between();
          flex-direction: column;
          .item-con-right-name {
            @include text(16, $color-font-333);
            @include no-wrap();
            width: rpx(220);
          }
          .time {
            @include text(12, $color-font-8D9);
          }
        }
      }
      .item-bot {
        height: rpx(44);
        @include flex-space-between();
        align-items: center;
        .item-bot-value {
          @include text(15, $color-font-333);
          .price {
            .new-price {
              .num {
                @include text(15, $color-font-222);
              }
              .text {
                @include text(10, $color-font-222);
                &.pad {
                  padding: 0 rpx(2);
                }
              }
            }
          }
        }
        .item-bot-state {
          width: rpx(70);
          height: rpx(28);
          text-align: center;
          line-height: rpx(28);
        }
        .red-color {
          color: red;
        }
      }
    }
  }
}