@import "../../../style/global";
.place-class {
  @include text(12, #999999);
  font-family: UICTFontTextStyleBody;
}
.form-item {
  @include flex-space-between();
  align-items: flex-start;
  @include border-bottom(#f0f0f0);
  padding-right: rpx(15);
  padding-left: rpx(15);
  background: #ffffff;
  .title,
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include text(12, #333333);
    width: rpx(100);
    height: rpx(50);
  }
  .icon-enter {
    align-self: center;
    font-weight: 500;
    color: #bbbbbb;
    font-size: rpx(18);
    margin-left: rpx(5);
  }
  .content {
    flex: 1;
    text-align: right;
    &.textarea {
      height: rpx(100);
      textarea {
        width: 100%;
        height: 100%;
        padding-top: rpx(15);
      }
    }
    .empty-cont {
      @include wh(18, 18);
      padding-left: rpx(10);
    }
  }
  .required {
    @include text(12, #ff6378);
  }
}
.defaultFlag {
  margin-top: rpx(10);
}
.btn {
  width: 228px;
  height: 40px;
  box-shadow: 0 rpx(2) rpx(6) 0 rgba(255, 92, 64, 0.25);
  border-radius: rpx(100);
  @include wh(228, 40);
  @include text(14, $white);
  line-height: rpx(40);
  margin-top: rpx(30);
  margin-bottom: rpx(20);
  background: $gradient-active;
  &:after {
    border: none;
  }
}

.wx-switch-input {
  width: rpx(46) !important;
  height: rpx(26) !important;
}
/*白色样式（false的样式）*/
.wx-switch-input::before {
  width: rpx(44) !important;
  height: rpx(24) !important;
}
/*绿色样式（true的样式）*/
.wx-switch-input::after {
  width: rpx(23) !important;
  height: rpx(22) !important;
  margin-top: rpx(1);
}

button[disabled] {
  background: #b4c2d4 !important;
  color: #ffffff !important;
}

// 删除地址
.delete-head {
  @include text(14, #ff6378);
  display: block;
  width: 100%;
  text-align: center;
  line-height: rpx(20);
}

.region-select {
  width: 100%;
  height: 600rpx;
  background: #fff;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
}

.region-select .hd {
  height: 74rpx;
//   width: 100%;
  border-bottom: 1px solid #f4f4f4;
  padding: 46rpx 30rpx 0 30rpx;
}

.region-select .region-selected {
  float: left;
  height: 60rpx;
  display: flex;
}

.region-select .region-selected .item {
  max-width: 140rpx;
  margin-right: 30rpx;
  text-align: left;
  line-height: 60rpx;
  height: 100%;
  color: #333;
  font-size: 28rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.region-select .region-selected .item.disabled {
  color: #999;
}

.region-select .region-selected .item.selected {
  color: #b4282d;
}

.region-select .done {
  float: right;
  height: 60rpx;
  width: 60rpx;
  border: none;
  background: #fff;
  line-height: 60rpx;
  text-align: center;
  color: #333;
  font-size: 28rpx;
}

.region-select .done.disabled {
  color: #999;
}

.region-select .bd {
  height: 492rpx;
//   width: 100%;
  padding: 0 30rpx;
}

.region-select .region-list {
  height: 492rpx;
}

.region-select .region-list .item {
  width: 100%;
  height: 104rpx;
  line-height: 104rpx;
  text-align: left;
  color: #333;
  font-size: 28rpx;
}

.region-select .region-list .item.selected {
  color: #b4282d;
}

.bg-mask {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
  }
