@import "../../style/global";
/*人气商品样式*/
.hot-commodity-item {
  margin-bottom: rpx(10);
}
// 商品列表
.list-wrap{
  width: rpx(350);
  height: rpx(110);
  background: #FFFFFF;
  box-shadow: rpx(0) rpx(2) rpx(5) rpx(0) rgba(0, 0, 0, 0.05);
  border-radius: rpx(4);
  border: rpx(1) solid #F0F0F0;
  .shop-img{
    width: rpx(90);
    height: rpx(90);
    margin: rpx(10);
  }
  .shop-img2{
    width: rpx(58);
    height: rpx(16);
    margin: rpx(5);
    bottom: rpx(77.5);
    left: rpx(-105);
    position: relative;
  }
  .shop-img3{
    width: rpx(207);
    height: rpx(44);
    margin-top: rpx(22);
  }
  .list-go{
    font-size: rpx(14);
    color: white;
    position: absolute;
    /* top: 110rpx; */
    right: rpx(162.5);
    top: rpx(55);
  }
  .list-text{
    width: rpx(220);
    overflow: auto;
    height: rpx(14);
  }
  .list-body{
    padding:rpx(10);
    // width: rpx(34);
    height: rpx(14);
    font-size: rpx(14);
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    line-height: rpx(14);
    position: relative;
    bottom: rpx(107.5);
    left: rpx(110);
  }
  .list-price{
    right: rpx(185);
    top: rpx(-22.5);
    color: #4184FB;
    font-size: rpx(18);
    position: relative;
    font-weight: 500;
  }
  .list-price2{
    font-size: rpx(10);
    text-decoration: line-through;
    /* padding: 20rpx; */
    right: rpx(-25);
    top: rpx(-20);
    color: #4184FB;
    font-size: rpx(10);
    position: relative;
    font-weight: 400;
  }
  .list-img2{
    height: rpx(15);
    width: rpx(14);
    position: relative;
    left: rpx(115);
    top: rpx(-15);
  }
}
