@import "../../style/global";

.bottom-tips {
  display: flex;
  align-items: center;
  justify-content: center;
  //height: rpx(40);
  font-size: rpx(12);
  color: #999999;
  padding: rpx(25) 0;
  .bottom-text{
    margin: 0 rpx(4);
  }
  .bottom-more{
    margin: 0 rpx(4);
    color: #8B949F;
  }
  .bottom-line {
    width: rpx(88);
    height: rpx(1);
    //border-bottom: rpx(1) solid #D8D8D8;
    &.bottom-line-left{
      background-image: linear-gradient(to left,#D7D7D7,rgba(255, 255, 255, 0.50));
    }
    &.bottom-line-right{
      background-image: linear-gradient(to right,#D7D7D7,rgba(255, 255, 255, 0.50));
    }
  }
}