@import "../../../style/global";

.container {
  height: 100vh;
}

.top-fixed {
  position: fixed;
  top: 0;
  height: rpx(150);
  width: 100%;
  z-index: 10;
}

// 搜索
.top-search-wrap {
  width: 100%;
  height: rpx(50);
  padding: 0 rpx(15);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .top-search {
    display: flex;
    width: rpx(345);
    height: rpx(34);
    background: #F5F6F8;
    border-radius: rpx(50);
    color: #77808C;
    align-items: center;
    .search-img {
      margin-left: rpx(12);
      margin-right: rpx(8);
      width: rpx(19);
      height: rpx(19);
    }
    .search {
      width: 80%;
      height: 100%;
      font-size: rpx(12);
      .input-placeholder {
        font-size: rpx(12);
      }
    }
    .input-style {
      color: #B4C2D4;
    }
  }
}

// 排序
.sort-wrap {
  display: flex;
  align-items: center;
  background-color: $white;
  height: rpx(46);
  .sort-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: rpx(46);
    position: relative;
    &.active {
      .text {
        @include text(16, #FB5B41);
      }
      .border-bottom {
        background: #FB5B41;
      }
    }
    .text {
      @include text(15, #50555C);
    }
    .border-bottom {
      @include wh(20, 3);
      background: #FFF;
      border-radius: rpx(100);
      margin-top: rpx(3);
    }
    .order {
      position: absolute;
      @include wh(6, 10);
      top: 46%;
      transform: translateY(-50%);
      right: 30%;
    }
  }
}

.categroy {
  display: flex;
  height: rpx(46);
  align-items: center;
  width: 100%;
  .categroy-items {
    width: 100%;
    height: rpx(46);
    line-height: rpx(46);
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    .item {
      @include text(13, $color-font-222);
      height: rpx(30);
      display: inline-block;
      line-height: rpx(30);
      margin-right: rpx(15);
      background: #FFFFFF;
      box-shadow: 0 0 rpx(5) 0 rgba(189, 192, 196, 0.20);
      border-radius: rpx(2);
      padding: 0 rpx(16);
      &.active {
        @include text(13, #FB5B41);
      }
      &:first-child{
        margin-left:rpx(15);
      }
      &:last-child {
        margin-right: rpx(50);
      }
    }
  }
  .arrow-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: rpx(46);
    .pulldown-icon {
      width: rpx(10);
      height: rpx(10);
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.list-wrapper {
  @include flex-space-between();
  flex-wrap: wrap;
}

.hot-goods-lists {
  padding: 0 rpx(12) 0;
  position: absolute;
  left: 0;
  width: 100%;
  top: rpx(98);
  bottom: 0;
  box-sizing: border-box;
  background-color: $bgColor;
}

/*分类固定标签*/
.category-wrap {
  @include wh(62, 36);
  background: $white;
  box-shadow: 0 0 rpx(5) 0 rgba(0, 0, 0, 0.10);
  border-radius: 0 rpx(18) rpx(18) 0;
  position: fixed;
  top: rpx(10);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .category-img {
    @include wh(14, 14);
  }
  .category-text {
    @include text(12, #2D2D2D);
    margin-left: rpx(5);
  }
}

.category-container {
  background: $white;
  box-shadow: 0 rpx(8) rpx(10) 0 rgba(0, 0, 0, 0.30);
  width: rpx(116);
  height: 100vh;
  padding: rpx(28) 0 rpx(28) 0;
  .category-item {
    margin: rpx(20) 0;
    @include text(14, #616C7A);
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      border-left: rpx(4) solid #CA9F59;
      color: #584114;
    }
  }
}

.hot-commodity-item {
  width: rpx(172);
  border-radius: rpx(4);
  background: #FFFFFF;
  box-shadow: 0 rpx(2) rpx(5) 0 rgba(0, 0, 0, 0.05);
  margin-top: rpx(10);
  position: relative;
  .hot-presale-img{
    width: rpx(66);
    height: rpx(21);
    position: absolute;
    left: 0;
    top: rpx(5);
  }
  .hot-presale-text{
    position: absolute;
    left: rpx(18);
    top: rpx(11);
    font-size: rpx(9);
    line-height: rpx(9);
    color: #FFFFFF;
    font-family: PingFangSC-Medium;
  }
}
// 商品列表
.list-wrap{
  width: rpx(173);
  font-size:0;
  background: #FFFFFF;
  border-radius: rpx(4);
  .shop-img{
    width: rpx(173);
    height: rpx(173);
    border-top-left-radius: rpx(4);
    border-top-right-radius: rpx(4);
  }
  .list-info{
    padding: 0 rpx(10) rpx(10) rpx(10);
  }
  .text-box {
	  height: rpx(30);
	  overflow: hidden; 
	  margin: rpx(10) 0;
  }
  .list-text{
    font-size: rpx(12);
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #292D40;
    line-height: rpx(15);
    height: rpx(30);
    @include limit-line(2)
  }
  .list-body{
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: rpx(14);
    // color: #FB5B41;
    font-family: PingFangSC-Medium, PingFang SC;
    .nowPrice{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
      line-height: rpx(14);
    }
    .unit{
      font-size:rpx(10);
    }
    .list-price2{
      margin-top:rpx(2);
      font-size: rpx(12);
      color: #B4B9CF;
      text-decoration: line-through;
    }
    .list-img2{
      height: rpx(16);
      width: rpx(16);
    }
  }
}
.fenxiao{
  position: relative;
  top: -10rpx;
  height: 40rpx;
  box-sizing:border-box;
  .fx-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .money_text{
    position: relative;
    text-align: center;
    margin: 0 16rpx;
    font-size: 20rpx;
    color :#FB5B41;
    line-height: 40rpx;
    z-index: 2;
  }
}
