@import "../../style/global";

.new-product-item {
  padding: rpx(15) rpx(10) rpx(15) rpx(15);
  margin: rpx(15) rpx(15) 0;
  width: rpx(345);
  height: rpx(120);
  box-sizing: border-box;
  @include flex-space-between();
  background: #FFFFFF;
  border-radius: rpx(10);
  box-shadow: 0 0 rpx(10) rpx(5) rgba(0, 0, 0, 0.03);
  &:last-child {
    /*margin-bottom: rpx(15);*/
  }
  .goods-img {
    width: rpx(135);
    height: rpx(90);
    border-radius: rpx(5);
    background-color: #fff;
    margin-right: rpx(10);
    flex-shrink: 0;
  }
  .new-goods-detail {
    flex-grow: 1;
    @include flex-space-between();
    flex-direction: column;
    .title {
      margin-bottom: rpx(9);
      width: rpx(175);
      max-height: rpx(36);
      @include limit-line(2);
      @include text(16, $color-font-222);
      line-height: rpx(18);
    }
    .tags {
      flex-grow: 1;
      @include text(13, $color-font-666);
      line-height: rpx(16);
    }
    .time {
      @include text(13, $color-font-8D9);
      line-height: rpx(13);
    }
  }
}
