@import "../../style/global";

.actionSheet {
  background: transparent !important;
}

.checkboxWrapper {
  flex-shrink: 0;
  width: rpx(36);
  @include flex-center();
}

.wrap {
  // height: rpx(493);
  background: #FFFFFF;
  border-radius: rpx(10) rpx(10) 0 0;
  box-shadow: 0 -rpx(2) rpx(5) 0;
  &-header {
    display: flex;
    margin: 0 rpx(15);
    border-bottom: rpx(1) solid #F2F2F2;
    position: relative;
    height: rpx(60);
    box-sizing: border-box;
    .header {
      margin-right: rpx(10);
      margin-top: rpx(25);
      font-size: rpx(16);
      color: #363B40;
      line-height: rpx(16);
    }
    .close {
      position: absolute;
      @include wh(14, 14);
      top: rpx(25);
      right: rpx(10);
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rpx(58);

    .btn {
      @include wh(345, 38);
      background-image: $gradient-active;
      @include text(15, #ffffff);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-body {
    margin: 0 rpx(15);
    height: rpx(325);
    overflow-y: scroll;

    .rule-item {
      display: flex;
      @include flex-space-between();
      align-items: center;
      height: rpx(40);
      padding: rpx(15) 0;
      box-sizing: border-box;
      .tit {
        @include text(14, #333);
      }
      .content {
        margin-right: rpx(10);
        padding-right: rpx(15);
        line-height: rpx(16);
        @include text(14, #333);
        .num {
          font-size: rpx(15);
          color: #D6AA74;
        }
        .text{
          font-size: rpx(14);
          color: #333333;
        }
      }
      .item-format-wrapper {
        margin-right: rpx(10);
        padding-right: rpx(15);
        @include flex-space-between();
        .item-format-btn {
          box-sizing: border-box;
          width: rpx(30);
          height: rpx(28);
          border: rpx(1) solid $border-color-DBD;
          .item-format-img {
            width: rpx(30);
            height: rpx(28);
          }
        }
        .item-format-text {
          display: inline-block;
          box-sizing: border-box;
          padding: 0 rpx(10);
          min-width: rpx(63);
          height: rpx(28);
          @include text(12, $color-font-666);
          line-height: rpx(28);
          text-align: center;
          border-top: rpx(1) solid $border-color-DBD;
          border-bottom: rpx(1) solid $border-color-DBD;
          input {
            width: rpx(60);
            height: rpx(28);
            line-height: rpx(28);
          }
        }
      }
    }
  }
}



