@import "../../style/global";
.counter{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.item{
  display: inline-block;
  width:rpx(18);
  height:rpx(18);
  border-radius: rpx(4);
  line-height:rpx(18);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  color: #FB5B41;
  background-color: #fff;
  box-shadow: rpx(1.5) rpx(1.5) rpx(1) #FB5B41;
}
.unit{
  padding: 0 rpx(5);
  color: #ffffff;
  font-weight:bold;
  font-size:rpx(16);
}