@import "../../style/global";

page {
  background-color: $white;
}

// header
.user-info-wrap {
  height: rpx(255);
  position: relative;
  .bg-image {
    display: block;
    width: 100%;
    height: rpx(255);
  }
  .logo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rpx(255);
    .logo-inner {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: rpx(50);
      .logo {
        display: block;
        @include wh(80, 76);
      }
      .name {
        @include text(22, $white);
        font-weight: bold;
        padding-top: rpx(14);
      }
    }
  }
}

// 选择注册方式
.sign-way-wrap {
  margin-top: rpx(75);
  .sign-wrap-block {
    text-align: center;
    margin-bottom: rpx(30);
    .tips {
      @include text(12, $color-font-616);
      margin-top: rpx(12);
    }
  }
}

.sign-btn {
  @include wh(228, 40);
  border-radius: rpx(100);
  background-image: $gradient-active;
  @include text(16, $white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: bold;
}